Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Disabling stop-writes-on-bgsave-error config in Redis containers
  docker/release/docker-compose.yml
  docker/test/docker-compose.yml
Due: build, test:pylint, test:pylint:syntax-errors, test:unit, mvc

Flushing Redis cache on Celery shutdown
  congregate/helpers/celery_utils.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

adding docstring to cleanup function
  congregate/helpers/celery_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating entity count when migrating only projects
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "GH -> GL migration runbook"
  runbooks/migrations-from-github.md
Due: docs update, pages

Congregate.conf template improve documentation for enhanced clarity and configuration details
  congregate.conf.template
Due: none

Remove deprecated license scanning job template
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Improve guide for trimming pipelines
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Improve packages logging
  congregate/migration/github/users.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Pass kwargs to custom celery signal function
  congregate/helpers/celery_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add new GitHub API fields
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Moving trigger bulk import function to shared task
  congregate/migration/gitlab/bulk_imports.py
  congregate/ui/direct_transfer.py
  frontend/src/App.vue
  frontend/src/components/MigrateCard.vue
  frontend/src/scripts/job-status.js
  frontend/src/views/Home.vue
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "Add migrating Project Feature Flags"
  congregate/migration/gitlab/api/project_feature_flags.py
  congregate/migration/gitlab/api/project_feature_flags_user_lists.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/project_feature_flags.py
  congregate/migration/gitlab/project_feature_flags_user_lists.py
  congregate/migration/meta/api_models/project_feature_flags.py
  congregate/migration/meta/api_models/project_feature_flags_user_lists.py
  congregate/tests/migration/gitlab/test_project_feature_flags.py
  congregate/tests/mockapi/gitlab/project_feature_flag_user_lists.py
  congregate/tests/mockapi/gitlab/project_feature_flags.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Add guidance for large artifacts on .com and images migration per project
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Add guidance for GCP VM fields
  runbooks/migration-pre-and-post-requisites.md
Due: docs update, pages

Switch Vault to jwt_v2 as part 17.0 deprecation of CI_JOB_JWT
  .gitlab-ci.yml
  ci/vault.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Add air-gap bulk project migration script to docs
  runbooks/airgapped-migration-usage.md
Due: docs update, pages

Remove all of grpc and its usage
  .gitlab-ci.yml
  congregate.conf.template
  congregate/helpers/conf.py
  congregate/helpers/grpc_utils.py
  congregate/migration/maven/__init__.py
  congregate/migration/maven/maven_client.py
  congregate/migration/maven/maven_pb2.py
  congregate/migration/maven/maven_pb2_grpc.py
  congregate/tests/migration/gitlab/test_migration.py
  docker/maven/Dockerfile
  docker/maven/README.md
  docker/maven/maven_server.py
  docker/maven/settings.xml
  docker/release/README.md
  docker/release/docker-compose-maven.yml
  poetry.lock
  protos/README.md
  protos/compile.sh
  protos/maven.proto
  pyproject.toml
  runbooks/discovery.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages

Update 9 files
  docs/customer-migration-change-management.md
  docs/definition-of-done.md
  docs/famq.md
  docs/group-project-and-user-conflict-resolution.md
  docs/jenkins.md
  docs/migration-readiness-checklist.md
  docs/migration-wave-considerations.md
  docs/pre-and-post-migration.md
  mkdocs.yml
Due: none

Adding CDK dockerfile and docker-compose file
  .gitignore
  .gitlab-ci.yml
  docker/dev/cdk/Dockerfile
  docker/dev/cdk/docker-compose.yml
  docs/setup-dev-env.md
Due: test:end-to-end full, test:end-to-end single group, mvc

testing symlink
  docs/customer-migration-change-management.md
Due: none

adding symlinks
  docs/definition-of-done.md
  docs/famq.md
  docs/group-project-and-user-conflict-resolution.md
  docs/jenkins.md
  docs/migration-readiness-checklist.md
  docs/migration-wave-considerations.md
  docs/pre-and-post-migration.md
Due: none

Updates to docs based on recent development
  customer/bitbucket-migration-features-matrix.md
  customer/gitlab-migration-features-matrix.md
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Updated path to full_path to avoid username and group name conflicts
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating headers in DT docs
  docs/direct-transfer-api.md
  docs/direct-transfer-usage.md
Due: none

Mention Slack webhook in configuration templat
  congregate.conf.template
Due: none

Mention MR dependencies
  customer/gitlab-migration-features-matrix.md
  runbooks/migration-pre-and-post-requisites.md
Due: docs update, pages

Add docker rmi command alias
  dev/bin/env
Due: none

Contributors grouping by username
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

gl2gl destination registry path
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Sync group members
  congregate/main.py
  congregate/migration/gitlab/contributor_retention.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/users.py
  congregate/migration/meta/base_migrate.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update GL features matrix
  customer/gitlab-migration-features-matrix.md
Due: docs update

Fix sync-members argument
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Skip if remove_members
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add shared_with_group feature Rails script
  runbooks/migration-pre-and-post-requisites.md
Due: docs update, pages

Do not always run post_migration_info
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add missing argument and improve logging
  congregate/migration/gitlab/groups.py
  congregate/migration/meta/base_migrate.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Storing members added as part of results
  congregate/migration/gitlab/migrate.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release
