Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests, runbook update, mvc, pages, update gitlab-ps-utils

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

check ldap compose yaml:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/ldap
  ...

test:pylint:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - poetry run pytest -m 'unit_test' --cov-report html --cov-config=.coveragerc --cov=congregate congregate/tests/
  timeout: 5 minutes
  artifacts:
  ...

test:end-to-end full:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
    - python3 -m http.server 443 --directory /var/log/gitlab/gitlab-rails/ & :; /assets/wrapper
  - name: mongo:4.4.1
    alias: mongo
  variables:
    DOCKER_DRIVER: overlay2
  ...

test:end-to-end single group:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
    - python3 -m http.server 443 --directory /var/log/gitlab/gitlab-rails/ & :; /assets/wrapper
  - name: mongo:4.4.1
    alias: mongo
  variables:
    DOCKER_DRIVER: overlay2
  ...

mvc:
  stage: test
  script:
  - echo "Placeholder job to trigger a min. pipeline for non-code related changes"

Update dev/bin/env
  dev/bin/env
Due: none

Mention command usage in README, famq and runbooks
  README.md
  customer/famq.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: runbook update, mvc, pages

Update command and runbooks based on review
  congregate/migration/gitlab/users.py
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, runbook update, pages

Update configuration_validator based on review
  congregate/helpers/configuration_validator.py
  congregate/migration/github/orgs.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Fix deploy keys 400 and update post is_error_message check in functions
  congregate/helpers/migrate_utils.py
  congregate/migration/github/orgs.py
  congregate/migration/gitlab/compare.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/diff/groupdiff.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Add set_staged_users_public_email to do_all
  congregate/cli/do_all.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Remove unused import and update pre-post-requisites
  congregate/tests/migration/gitlab/test_migration_setup.py
  runbooks/migration-pre-and-post-requisites.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, runbook update, pages

Add set_public_email for all do_all functions
  congregate/cli/do_all.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Separate do_all for users and groups+projects; Add back user memberships diff
  congregate/cli/do_all.py
  congregate/helpers/seed/generator.py
  congregate/migration/gitlab/diff/userdiff.py
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Disable userdiff events; Add license file to e2e destination
  .gitlab-ci.yml
  congregate/migration/gitlab/diff/userdiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: mvc

Remove redundant None; Update test_migration_setup
  congregate/cli/config.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/diff/userdiff.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/migration/gitlab/test_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add dummy project deploy keys to source data generator
  congregate/cli/config.py
  congregate/helpers/seed/generator.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update typos, wording and default values based on review
  congregate/cli/config.py
  congregate/cli/do_all.py
  congregate/helpers/configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Updating loggers to not require a file path location
  .gitlab-ci.yml
  congregate/helpers/audit_logger.py
  congregate/helpers/logger.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc, update gitlab-ps-utils

Add command create-staged-projects-structure
  congregate/main.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update formatting and log messages
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add DELAY to test_migration; Update formatting
  congregate/cli/do_all.py
  congregate/helpers/file_utils.py
  congregate/helpers/seed/generate_token.py
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, update gitlab-ps-utils

Add try/except, optimize method and UTs
  README.md
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Resolve "Stream listing functionality data to a file and db for BBS source"
  congregate/cli/list_source.py
  congregate/helpers/mdbc.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/bitbucket/users.py
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/migration/bitbucket/test_repos.py
  congregate/tests/migration/bitbucket/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add merge_requests_template to GitLab stage_base
  congregate/cli/stage_base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Add more staged project fields to command; update put/post requests in projects.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Mention Sidekiq perf improvement option in pre-post
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Update based on code-review
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Updating to Python 3.8.12 across images and deps
  .gitlab-ci.yml
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
  docker/test/py38.Dockerfile
  poetry.lock
  pyproject.toml
Due: build, test:pylint, test:pylint:syntax-errors, test:unit, mvc

temporarily removing changes and main branch rule
  .gitlab-ci.yml
Due: mvc

Moving test image build directly into CI file
  .gitlab-ci.yml
  ci/build_test_image.sh
Due: mvc

casting config value to str
  congregate/helpers/migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Create automatic release process"
  .gitlab-ci.yml
Due: mvc

Update famq.md
  customer/famq.md
Due: none

Restructuring centos release image
  docker/release/centos.Dockerfile
Due: mvc

Updating debian release image
  congregate/main.py
  docker/release/debian.Dockerfile
Due: test:pylint, test:pylint:syntax-errors, test:unit, mvc

pbcopy if macos otherwise print
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Update npm dependencies
  package-lock.json
  package.json
Due: test:pylint, test:pylint:syntax-errors, test:unit

Rename migrate argument skip-adding-members
  .gitignore
  README.md
  congregate/main.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Uncommenting job rule. Removing poetry update from debian dockerfile
  .gitlab-ci.yml
  docker/release/debian.Dockerfile
Due: mvc

Update formatting for if-changes
  .gitlab-ci.yml
Due: mvc

Update API for GitLab groups and projects
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Adding xz-devel to centos image
  docker/release/centos.Dockerfile
Due: mvc

adding apt-utils to debian image
  docker/release/debian.Dockerfile
Due: mvc

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:GitHub Server end to end: any of: congregate/migration/github/**/*
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  runbook update: any of: runbooks/*
  mvc: any of: ./**/*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py
