Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

adding upgrade to debian deps function
  docker/release/slim.dockerignore
  docker/utils/installdeps.sh
Due: mvc

adding slim docker build to release stages
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

updating changes rule for centos images
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Rename to user_groups
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add conditional for BBS user_groups
  congregate/cli/list_source.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Updating poetry deps and adding reporting.py to slim.dockerignore
  docker/release/slim.dockerignore
  poetry.lock
Due: test:pylint, test:pylint:syntax-errors, test:unit, mvc

Starting to build out celery tasks for direct transfer
  congregate/migration/gitlab/api/bulk_imports.py
  congregate/migration/gitlab/bulk_imports.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/meta/api_models/bulk_import_entity_status.py
  congregate/ui/direct_transfer.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Switching to using dt entity for post migration data
  congregate/migration/gitlab/bulk_imports.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/meta/api_models/bulk_import_entity_status.py
  congregate/ui/direct_transfer.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Chaining celery tasks together
  congregate/migration/gitlab/api/bulk_imports.py
  congregate/migration/gitlab/bulk_imports.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/meta/api_models/bulk_import.py
  congregate/migration/meta/api_models/bulk_import_entity.py
  congregate/migration/meta/api_models/bulk_import_entity_status.py
  congregate/ui/direct_transfer.py
  congregate/ui/wsgi.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding check for entity count
  congregate/helpers/celery_utils.py
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/bulk_imports.py
  congregate/ui/direct_transfer.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add back aliases to slim
  docker/release/slim.Dockerfile
Due: mvc

Rm pid on EXIT
  congregate.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Revert adding script and improve
  docker/release/slim.Dockerfile
Due: mvc

Revert is_dot_com and prevent staging user projects
  congregate/cli/stage_projects.py
  congregate/cli/stage_wave.py
  congregate/helpers/migrate_utils.py
  congregate/migration/bitbucket/migrate.py
  congregate/migration/github/migrate.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix UT
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/importexport.py
  congregate/tests/helpers/test_migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Apply 3 suggestion(s) to 3 file(s)
  congregate/cli/stage_wave.py
  congregate/helpers/migrate_utils.py
  congregate/migration/github/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove sys.exit and optimize code
  congregate/cli/stage_projects.py
  congregate/cli/stage_wave.py
  congregate/tests/helpers/test_migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Use generic Exception instead
  congregate/cli/stage_projects.py
  congregate/cli/stage_wave.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update FAMQ regarding user projects
  customer/famq.md
Due: docs update

Adding poll interval and group post-migration to dt
  congregate/helpers/conf.py
  congregate/migration/gitlab/bulk_imports.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/meta/api_models/bulk_import_entity_status.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Working on some UI improvements
  congregate/helpers/celery_utils.py
  congregate/ui/direct_transfer.py
  congregate/ui/stage.py
  congregate/ui/wsgi.py
  docs/direct-transfer-api.md
  frontend/.env
  frontend/.env.development
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/SummaryTable.vue
  frontend/src/components/Toaster.vue
  frontend/src/views/Groups.vue
  frontend/src/views/Home.vue
  frontend/src/views/Users.vue
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Allow non-admin token
  congregate/helpers/configuration_validator.py
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove redundant code and fix UT
  congregate/helpers/configuration_validator.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Fix basic commands
  congregate/cli/do_all.py
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding API root ref to Projects.vue
  frontend/src/views/Projects.vue
Due: debian rolling release, centos rolling release

Updating direct transfer usage docs
  docs/direct-transfer-api.md
  docs/direct-transfer-usage.md
Due: none

Doc updates and increasing polling interval default to 30
  congregate/helpers/conf.py
  congregate/migration/gitlab/api/bulk_imports.py
  docs/direct-transfer-api.md
  runbooks/setting-up-airgap-migrations.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, pages

Updating ps-utils dep and calling strip_none from ps-utils
  congregate/migration/meta/api_models/bulk_import.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Adding dry-run functionality to direct transfer API
  congregate/migration/gitlab/bulk_imports.py
  congregate/migration/meta/data_models/__init__.py
  congregate/migration/meta/data_models/dry_run.py
  congregate/ui/direct_transfer.py
  congregate/ui/utils/__init__.py
  congregate/ui/utils/decorators.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Switching to mongo to get source data in dt
  congregate/migration/gitlab/bulk_imports.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/meta/api_models/bulk_import.py
  congregate/ui/direct_transfer.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Switching mongo connection to mongo_connector decorator
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating bulk import function name
  congregate/migration/gitlab/api/bulk_imports.py
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding handling for failed status with direct transfer
  congregate/migration/gitlab/bulk_imports.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Python 3 updates
  congregate/migration/gitlab/keys.py
  ui-checksum
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add 14.5 version check
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/migrate.py
  congregate/tests/helpers/test_migrate_utils.py
  congregate/tests/mockapi/gitlab/version.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix vulnerabilities
  congregate/helpers/jobtemplategenerator.py
  congregate/helpers/seed/git.py
  frontend/package-lock.json
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Revert gevent upgrade
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Updating docs and some minor code review changes
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/bulk_imports.py
  docs/direct-transfer-api.md
  docs/direct-transfer-usage.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

locking flask version to 2.2.5
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning
