Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, runbook update, pages

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - /bin/sh build_test_image.sh

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  script:
  - poetry run pytest -m 'not e2e and not e2e_setup and not e2e_setup_2' --cov-report html --cov-config=.coveragerc --cov=congregate congregate/tests/
  artifacts:
    paths:
    - htmlcov/*

test:end-to-end full:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:GitHub Server end to end:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  - curl -k $GH_TEST_INSTANCE_URL -v

runbook update:
  stage: test
  script:
  - echo "This is a placeholder job ran only when runbooks are changed"
  - echo "Storing any changed runbook to artifacts that will expire in 1 week."
  artifacts:
    paths:
    - runbooks/*
    expire_in: 1 week

pages:
  stage: deploy
  script:
  - mkdir -p data
  - poetry install
  - poetry run sphinx-apidoc -f -o congregate/docs/source/ ./
  - cd congregate/docs
  - make html
  - mv build/html ../../public
  artifacts:
    paths:
    - public

Resolve "Update congregate docs site to reflect current status of supported migrations"
  congregate/docs/source/index.md
  congregate/docs/source/static_docs/migration-features-matrix.md
  migration-features-matrix.md
Due: test:unit, test:end-to-end full, test:end-to-end single group, pages

Adding general pylint job to all commits
  .gitignore
  .gitlab-ci.yml
  congregate/helpers/seed/git.py
  congregate/migration/github/api/repos.py
  congregate/migration/github/gists.py
  congregate/migration/github/repos.py
  congregate/migration/mirror.py
  pylint-errors.sh
  pylint.sh
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

fully functioning. Has some rough edges, but its idempotent. The rough edges shouldn't be terrible to clean up later
  congregate/cli/stage_wave.py
  congregate/helpers/reporting.py
  congregate/main.py
  congregate/migration/gitlab/api/external_import.py
  congregate/migration/gitlab/api/issues.py
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
  congregate/tests/cli/test_stage_wave.py
  congregate/tests/helpers/test_reporting.py
  data/issue_templates/issue1.md
  data/issue_templates/issue2.md
Due: test:unit, test:end-to-end full, test:end-to-end single group

Backporting some changes to handle multiple SCM sources
  .gitlab-ci.yml
  congregate/cli/list_source.py
  congregate/cli/stage_base.py
  congregate/cli/stage_wave.py
  congregate/helpers/mdbc.py
  congregate/helpers/misc_utils.py
  congregate/main.py
  congregate/migration/github/api/base.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/helpers/test_reporting.py
  congregate/tests/migration/github/test_repos.py
  congregate/tests/migration/github/test_users.py
  congregate/tests/mockapi/github/headers.py
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Adding split up repo diff report
  congregate/main.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/teamcity/api/base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

down and dirty first pass at dry_run
  congregate/helpers/reporting.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

reusing the users, to eliminate double email api calls
  congregate/helpers/reporting.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

significant rewrite work
  congregate/helpers/reporting.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

the new results data is fully mapped out now. I need to combine it with any data already existing on the gitlab server.
  congregate/helpers/reporting.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fix dry_run results path when cleaning up
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update cluster logs to mention source and path
  congregate/migration/gitlab/clusters.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fix failed imports loop if not retry
  congregate/migration/gitlab/importexport.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fix clusters booleans and UTs
  congregate/migration/gitlab/clusters.py
  congregate/tests/migration/gitlab/test_clusters.py
  congregate/tests/mockapi/gitlab/clusters.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding none check to compare_dicts
  congregate/helpers/jsondiff.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fixing up string manipulation in repodiff
  congregate/migration/github/diff/repodiff.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

I have my new and old data structures matching now. Now I need to start doing comparisons, and create or update issues as appropriate
  congregate/helpers/reporting.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

fully working now, still has a bunch of cruft and hacks, but should be a lot better
  congregate/helpers/reporting.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Updating and adding reporting unit tests
  congregate/helpers/reporting.py
  congregate/tests/helpers/test_reporting.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding more checks to reporting
  congregate.conf.template
  congregate/helpers/reporting.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

switching back to previous check_existing_tasks logic
  congregate/helpers/reporting.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Cleaning up check_existing_tasks again
  congregate/helpers/reporting.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

adding additional guards around user lookup and migration
  congregate/migration/gitlab/users.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update pyproject.toml
  pyproject.toml
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add project import failed relations output to file
  congregate/helpers/misc_utils.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update runbooks
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: runbook update, pages

Fix projects importing if only-post-migration-info
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add user search by email in case secondary is found
  congregate/migration/gitlab/users.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Attempt to fix pipeline Key Error issue
  .gitlab-ci.yml
Due: build, build bitbucket seed image, test:GitHub Server end to end

Add column State to UI Users page
  frontend/src/views/Users.vue
Due: none

Increase e2e full job timeout to 25m
  .gitlab-ci.yml
Due: build, build bitbucket seed image, test:GitHub Server end to end

Add UTs for migrate_archived_repo
  congregate/tests/migration/github/test_repos.py
  congregate/tests/mockapi/github/repos.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Create a reference to various importer bugs epics"
  .gitlab-ci.yml
  README.md
Due: build, build bitbucket seed image, test:GitHub Server end to end

Separate migration features by source
  README.md
  bitbucket-migration-features-matrix.md
  congregate/docs/source/index.md
  congregate/docs/source/static_docs/bitbucket-migration-features-matrix.md
  congregate/docs/source/static_docs/github-migration-features-matrix.md
  congregate/docs/source/static_docs/gitlab-migration-features-matrix.md
  congregate/docs/source/static_docs/migration-features-matrix.md
  congregate/docs/source/static_docs/migration-features.md
  github-migration-features-matrix.md
  gitlab-migration-features-matrix.md
  migration-features.md
Due: test:unit, test:end-to-end full, test:end-to-end single group, pages

Add misc_utils pop_multiple_keys and apply where applicable
  congregate/helpers/misc_utils.py
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/hooks.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/pushrules.py
  congregate/migration/mirror.py
  congregate/tests/helpers/test_misc_utils.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Add TMUX or SCREEN to our congregate container"
  .gitlab-ci.yml
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
Due: build, build bitbucket seed image, test:GitHub Server end to end

Resolve "Reporting Module: Fixes"
  congregate/helpers/reporting.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Updating docs to reflect new rolling image location
  README.md
  congregate/docs/source/static_docs/setup.md
  dev/bin/env
  docker/release/centos.Dockerfile
Due: test:unit, test:end-to-end full, test:end-to-end single group, pages

multiprocessing branch protection
  congregate/cli/stage_wave.py
  congregate/helpers/mdbc.py
  congregate/helpers/misc_utils.py
  congregate/helpers/process.py
  congregate/helpers/processes.py
  congregate/helpers/reporting.py
  congregate/main.py
  congregate/migration/github/repos.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/projects.py
  congregate/migration/migrate.py
  congregate/migration/teamcity/api/base.py
  pyproject.toml
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add logic to allow migrating from github.com to gitlab
  .gitignore
  .gitlab-ci.yml
  congregate.conf.template
  congregate/cli/list_source.py
  congregate/helpers/conf.py
  congregate/helpers/misc_utils.py
  congregate/main.py
  congregate/migration/github/api/base.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/migration/github/test_base.py
  docker/github/data/congregate.conf
  docker/github/docker-compose.yaml
  package-lock.json
  ui-checksum
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Bump version to 6.9
  pyproject.toml
Due: test:unit, test:end-to-end full, test:end-to-end single group

Path conditions:
  build: any of: .gitlab-ci.yml, docker/test/*
  build bitbucket seed image: any of: .gitlab-ci.yml, docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end full: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end single group: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:GitHub Server end to end: any of: .gitlab-ci.yml
  runbook update: any of: runbooks/*
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
