Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, runbook update, pages

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - /bin/sh build_test_image.sh

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  script:
  - poetry run pytest -m 'not e2e and not e2e_setup and not e2e_setup_2' --cov-report html --cov-config=.coveragerc --cov=congregate congregate/tests/
  artifacts:
    paths:
    - htmlcov/*

test:end-to-end full:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:GitHub Server end to end:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  - curl -k $GH_TEST_INSTANCE_URL -v

runbook update:
  stage: test
  script:
  - echo "This is a placeholder job ran only when runbooks are changed"
  - echo "Storing any changed runbook to artifacts that will expire in 1 week."
  artifacts:
    paths:
    - runbooks/*
    expire_in: 1 week

pages:
  stage: deploy
  script:
  - mkdir -p data
  - poetry install
  - poetry run sphinx-apidoc -f -o congregate/docs/source/ ./
  - cd congregate/docs
  - make html
  - mv build/html ../../public
  artifacts:
    paths:
    - public

Adding etl filtering
  congregate/cli/stage_base.py
  congregate/cli/stage_projects.py
  congregate/cli/stage_wave.py
  congregate/helpers/misc_utils.py
  congregate/main.py
  congregate/migration/github/repos.py
  congregate/migration/meta/etl.py
  congregate/migration/migrate.py
  congregate/tests/cli/test_stage_projects.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fix bugs found during migration
  congregate/cli/config.py
  congregate/cli/list_source.py
  congregate/main.py
  congregate/migration/gitlab/diff/groupdiff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
  congregate/migration/gitlab/variables.py
  congregate/migration/migrate.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Working through wave stage wiring
  congregate/cli/stage_projects.py
  congregate/cli/stage_wave.py
  congregate/main.py
  congregate/migration/github/repos.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

adding debian and alpine release images
  .gitlab-ci.yml
  README.md
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/variables.py
  congregate/tests/migration/github/test_migration_setup.py
  docker/release/alpine.Dockerfile
  docker/release/debian.Dockerfile
  docker/test/py27.Dockerfile
  docker/test/py38.Dockerfile
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Update .gitlab-ci.yml to correct docker build typos
  .gitlab-ci.yml
Due: build, build bitbucket seed image, test:GitHub Server end to end

updating existing tests
  congregate/tests/migration/github/test_orgs.py
  congregate/tests/migration/github/test_repos.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding jenkins variable migration step to GitHub migration
  congregate/helpers/api.py
  congregate/helpers/conf.py
  congregate/helpers/misc_utils.py
  congregate/migration/jenkins/base.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update alpine.Dockerfile
  docker/release/alpine.Dockerfile
Due: none

Added lines to destination
  congregate.conf.template
Due: none

Adding changes based on conf files
  congregate.conf.template
Due: none

Removed python code
  congregate.conf.template
Due: none

Created conf template file [skip ci]
  congregate.conf.template
Due: none

Edited headings
  congregate.conf.template
Due: none

Updated congregate.conf.template as per Michael suggestions [skip ci]
  congregate.conf.template
Due: none

Updates and tweaks during migration
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/projects.py
  congregate/migration/migrate.py
  congregate/tests/migration/gitlab/test_importexport.py
  dev/bin/env
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: test:unit, test:end-to-end full, test:end-to-end single group, runbook update, pages

Update docs and pipeline
  .gitlab-ci.yml
  README.md
  congregate/cli/list_source.py
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Adding config ssl_verify to api.py
  congregate/helpers/api.py
  congregate/helpers/conf.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

filtering jenkins warning and updating tests
  congregate/migration/jenkins/api/base.py
  congregate/tests/migration/jenkins/test_base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

adding additional empty diff if endpoint isn't found in diff
  congregate/migration/gitlab/diff/basediff.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

cleaning up main.py
  congregate/main.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding wave stage tests
  congregate/helpers/conf.py
  congregate/tests/cli/test_stage_wave.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

removing else from main.py imports
  congregate/main.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

adding .lower() for wave spreadsheet config check
  congregate/cli/config.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding UTs to new misc_util
  congregate/helpers/api.py
  congregate/helpers/misc_utils.py
  congregate/migration/migrate.py
  congregate/tests/helpers/test_misc_utils.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

code review changes
  congregate/cli/config.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding docstrings to various functions
  congregate/helpers/conf.py
  congregate/migration/meta/etl.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

add more docstrings and config template examples
  congregate.conf.template
  congregate/cli/stage_wave.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding more details to .com migration runbook around assigning various people to various roles
  runbooks/migrations-to-dot-com.md
Due: runbook update, pages

Initial checkin for Teamcity API calls
  congregate/migration/teamcity/base.py
  congregate/tests/migration/teamcity/test_base.py
  congregate/tests/mockapi/teamcity/buildconfigs.py
  congregate/tests/mockapi/teamcity/parameters.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fix vcs with no roots and add listing params
  congregate/migration/teamcity/api/base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add list source
  congregate/cli/list_source.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Change class name
  congregate/tests/migration/teamcity/test_base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add init file
  congregate/tests/migration/jenkins/__init__.py
  congregate/tests/migration/teamcity/__init__.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Rename Jenkins test
  congregate/tests/migration/jenkins/test_base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Comment out until we have TC docker image
  congregate/tests/migration/teamcity/test_base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fixed UT
  congregate/tests/migration/teamcity/test_base.py
  congregate/tests/mockapi/teamcity/buildconfigs.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding command description for stage wave
  congregate/main.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fix failing test_config UT
  congregate/tests/cli/test_config.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add SRE-oncall label to scheduled project import issue
  runbooks/migrations-to-dot-com.md
Due: runbook update, pages

Path conditions:
  build: any of: .gitlab-ci.yml, docker/test/*
  build bitbucket seed image: any of: .gitlab-ci.yml, docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end full: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end single group: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:GitHub Server end to end: any of: .gitlab-ci.yml
  runbook update: any of: runbooks/*
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
