Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build test image, build cdk image, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, test:Jenkins Integration Tests, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc, pages

Path conditions:
  build test image: any of: docker/test/*
  build cdk image: (any of: docker/dev/**/*) or (any of: docker/test/*)
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:pylint:syntax-errors: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:unit: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:end-to-end full: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:end-to-end single group: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-full-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-single-group-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:Jenkins Integration Tests: (any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py) or (any of: congregate/migration/jenkins/**/*)
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/centos/**/*
  centos-no-mongo rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  container-scan-build:no-mongo: any of: pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container_scanning_custom: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  mvc: any of: **/*.md, *.md, docker/release/*, .gitlab-ci.yml
  pages: any of: **/*.md, *.md, mkdocs.yml

Remove useless function and add more doc
  congregate/migration/ado/export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Remove commented code
  congregate/migration/ado/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/ado/export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Add handler for unexisting user on Gitlab
  congregate/migration/ado/export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Remove cache folder and update .gitignore
  .gitignore
Due: none

Add support to process all types of attachment
  congregate/migration/ado/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Move constants to the Global Meta folder
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
  congregate/migration/ado/constants.py
  congregate/migration/ado/export.py
  congregate/migration/ado/migrate.py
  congregate/migration/meta/constants.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Add logic to format MR content
  congregate.conf.template
  congregate/helpers/utils.py
  congregate/migration/ado/api/pull_requests.py
  congregate/migration/ado/api/users.py
  congregate/migration/ado/export.py
  congregate/migration/ado/migrate.py
  congregate/migration/gitlab/api/merge_requests.py
  congregate/migration/gitlab/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Improve log clarity
  congregate/migration/ado/export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Apply 2 suggestions
  congregate/migration/ado/api/base.py
  congregate/migration/ado/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Make sure no duplicate users
  congregate/migration/ado/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Skip empty commit list
  congregate/migration/ado/export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Resolve "Packages migration errors"
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Warn about missing subsets when DT staging
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning

Use GitLabApiWrapper with retain contributors
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update user and group dataclass
  congregate/migration/meta/api_models/project_details.py
  congregate/migration/meta/api_models/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Log retain-contributor failures
  congregate/migration/gitlab/contributor_retention.py
  congregate/migration/gitlab/projects.py
  congregate/migration/meta/api_models/new_member.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Add query for MRs
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Udpate MR query and newMember
  congregate/migration/gitlab/contributor_retention.py
  congregate/migration/meta/api_models/new_member.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

https->http
  runbooks/airgapped-migration-usage.md
Due: mvc, pages

Update status check and logs
  congregate/migration/gitlab/projects.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Airgap CLI mention
  runbooks/airgapped-migration-usage.md
Due: mvc, pages

Optimize retrieve_contributors
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Remove GitLabApiWrapper
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Fail project export on 'failed' export status
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Direct transfer (DT) migration docs
  runbooks/direct-transfer-migrations.md
Due: mvc, pages

Add TOC to DT migrations
  docs/direct-transfer-migrations.md
  runbooks/direct-transfer-migrations.md
Due: mvc, pages

Add CODEOWNERS file
  CODEOWNERS
Due: none

Adding list status check task
  .gitlab-ci.yml
  congregate/cli/list_source.py
  congregate/helpers/celery_utils.py
  congregate/helpers/conf.py
  congregate/helpers/seed/generate_token.py
  congregate/helpers/seed/generator.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_migration_no_admin.py
  congregate/tests/migration/gitlab/test_single_group_owner_migration_setup.py
  congregate/tests/pytest.ini
  congregate/ui/list.py
  congregate/ui/logs.py
  frontend/src/components/ListCard.vue
  frontend/src/views/Home.vue
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc

Follow up from !1176
  .gitlab-ci.yml
  congregate/cli/list_source.py
  congregate/helpers/seed/generate_token.py
  congregate/migration/gitlab/users.py
  congregate/ui/logs.py
  frontend/src/components/ListCard.vue
  frontend/src/scripts/poll.js
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Add obfuscation
  congregate/helpers/conf.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Reference new DT migration docs in pages and update
  mkdocs.yml
  runbooks/direct-transfer-migrations.md
Due: mvc, pages

Enable DT migrations using stage-wave
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Remove type from Groups Vue
  frontend/src/views/Groups.vue
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

Validate pipeline schedule variables
  congregate/migration/gitlab/variables.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release
