Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests, runbook update, mvc, pages, update gitlab-ps-utils

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

check ldap compose yaml:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/ldap
  ...

test:pylint:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - poetry run pytest -m 'unit_test' --cov-report html --cov-config=.coveragerc --cov=congregate congregate/tests/
  timeout: 5 minutes
  artifacts:
  ...

test:end-to-end full:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
    - python3 -m http.server 443 --directory /var/log/gitlab/gitlab-rails/ & :; /assets/wrapper
  - name: mongo:4.4.1
    alias: mongo
  variables:
    DOCKER_DRIVER: overlay2
  ...

test:end-to-end single group:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
    - python3 -m http.server 443 --directory /var/log/gitlab/gitlab-rails/ & :; /assets/wrapper
  - name: mongo:4.4.1
    alias: mongo
  variables:
    DOCKER_DRIVER: overlay2
  ...

mvc:
  stage: test
  script:
  - echo "Placeholder job to trigger a min. pipeline for non-code related changes"

Extend GitLab version requirements in famq
  customer/famq.md
Due: none

Update BBS and GHE project import error logs
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update ordering and formatting for README and prerequisites
  README.md
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, mvc, pages

Update list source logs
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Update Trim CI pipelines script
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: runbook update, pages

Update POCs in runbooks for migrations to gitlab.com
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
Due: runbook update, pages

Add else case for shared group not found
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update runbooks on gitlab.com SAML requirements
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
Due: runbook update, pages

Update docs on instance checks and Kibana logs
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
Due: runbook update, pages

Add more migration corner cases to runbooks
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: runbook update, pages

Update runbooks and rearrange steps based on review
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
Due: runbook update, pages

Extend search-for-staged-users command
  congregate/cli/do_all.py
  congregate/main.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/test_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update formatting on customer docs
  customer/definition-of-done.html
  customer/definition-of-done.md
  customer/group-project-and-user-conflict-resolution.html
  customer/group-project-and-user-conflict-resolution.md
  customer/migration-wave-considerations.html
  customer/migration-wave-considerations.md
Due: none

Remove html docs
  customer/definition-of-done.html
  customer/group-project-and-user-conflict-resolution.html
  customer/migration-wave-considerations.html
Due: none

Exclude customer/*.html files
  .gitignore
Due: none

Add --table argument
  congregate/main.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add note and remove redundant square brackets
  customer/migration-wave-considerations.md
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Expand on .com Admin account de-provisioning
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Fix search-for-staged-users table bug and add state to output
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Fix bugs in is_username_group_name and handle_user_creation
  congregate/migration/gitlab/users.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add banned (as of 14.2) to list of INACTIVE states
  congregate/helpers/base_class.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update INACTIVE states in docs and add banned
  congregate/docs/source/static_docs/workflow.md
  customer/famq.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, pages

Remove redundant if check on []
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

temp "function" for python
  docker/release/centos.Dockerfile
Due: mvc

Fix registry bug object is not subscriptable
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update user contribution mapping
  customer/famq.md
Due: none

Move repo_loc outside of loop
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add --keys argument to clean-database and update docs/runbooks
  README.md
  congregate/helpers/mdbc.py
  congregate/main.py
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, runbook update, mvc, pages

Add State mismatch column to search-for-staged-users
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Init reg_tuples and store registry tuples there
  congregate/main.py
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update clean_data and add reg_tuples
  congregate/helpers/migrate_utils.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update import export wait time and log formatting
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add regeneration_in_progress to acceptable project export statuses
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add dry_run to toggle-maintenance-mode and other formatting
  congregate/helpers/api.py
  congregate/main.py
  congregate/migration/migrate.py
  runbooks/migrations-to-dot-com.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, runbook update, pages, update gitlab-ps-utils

Fix double list emptying diff report generator
  congregate/helpers/configuration_validator.py
  congregate/helpers/migrate_utils.py
  congregate/helpers/misc_utils.py
  congregate/migration/github/gists.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
  congregate/migration/gitlab/clusters.py
  congregate/migration/gitlab/compare.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/hooks.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/pushrules.py
  congregate/migration/gitlab/registries.py
  congregate/migration/gitlab/users.py
  congregate/migration/gitlab/variables.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, update gitlab-ps-utils

Remove GeneratorType check and fix typos
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/diff/groupdiff.py
  congregate/migration/gitlab/diff/projectdiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Do not remove import_failed_relations when dry_run
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Always run diff report, even after a dry_run
  congregate/migration/github/diff/repodiff.py
  congregate/migration/gitlab/diff/groupdiff.py
  congregate/migration/gitlab/diff/projectdiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

PArtially revert generate_cleaned_instance_data change
  congregate/helpers/api.py
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, update gitlab-ps-utils

Add set-staged-users-public-email command
  congregate/helpers/migrate_utils.py
  congregate/main.py
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:GitHub Server end to end: any of: congregate/migration/github/**/*
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  runbook update: any of: runbooks/*
  mvc: any of: ./**/*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py
