Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, runbook update, pages

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - /bin/sh build_test_image.sh

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  script:
  - poetry run pytest -m 'not e2e and not e2e_setup and not e2e_setup_2' --cov-report html --cov-config=.coveragerc --cov=congregate congregate/tests/
  artifacts:
    paths:
    - htmlcov/*

test:end-to-end full:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:GitHub Server end to end:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  - curl -k $GH_TEST_INSTANCE_URL -v

runbook update:
  stage: test
  script:
  - echo "This is a placeholder job ran only when runbooks are changed"
  - echo "Storing any changed runbook to artifacts that will expire in 1 week."
  artifacts:
    paths:
    - runbooks/*
    expire_in: 1 week

pages:
  stage: deploy
  script:
  - mkdir -p data
  - poetry install
  - poetry run sphinx-apidoc -f -o congregate/docs/source/ ./
  - cd congregate/docs
  - make html
  - mv build/html ../../public
  artifacts:
    paths:
    - public

Convert stage_groups into GroupStageCLI class
  congregate/cli/do_all.py
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
  congregate/helpers/misc_utils.py
  congregate/main.py
  congregate/tests/cli/test_stage_groups.py
  congregate/tests/cli/test_stage_projects.py
  congregate/ui/controllers.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update SRE Support process based on review
  runbooks/migrations-to-dot-com.md
Due: runbook update, pages

Update congregate.conf.template to include ssl_verify example
  congregate.conf.template
Due: none

Marking existing unit test classes with unit_test mark
  congregate/migration/meta/etl.py
  congregate/tests/cli/test_config.py
  congregate/tests/cli/test_stage_groups.py
  congregate/tests/cli/test_stage_projects.py
  congregate/tests/cli/test_stage_wave.py
  congregate/tests/helpers/test_configuration_validator.py
  congregate/tests/helpers/test_migrate_utils.py
  congregate/tests/migration/bitbucket/test_groups.py
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/migration/bitbucket/test_repos.py
  congregate/tests/migration/bitbucket/test_users.py
  congregate/tests/migration/github/test_base.py
  congregate/tests/migration/github/test_orgs.py
  congregate/tests/migration/github/test_repos.py
  congregate/tests/migration/github/test_users.py
  congregate/tests/migration/gitlab/test_groups.py
  congregate/tests/migration/gitlab/test_importexport.py
  congregate/tests/migration/gitlab/test_projects.py
  congregate/tests/migration/gitlab/test_users.py
  congregate/tests/migration/jenkins/test_base.py
  congregate/tests/migration/meta/test_etl.py
  congregate/tests/migration/teamcity/test_base.py
  congregate/tests/pytest.ini
Due: test:unit, test:end-to-end full, test:end-to-end single group

Converting most unit test modules to classes
  .gitlab-ci.yml
  congregate/tests/helpers/test_api.py
  congregate/tests/helpers/test_logger.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/migration/gitlab/test_compare.py
  congregate/tests/migration/gitlab/test_diff.py
  congregate/tests/migration/gitlab/test_environments.py
  congregate/tests/migration/gitlab/test_merge_request_approvals.py
  congregate/tests/migration/gitlab/test_registries.py
  dev/bin/env
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Adding runbook update script to add files to another repo
  .gitlab-ci.yml
  runbookscript.py
Due: build, build bitbucket seed image, test:GitHub Server end to end

attempting to trigger runbook update
  runbooks/README.md
Due: runbook update, pages

Update runbook script to work more with migration template
  .gitlab-ci.yml
  runbookscript.py
Due: build, build bitbucket seed image, test:GitHub Server end to end

fixing runbook syntax issue
  runbookscript.py
Due: none

Fix kill aliases and SAST secrets
  .gitlab-ci.yml
  dev/bin/env
Due: build, build bitbucket seed image, test:GitHub Server end to end

Updating runbook README to mention where the runbooks are used
  .gitlab-ci.yml
  runbooks/README.md
Due: build, build bitbucket seed image, test:GitHub Server end to end, runbook update, pages

Add latest update to SRE project import process
  runbooks/migrations-to-dot-com.md
Due: runbook update, pages

Creating safe_add_variables method
  congregate/migration/gitlab/variables.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding Jenkins Integration Tests
  .gitlab-ci.yml
  congregate/tests/migration/jenkins/test_base.py
  congregate/tests/mockapi/jenkins/jobs.py
  congregate/tests/pytest.ini
  dev/bin/env
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

adding a couple minor changes from customer testing
  congregate/helpers/misc_utils.py
  congregate/migration/github/api/base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update UI
  .gitlab-ci.yml
  frontend/src/App.vue
  package.json
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: build, build bitbucket seed image, test:GitHub Server end to end, runbook update, pages

Apply 1 suggestion(s) to 1 file(s)
  frontend/src/App.vue
Due: none

Adding TC to GH source map
  congregate/cli/list_source.py
  congregate/main.py
  congregate/migration/github/api/base.py
  congregate/migration/github/repos.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Cleaning up var param migration
  congregate/cli/stage_base.py
  congregate/helpers/misc_utils.py
  congregate/migration/migrate.py
  congregate/migration/teamcity/base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update pre and post migration requirements
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Fixing broken unit tests
  congregate/helpers/misc_utils.py
  congregate/migration/github/api/base.py
  congregate/migration/meta/etl.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Added a function to create a new .gitlab-ci.yml file if GH repo branch is gh-pages for publishing GH pages
  congregate/helpers/jobtemplategenerator.py
  congregate/helpers/misc_utils.py
  congregate/migration/github/api/orgs.py
  congregate/migration/github/api/repos.py
  congregate/migration/github/api/users.py
  congregate/migration/gitlab/api/project_repository.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/repo.py
  congregate/migration/migrate.py
  ui-checksum
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update release docker files to hopefully build successfully
  .gitignore
  .gitlab-ci.yml
  README.md
  docker/release/alpine.Dockerfile
  docker/release/debian.Dockerfile
  package-lock.json
  package.json
Due: build, build bitbucket seed image, test:GitHub Server end to end

set default cr_src_type to empty string
  congregate/helpers/conf.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fixing docker build syntax
  .gitlab-ci.yml
Due: build, build bitbucket seed image, test:GitHub Server end to end

Add minor fixes discovered while reviewing code
  congregate/helpers/misc_utils.py
  congregate/main.py
  congregate/migration/migrate.py
  runbooks/migration-pre-and-post-requisites.md
Due: test:unit, test:end-to-end full, test:end-to-end single group, runbook update, pages

Updating misc util unit test
  congregate/cli/list_source.py
  congregate/cli/stage_base.py
  congregate/helpers/conf.py
  congregate/migration/github/api/base.py
  congregate/migration/github/repos.py
  congregate/migration/migrate.py
  congregate/tests/helpers/test_misc_utils.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

fixing failing UTs
  congregate/tests/cli/test_stage_groups.py
  congregate/tests/cli/test_stage_projects.py
  congregate/tests/migration/github/test_repos.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

fixing case typo
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding basic version check in main.py and pipeline
  .gitlab-ci.yml
  README.md
  congregate/main.py
  dev/bin/version_check.sh
  poetry.lock
  pyproject.toml
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Update README.md
  README.md
Due: none

Further extend and update Migration features matrix
  README.md
Due: none

Place Migration features as a sub-title of About
  README.md
Due: none

Apply 2 suggestion(s) to 1 file(s)
  README.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  README.md
Due: none

Add and mvc job placeholder
  .gitlab-ci.yml
  README.md
Due: build, build bitbucket seed image, test:GitHub Server end to end

Add extern_uid mapping option as SSO provider pattern
  congregate/cli/config.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding stream to file function. Starting to incorporate changes
  congregate/cli/list_source.py
  congregate/helpers/misc_utils.py
  congregate/migration/github/api/base.py
  congregate/migration/github/api/repos.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Working through more of the list_all refactor
  congregate/cli/list_source.py
  congregate/migration/github/api/base.py
  congregate/migration/github/api/repos.py
  congregate/migration/github/api/users.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Add pagination and line numbers to UI Vue-Good-Table"
  frontend/src/App.vue
  frontend/src/views/Groups.vue
  frontend/src/views/Projects.vue
  frontend/src/views/Users.vue
  ui-checksum
Due: none

Path conditions:
  build: any of: .gitlab-ci.yml, docker/test/*
  build bitbucket seed image: any of: .gitlab-ci.yml, docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end full: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end single group: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:GitHub Server end to end: any of: .gitlab-ci.yml
  runbook update: any of: runbooks/*
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
