Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, runbook update, pages

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - /bin/sh build_test_image.sh

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  script:
  - poetry run pytest -m 'not e2e and not e2e_setup and not e2e_setup_2' --cov-report html --cov-config=.coveragerc --cov=congregate congregate/tests/
  artifacts:
    paths:
    - htmlcov/*

test:end-to-end full:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:GitHub Server end to end:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  - curl -k $GH_TEST_INSTANCE_URL -v

runbook update:
  stage: test
  script:
  - echo "This is a placeholder job ran only when runbooks are changed"
  - echo "Storing any changed runbook to artifacts that will expire in 1 week."
  artifacts:
    paths:
    - runbooks/*
    expire_in: 1 week

pages:
  stage: deploy
  script:
  - mkdir -p data
  - poetry install
  - poetry run sphinx-apidoc -f -o congregate/docs/source/ ./
  - cd congregate/docs
  - make html
  - mv build/html ../../public
  artifacts:
    paths:
    - public

Add extra None check and json_pretty for exception message
  congregate/helpers/configuration_validator.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

generate_token code review changes
  .gitlab-ci.yml
  congregate/helpers/seed/generate_token.py
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Avoid deleting project on import timeout
  congregate/migration/gitlab/importexport.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fix local UTs hanging due to token validation
  congregate/tests/migration/github/test_repos.py
  congregate/tests/migration/gitlab/test_clusters.py
  congregate/tests/migration/gitlab/test_compare.py
  congregate/tests/migration/gitlab/test_groups.py
  congregate/tests/migration/gitlab/test_importexport.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add projects_limit as hidden USER config
  congregate/cli/stage_base.py
  congregate/helpers/conf.py
  congregate/migration/gitlab/users.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update hidden properties in congregate.conf.template
  congregate.conf.template
Due: none

Fix UTs failing on test_users.py
  congregate/migration/gitlab/registries.py
  congregate/tests/migration/gitlab/test_registries.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

fix indexing
  congregate/helpers/misc_utils.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/migration/bitbucket/test_projects.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Simple pylint for logging format
  .gitlab-ci.yml
  .pylintrc
Due: build, build bitbucket seed image, test:GitHub Server end to end

Updated README to reflect proper commands. Locked Python to 3.8.X in pyproject.toml. Updated botocore, awscli, and boto3. Repaired customer backports breaking GHE imports.
  README.md
  congregate/main.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
  poetry.lock
  pyproject.toml
Due: test:unit, test:end-to-end full, test:end-to-end single group

Separate key from value error during project and group staging
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Updates in runbooks, typos and formatting
  congregate/docs/source/static_docs/github-development-setup.md
  congregate/docs/source/static_docs/local-development.md
  congregate/migration/jenkins/base.py
  congregate/migration/migrate.py
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: test:unit, test:end-to-end full, test:end-to-end single group, runbook update, pages

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/jenkins/base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Use imap_unordered instead of map for multiprocessing
  congregate/helpers/processes.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adjust migrate.py usage of start_multi_process
  congregate/helpers/processes.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Lower e2e job timeouts
  .gitlab-ci.yml
Due: build, build bitbucket seed image, test:GitHub Server end to end

Introduce tqdm progress bar to multiprocessing
  congregate/helpers/processes.py
  congregate/main.py
  poetry.lock
  pyproject.toml
  ui-checksum
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update docker/test/py38.Dockerfile
  docker/test/py38.Dockerfile
Due: build, test:unit, test:end-to-end full, test:end-to-end single group

Adding old URL as fallback to generate_token
  congregate/helpers/seed/generate_token.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add try/except to read_json_file_into_object
  congregate/helpers/misc_utils.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Use tanuki colour for tqdm progress bar
  congregate/helpers/processes.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add skip options to generate-diff and optimize class
  congregate/main.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/diff/groupdiff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/diff/userdiff.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fix UTs
  .gitlab-ci.yml
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/migration/gitlab/test_users.py
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Fix test_migration
  .gitlab-ci.yml
  congregate/helpers/processes.py
  congregate/tests/migration/gitlab/test_migration.py
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Resolve "Create CI job to spin up and tear down VM snapshot of test GHE instance"
  .gitlab-ci.yml
  azure_scripts/README_AZURE_VM.md
  azure_scripts/delete_azure_vm.ps1
  azure_scripts/restore_azure_vm.sh
  congregate/helpers/mdbc.py
  congregate/migration/github/repos.py
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Output error in sys.exit for read_json_file_into_object
  congregate/helpers/misc_utils.py
  congregate/migration/gitlab/diff/userdiff.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update import_github_project to consider dstn_parent_group_path
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add dstn_parent_group_path to BBS and GH project import results
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Simplify get_results of migrate_utils
  congregate/helpers/migrate_utils.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Extend is_error_message check for BBS
  .gitlab-ci.yml
  congregate/helpers/migrate_utils.py
  congregate/helpers/misc_utils.py
  congregate/migration/migrate.py
Due: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

validate_name for groups and projects during staging
  congregate/cli/stage_base.py
  congregate/cli/stage_groups.py
  congregate/helpers/misc_utils.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/importexport.py
  congregate/tests/helpers/test_misc_utils.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add generic print statement for validate_name in case a logger isn't used
  congregate/helpers/misc_utils.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Add feature for LDAP group sync via flat-file"
  README.md
  congregate/cli/ldap_group_sync.py
  congregate/helpers/conf.py
  congregate/main.py
  congregate/migration/bitbucket/api/base.py
  congregate/tests/cli/test_ldap_group_sync.py
  congregate/tests/data/dupe_group_id_ldap.pdv
  congregate/tests/data/good_ldap.pdv
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update migration prerequisites on VM provisioning
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Doc and dev/bin/env updates
  bitbucket-migration-features-matrix.md
  dev/bin/env
  github-migration-features-matrix.md
Due: none

Add docker pull to README and update Congegate project path
  README.md
  congregate.conf.template
  congregate/docs/source/index.md
  congregate/docs/source/static_docs/setup.md
  congregate/docs/source/static_docs/writing-tests.md
  dev/bin/manually_move_images.sh
  docker/bitbucket/README.md
  docker/bitbucket/migration-bb-to-gitlab.yaml
  migration-features.md
  runbooks/README.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
  using-congregate.md
Due: test:unit, test:end-to-end full, test:end-to-end single group, runbook update, pages

Update based on review
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Fix local UTs for test_users.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
  dev/bin/env
Due: test:unit, test:end-to-end full, test:end-to-end single group

Clarify VM prerequisites
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Resolve "Update github_hostname when migrating from GitHub"
  congregate/migration/gitlab/external_import.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Path conditions:
  build: any of: .gitlab-ci.yml, docker/test/*
  build bitbucket seed image: any of: .gitlab-ci.yml, docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end full: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end single group: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:GitHub Server end to end: any of: .gitlab-ci.yml
  runbook update: any of: runbooks/*
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
