Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cp ./docker/test/py38.Dockerfile ./Dockerfile
  ...

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cp docker/bitbucket/Dockerfile ./
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

check ldap compose yaml:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/ldap
  - docker info
  - apk update
  ...

test:pylint:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - poetry run pytest -m 'unit_test' --cov-report html --cov-report term-missing --cov-config=.coveragerc --cov=congregate congregate/tests/
  ...

test:end-to-end full:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:Jenkins Integration Tests:
  services:
  - name: $JENKINS_SEED_IMAGE_NAME
    alias: jenkins-test
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  ...

mvc:
  stage: test
  script:
  - echo "Placeholder job to trigger a min. pipeline for non-code related changes"

Add SaaS->SaaS as support migration scenario
  docs/index.md
Due: none

Updates to mongo connection and users
  congregate/migration/bitbucket/base.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/bitbucket/users.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/github/test_users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "Syntax error in map_users function"
  congregate/helpers/user_util.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update branch permission mapping
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

BitBucket Server diff report draft
  congregate/helpers/migrate_utils.py
  congregate/main.py
  congregate/migration/bitbucket/api/base.py
  congregate/migration/bitbucket/api/repos.py
  congregate/migration/bitbucket/constants.py
  congregate/migration/bitbucket/diff/repodiff.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/github/repos.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/tests/helpers/test_migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix diff report errors
  congregate/migration/bitbucket/constants.py
  congregate/migration/bitbucket/diff/repodiff.py
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add keys for comparison
  congregate/migration/bitbucket/constants.py
  congregate/migration/bitbucket/diff/repodiff.py
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add 2 retries for e2e jobs
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Add repo member and permission comparison
  congregate/migration/bitbucket/diff/repodiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Rename variable and optimize logs
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Remove commented out lines
  congregate/migration/bitbucket/diff/repodiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update code comment and re-order methods
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix allias order
  dev/bin/env
Due: none

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Update GL migration features matrix
  customer/gitlab-migration-features-matrix.md
Due: docs update

Disable migrating project push rules
  congregate/migration/gitlab/pushrules.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Drop old diff_report collections
  congregate/migration/bitbucket/diff/repodiff.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Align BBS diff with GH diff report
  congregate/migration/bitbucket/diff/__init__.py
  congregate/migration/bitbucket/diff/repodiff.py
  congregate/migration/diff/__init__.py
  congregate/migration/diff/basediff.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/gitlab/diff/groupdiff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/diff/userdiff.py
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Optimize GH and BBS imports
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add back description fix
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Use add keys instead of ignore
  congregate/migration/diff/basediff.py
  congregate/migration/github/diff/repodiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Optimize GHE repo tranformations
  congregate/migration/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Resolve "Move nginx_proxy into Congregate"
  README.md
  nginx_proxy/README.md
  nginx_proxy/congregate.example.net.conf
Due: mvc

Update runbooks
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: docs update, pages

Mention we support Maven
  runbooks/discovery.md
Due: docs update, pages

Add log of written metadata
  congregate/cli/stage_base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

List public_email only for GL source
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Log when stage-wave is used without config
  congregate/cli/stage_wave.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Save group creation response and members metadata
  congregate/migration/bitbucket/repos.py
  congregate/migration/diff/basediff.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

GitHub diff option for staged and listed data
  congregate/migration/github/diff/repodiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Use replace instead of rstrip
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Remove .lower() and save group ID for existing BBS project
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add BBS parent diff report
  congregate/migration/bitbucket/diff/repodiff.py
  congregate/migration/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Set default='' for file path configs
  congregate/cli/stage_wave.py
  congregate/helpers/conf.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add notes for GH diff report and convoluted API
  congregate/migration/github/diff/repodiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Close mongo outside of loop and remove redundant closures
  congregate/migration/bitbucket/diff/repodiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Sort report and add logic to header title
  congregate/migration/bitbucket/diff/repodiff.py
  congregate/migration/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Deduct parent from BBS diff report projects count
  congregate/migration/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Change echo to cat for license file, update Docker version (was: enable FF_NETWORK_PER_BUILD)
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py
