Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Customer doc update
  customer/bitbucket-migration-features-matrix.md
Due: docs update

Update runbooks on import_failed_relations.json file path
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: docs update, pages

Remove redunant else cases
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Rotate import_failed_relation.json file
  congregate/helpers/utils.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Use f-string instead of concatenation where applicable
  congregate/helpers/ui_utils.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Bump gitlab-ps-utils version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Remove 2 commands and add 1 new
  congregate/main.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
  poetry.lock
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add logic for SKIP if nothing to do
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update formatting
  congregate/main.py
  docs/using-congregate.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add placeholder timeout for project export 429s
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update runbooks/discovery.md
  runbooks/discovery.md
Due: docs update, pages

Add missing word in ERROR log
  congregate/helpers/migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Increase e2e job timeout to test
  .gitlab-ci.yml
  congregate/migration/gitlab/importexport.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, mvc

Test migrating with 1 process
  congregate/cli/config.py
  congregate/cli/do_all.py
  congregate/migration/gitlab/importexport.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/migration/gitlab/test_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Retry on project download exception
  .gitlab-ci.yml
  congregate/cli/config.py
  congregate/cli/do_all.py
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, mvc

Add project download timeout
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Break down update_parent_group_members
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

initial pass at sh scripts for wave management, fairly simple
  dev/bin/env
  dev/bin/m_wave_archive.sh
  dev/bin/m_wave_setup.sh
Due: none

generic git code review changes
  dev/bin/generic_git.sh
Due: none

Build bitbucket-seed 5.15.2 image for testing
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Minor unrelated doc and dev/bin/env updates
  dev/bin/env
  docker/bitbucket/README.md
Due: none

Optimize stage-wave and fix typo
  congregate/cli/stage_wave.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Optimize and update users API and methods
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Consolidate stage-wave for BBS and GH
  congregate/helpers/migrate_utils.py
  congregate/main.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/projects.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adjust get_failed_result and log level
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Follow-ups
  congregate/tests/helpers/test_migrate_utils.py
  congregate/tests/migration/test_migrate.py
  congregate/tests/mockapi/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Lower 'No SWC_ID' log level to info
  congregate/cli/stage_wave.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Resolve "Add Dependency scanning to pipeline"
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Use uid and f-string where applicable
  congregate/migration/gitlab/api/users.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update based on review
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

List repo ID references
  congregate/migration/bitbucket/projects.py
  congregate/migration/github/orgs.py
  congregate/migration/gitlab/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix UTs
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/migration/github/test_orgs.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Use BBS links/self/href for http_url_to_repo
  congregate/migration/bitbucket/repos.py
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/migration/bitbucket/test_repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Use BBS and GH object naming for migration methods and logs
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove mention of GH Teams in matrix
  customer/github-migration-features-matrix.md
Due: docs update

Remove dupes from BBS add_project_repos
  congregate/migration/bitbucket/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add verification for 'enabled' and 'keep_divergent_refs'
  congregate/main.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Rename overwrite to keep_div_refs
  congregate/main.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "Update the runbooks with post-migration-info-only"
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: docs update, pages

Add unarchive option for GitHub repos
  congregate/migration/github/api/base.py
  congregate/migration/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release
