Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Capture stats and rate limits, upon import error, in separate GitHub repo import status method
  congregate/migration/github/api/users.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Improve code quality on users.py/remove method
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove misc_utils.py and test_misc_utils.py
  congregate/helpers/misc_utils.py
  congregate/tests/helpers/test_misc_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, update gitlab-ps-utils

Update bitbucket group creation log with group path info
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update group and project staging name validation
  congregate/cli/stage_base.py
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add external repo import status for BitBucket
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Move validate_name and get_duplicate_paths from gitlab-ps-utils/misc_utils to migrate_utils
  congregate/helpers/migrate_utils.py
  congregate/tests/helpers/test_migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update method imports and improve format_group
  congregate/cli/stage_base.py
  congregate/cli/stage_groups.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Bump gitlab-ps-utils
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Resolve "An error occurs when ldap-group-sync"
  congregate/cli/ldap_group_sync.py
  congregate/helpers/conf.py
  congregate/main.py
  docker/ldap/README.md
  docker/ldap/clean_gitlab_data.sh
  docker/ldap/data/gitlab.rb
  docker/ldap/data/root_password.txt
  docker/ldap/docker-compose.yml
  docker/ldap/example.pdv
  docker/ldap/example_tree.ldiff
  docs/ldap-group-sync.md
Due: check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Capture import_status for all import cases
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Move get_external_repo_import_status to external_import.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

remove read-docs.sh
  read-docs.sh
Due: none

adding mkdocs.yml to pages rules
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Working on doc conversion to mkdocs
  README.md
  docs/api.md
  docs/gen_ref_nav.py
  docs/index.md
  docs/project_readme.md
  docs/workflow.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, mvc

Adding autodoc generation
  .gitignore
  .gitlab-ci.yml
  congregate/docs/Makefile
  congregate/docs/__init__.py
  congregate/docs/data/README.md
  congregate/docs/source/__init__.py
  congregate/docs/source/_static/code-quality.html
  congregate/docs/source/_static/logo.png
  congregate/docs/source/_templates/empty.md
  congregate/docs/source/conf.py
  congregate/docs/source/index.md
  congregate/docs/source/static_docs
  dev/bin/env
  docs/api.md
  docs/code-quality.md
  docs/customer
  docs/gen_redirect.py
  docs/gen_ref_nav.py
  docs/img
  docs/project_readme.md
  docs/roadmap.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, mvc, pages

Adding logo to docs
  img/logo.png
  mkdocs.yml
Due: none

Add failed import status check for BitBucket Server project migrations
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove import user last, if other members are left intact
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update docker/release/centos.Dockerfile, runbooks/migration-pre-and-post-requisites.md
  docker/release/centos.Dockerfile
  runbooks/migration-pre-and-post-requisites.md
Due: centos rolling release, container-scan-build:centos, container_scanning, docs update, mvc, pages

Add single quotes and comments for identifier
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add identifier to missing asset error
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add safeguard for create_user_impersonation_token
  congregate/helpers/seed/generator.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add is_endpoint_valid to GH diff and optimize methods
  congregate/migration/github/api/base.py
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove duplicate Repo import status
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Use 'migrated' as default username_suffix
  congregate.conf.template
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/migration/gitlab/users.py
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/test_config.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

ERROR log 409 user creation attempt and optimize code
  congregate/migration/gitlab/users.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update config.py wording and formatting based on review
  congregate/cli/config.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Capture exit code from congregate
  congregate.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add specific POSIX sys.exit code where used
  congregate/cli/config.py
  congregate/cli/list_source.py
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
  congregate/cli/stage_wave.py
  congregate/helpers/mdbc.py
  congregate/helpers/migrate_utils.py
  congregate/main.py
  congregate/migration/migrate.py
  congregate/tests/cli/test_config.py
  congregate/tests/migration/github/test_single_group_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add missing sys.exit for exceptions
  congregate/aws.py
  congregate/cli/config.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Added autmation script for migrating from Gerrit to GitLab
  dev/bin/generic_git.sh
Due: none

Updated new remote orgin
  dev/bin/generic_git.sh
Due: none

Auto set/unset users' public_email field when applicable around group/project export
  congregate/main.py
  congregate/migration/gitlab/users.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Revert auto-set and list when staging groups/projects
  congregate/cli/stage_base.py
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add latest release badge to README.md
  README.md
Due: mvc

Updated generic_git.sh to run one single project migrated from Gerrit to GitLab
  dev/bin/generic_git.sh
Due: none

Create is_gl_version_older_than to be reused
  congregate/cli/stage_base.py
  congregate/cli/stage_projects.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add UTs
  congregate/helpers/migrate_utils.py
  congregate/tests/helpers/test_migrate_utils.py
  congregate/tests/mockapi/gitlab/version.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix runbook typos
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: docs update, pages
