Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Only rewrite when needed
  congregate/migration/gitlab/project_feature_flags.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add fix to missing info from list
  congregate/migration/github/api/orgs.py
  congregate/migration/github/api/users.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add PR metadata for Graph Queries
  congregate/migration/github/api/repos.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add pull requests queries to main flow
  congregate/migration/github/api/repos.py
  congregate/migration/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Integrate repo apis
  congregate/migration/github/api/repos.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add repos GraphQL Apis
  congregate/migration/github/api/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix unit tests
  congregate/migration/github/api/orgs.py
  congregate/migration/github/api/users.py
  congregate/migration/github/orgs.py
  congregate/migration/github/users.py
  congregate/tests/migration/github/test_orgs.py
  congregate/tests/migration/github/test_repos.py
  congregate/tests/migration/github/test_users.py
  congregate/tests/mockapi/github/orgs.py
  congregate/tests/mockapi/github/repos.py
  congregate/tests/mockapi/github/teams.py
  congregate/tests/mockapi/github/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add v4 api base endpoints
  congregate/migration/github/api/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add teams graphql query
  congregate/migration/github/api/teams.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add Graph query metadata for tags
  congregate/migration/github/api/repos.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add support for repo branches GraphQL queries
  congregate/migration/github/api/repos.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Integrate org GraphQL Queries to main flow
  congregate/migration/github/api/orgs.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Integrate teams graphql queries
  congregate/migration/github/api/repos.py
  congregate/migration/github/api/teams.py
  congregate/migration/github/orgs.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update from nested dictionary to dig
  congregate/migration/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add orgs graphql apis v4
  congregate/migration/github/api/orgs.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add gists v4 api
  congregate/migration/github/api/gists.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add support for protected branch graphQL query
  congregate/migration/github/api/repos.py
  congregate/migration/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add users graphql queries
  congregate/migration/github/api/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Finished GraphQL Queries integration
  congregate/migration/github/api/orgs.py
  congregate/migration/github/api/repos.py
  congregate/migration/github/api/teams.py
  congregate/migration/github/api/users.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Need to adapt test cases to graphql queries
  congregate/migration/github/orgs.py
  congregate/tests/migration/github/test_orgs.py
  congregate/tests/migration/github/test_repos.py
  congregate/tests/migration/github/test_single_group_migration_setup.py
  congregate/tests/mockapi/github/orgs.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update migrations-to-self-managed.md
  runbooks/migrations-to-self-managed.md
Due: docs update, pages

Add missing argument
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Doc fixes
  runbooks/README.md
  runbooks/migrations-from-github.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: docs update, pages

Update before write
  congregate/migration/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add code to update values
  congregate/migration/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Clarify iteration
  congregate/migration/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Pass soup object instead of opening new
  congregate/migration/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

add docstring explaining why the need
  congregate/migration/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Added check for directory permissions
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Addition of command
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Relaxing entity count check and removing unused 'self' param in DT task
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add stage group per UUID
  congregate/cli/stage_groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adjust formatted fields for groups (full_path instead of path_with_namespace required)
  congregate/migration/ado/api/base.py
  congregate/migration/ado/repos.py
  congregate/tests/migration/ado/test_base.py
  testado.py
  ui-checksum
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Removing non related to this change files
  congregate/migration/ado/api/base.py
  testado.py
  ui-checksum
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Revert removal of congregate/migration/ado/api/base.py
  congregate/migration/ado/api/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Revert removal of ui-checksum
  ui-checksum
Due: none

Removing redundant files
  congregate/migration/ado/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Updating ps-utils again
  .gitlab-ci.yml
  congregate/migration/gitlab/importexport.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, mvc

Updating poetry lock file
  poetry.lock
Due: test:pylint, test:pylint:syntax-errors, test:unit

Updating unit tests
  congregate/tests/cli/data/test_full_ext_src_skeleton_bitbucket_server.conf
  congregate/tests/cli/data/test_full_ext_src_skeleton_github_server.conf
  congregate/tests/cli/data/test_not_ext_src_no_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_default.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_hashed_sso.conf
  congregate/tests/cli/data/test_not_ext_src_src_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/test_stage_wave_csv_generator.py
  congregate/tests/helpers/test_user_util.py
  congregate/tests/migration/gitlab/test_project_feature_flags.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning
