Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cp ./docker/test/py38.Dockerfile ./Dockerfile
  ...

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cp docker/bitbucket/Dockerfile ./
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

check ldap compose yaml:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/ldap
  - docker info
  - apk update
  ...

test:pylint:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - poetry run pytest -m 'unit_test' --cov-report html --cov-report term-missing --cov-config=.coveragerc --cov=congregate congregate/tests/
  ...

test:end-to-end full:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:Jenkins Integration Tests:
  services:
  - name: $JENKINS_SEED_IMAGE_NAME
    alias: jenkins-test
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  ...

mvc:
  stage: test
  script:
  - echo "Placeholder job to trigger a min. pipeline for non-code related changes"

change nightly to latest
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Switching to pip installing awscli for cleanup
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Resolve "Migration Script from SVN to GitLab"
  dev/bin/migrate_svn_to_git.sh
Due: none

Fixed image tag for pull command
  docs/full_setup.md
Due: none

Fix admin note log for migrating blocked users
  congregate/migration/gitlab/users.py
  customer/gitlab-migration-features-matrix.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update

Resolve "Update migration prerequisites on infra issue to provision migration VM"
  runbooks/migration-pre-and-post-requisites.md
Due: docs update, pages

Updating python and node packages
  package-lock.json
  package.json
  poetry.lock
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Switching from vue-cli to vite and updating node deps
  .gitlab-ci.yml
  babel.config.js
  congregate/helpers/ui_utils.py
  dev/bin/env
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
  docker/release/no-mongo.Dockerfile
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
  package-lock.json
  poetry.lock
  pyproject.toml
  vue.config.js
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, mvc

Fixing syntax error in gitlab/projects.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating debian release image base image to bullseye
  docker/release/debian.Dockerfile
Due: debian rolling release, container-scan-build:debian, container_scanning, debian_container_scanning, mvc

Updating mongo file on deb dockerfile
  docker/release/debian.Dockerfile
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, mvc

Apply 1 suggestion(s) to 1 file(s)
  dev/bin/env
Due: none

Fixing indent typo in dockerfile
  docker/release/debian.Dockerfile
Due: debian rolling release, container-scan-build:debian, container_scanning, debian_container_scanning, mvc

replacing favicon with logo.png
  frontend/index.html
Due: debian rolling release, centos rolling release

Resolve "Add GH -> GL Deploy key code to Congregate"
  congregate/migration/github/api/repos.py
  congregate/migration/github/keys.py
  congregate/migration/github/repos.py
  congregate/migration/migrate.py
  customer/github-migration-features-matrix.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update

Directly call GH keys module
  congregate/helpers/conf.py
  congregate/main.py
  congregate/migration/github/repos.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Use Premium instead of Starter/Bronze
  customer/gitlab-migration-features-matrix.md
Due: docs update

Set default value for emailAddress
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Use dig to search dict
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Remove commented out docs
  README.md
Due: mvc

Remove code for group badges
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/badges.py
  congregate/migration/gitlab/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update links on user mapping and public email field
  congregate/migration/gitlab/diff/userdiff.py
  customer/customer-migration-change-management.md
  customer/famq.md
  runbooks/discovery.md
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, pages

Update license part and contributing
  README.md
  docs/contributing.md
Due: mvc

Updating frontend install docs
  docs/setup-dev-env.md
  docs/troubleshooting.md
Due: none

Adapt test migration % to bot user members diff
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Generate source group and project access tokens
  congregate/helpers/seed/generator.py
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Exclude internal and bot /users
  congregate/migration/gitlab/api/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update docs to highlight excluded src instance users
  congregate/migration/gitlab/api/users.py
  customer/migration-readiness-checklist.md
  docs/using-congregate.md
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-self-managed.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, pages

Starting to build out dataclasses for mongo
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/projects.py
  congregate/migration/meta/api_models/__init__.py
  congregate/migration/meta/api_models/project_environment.py
  congregate/migration/meta/api_models/shared_with_group.py
  congregate/migration/meta/api_models/single_project_features.py
  congregate/migration/meta/api_models/variables.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Update to show group wiki support
  customer/gitlab-migration-features-matrix.md
Due: docs update

Update changes rule syntax in CI config
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Update file migration-pre-and-post-requisites.md
  runbooks/migration-pre-and-post-requisites.md
Due: docs update, pages

Adding more data models for single project features
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/meta/api_models/mr_approvers.py
  congregate/migration/meta/api_models/pipeline_schedule_variables.py
  congregate/migration/meta/api_models/single_project_features.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "Break migrate.py into separate migrate classes for GL, BB, and GH"
  congregate/cli/list_source.py
  congregate/helpers/conf.py
  congregate/helpers/migrate_utils.py
  congregate/main.py
  congregate/migration/bitbucket/migrate.py
  congregate/migration/github/migrate.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/jenkins/base.py
  congregate/migration/meta/base_ext_ci.py
  congregate/migration/meta/base_migrate.py
  congregate/migration/meta/constants.py
  congregate/migration/meta/ext_ci_class.py
  congregate/migration/migrate.py
  congregate/migration/teamcity/api/base.py
  congregate/migration/teamcity/base.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release

Fixing dataclass init issues
  congregate/migration/meta/api_models/mr_approvers.py
  congregate/migration/meta/api_models/pipeline_schedule_variables.py
  congregate/migration/meta/api_models/single_project_features.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add poetry to path for pages deploy
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Building out switching mechanism for post-migration task storage
  congregate/helpers/db_or_http.py
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/variables.py
  congregate/migration/meta/api_models/single_project_features.py
  congregate/migration/meta/constants.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

adding airgap config property
  congregate/helpers/conf.py
  congregate/migration/gitlab/variables.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix UI build and spin_up
  congregate/helpers/ui_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

adding more checks for airgap setting
  congregate/helpers/configuration_validator.py
  congregate/migration/gitlab/clusters.py
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/hooks.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/variables.py
  congregate/migration/meta/api_models/mr_level_approvers.py
  congregate/migration/meta/api_models/project_level_approvers.py
  congregate/migration/meta/api_models/single_project_features.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py
