Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, runbook update, pages

Path conditions:
  build: any of: .gitlab-ci.yml, docker/test/*
  build bitbucket seed image: any of: .gitlab-ci.yml, docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end full: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end single group: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:GitHub Server end to end: any of: .gitlab-ci.yml
  runbook update: any of: runbooks/*
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md

Updating poetry.lock
  poetry.lock
Due: test:unit, test:end-to-end full, test:end-to-end single group

Updating python 3 check in read-docs
  read-docs.sh
Due: none

Changet src_type to ci_src_type
  congregate/cli/list_source.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

1st attempt to implement list_source.py
  congregate/cli/list_source.py
  congregate/migration/jenkins/api/base.py
  congregate/migration/jenkins/base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add known types
  congregate/helpers/conf.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add additional source type
  congregate/helpers/conf.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fix typos and rename source
  congregate/cli/list_source.py
  congregate/helpers/conf.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add repo migration
  congregate/migration/gitlab/api/external_import.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add transform for CI variables
  congregate/migration/jenkins/api/base.py
  congregate/migration/jenkins/base.py
  congregate/tests/migration/jenkins/test_base.py
  congregate/tests/mockapi/jenkins/parameters.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Wiring group members into listing functionality
  congregate/cli/list_source.py
  congregate/helpers/misc_utils.py
  congregate/migration/bitbucket/api/base.py
  congregate/migration/bitbucket/api/groups.py
  congregate/migration/bitbucket/api/projects.py
  congregate/migration/bitbucket/api/repos.py
  congregate/migration/bitbucket/groups.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/bitbucket/users.py
  congregate/migration/gitlab/api/external_import.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/migration/bitbucket/test_groups.py
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/migration/bitbucket/test_repos.py
  congregate/tests/mockapi/bitbucket/groups.py
  congregate/tests/mockapi/bitbucket/projects.py
  congregate/tests/mockapi/bitbucket/repos.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Add config section for CI sources"
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/tests/cli/data/test_full_ext_src_skeleton_github_server.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/test_config.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Add CI job to update ps-migration issue templates with congregate runbooks"
  .gitlab-ci.yml
  runbooks/README.md
  runbookscript.py
Due: build, build bitbucket seed image, test:GitHub Server end to end, runbook update, pages

Adding check for parent group
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Moving group creatin wait logic to separate function
  congregate/migration/gitlab/groups.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Refactoring existing var migration methods
  congregate/migration/gitlab/variables.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Rearranging migrate_variables method signature
  congregate/migration/gitlab/variables.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding sso_provider_map_file parameter and initial logic
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/migration/gitlab/users.py
  congregate/migration/jenkins/api/base.py
  congregate/tests/pytest.ini
  poetry.lock
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding tests. Wiring up logic into generate_extern_uid
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

adding new config test for sso user map in config
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_hashed_sso.conf
  congregate/tests/cli/test_config.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Working through more endpoints
  .gitlab-ci.yml
  docker/jenkins/Dockerfile
  docker/jenkins/README.md
  docker/jenkins/entrypoint.sh
  docker/jenkins/setup_and_seed.py
Due: build, build bitbucket seed image, test:GitHub Server end to end

Adding list/dict check for SSO hash map file
  congregate/migration/gitlab/users.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding test jobs to seed_data function
  docker/jenkins/setup_and_seed.py
Due: none

Adding jenkins test automation initial job
  .gitlab-ci.yml
Due: build, build bitbucket seed image, test:GitHub Server end to end

Adding pandas to poetry. Adding initial etl work
  congregate/migration/meta/__init__.py
  congregate/migration/meta/etl.py
  poetry.lock
  pyproject.toml
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding additional tests for etl class
  congregate/migration/meta/etl.py
  congregate/tests/migration/meta/test_etl.py
  poetry.lock
  pyproject.toml
Due: test:unit, test:end-to-end full, test:end-to-end single group

Revert "Added list_ci_sources() in list_source.py"
  congregate/cli/list_source.py
  congregate/migration/github/repos.py
  congregate/migration/jenkins/api/base.py
  congregate/migration/jenkins/base.py
  congregate/tests/migration/github/test_orgs.py
  congregate/tests/migration/github/test_repos.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

pretty messy right now, but have added functionality to change the remote of a repo, dump a json file, etc...
  .gitignore
  README.md
  congregate/helpers/seed/git.py
  congregate/helpers/seed/source_data/__init__.py
  congregate/helpers/seed/source_data/api/__init__.py
  congregate/migration/github/api/base.py
  congregate/migration/github/api/orgs.py
  congregate/migration/github/api/repos.py
  congregate/tests/data/repos/repos.json
  congregate/tests/migration/github/test_migration_setup.py
  congregate/tests/migration/github/test_single_group_migration_setup.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding wave spreadsheet config settings
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/tests/cli/test_config.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Adding mapping config setting Adding prop_dict helper method Adding map_columns function to elt.py
  congregate/helpers/conf.py
  congregate/migration/meta/etl.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

commenting out git cloning
  congregate/tests/migration/github/test_migration_setup.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Cross link to Import Epic in Congregate README.md
  README.md
Due: none

Update and rename migration-prereuisites.md
  congregate/cli/config.py
  congregate/docs/source/index.md
  runbooks/migration-pre-and-post-requisites.md
Due: test:unit, test:end-to-end full, test:end-to-end single group, runbook update, pages

Fix e2e tests failing due to expiring generate_token date
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update runbookscript.py [skip CI]
  runbookscript.py
Due: none

Update runbooks/README.md
  runbooks/README.md
Due: runbook update, pages

Update runbooks/migrations-from-bb-server.md
  runbooks/migrations-from-bb-server.md
Due: runbook update, pages

Adding safer None checks to traverse_groups
  congregate/migration/gitlab/groups.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Rearranging initialization function for WaveSpreadsheetHandler
  congregate/migration/meta/etl.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

updating e2e tets config
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Initial checkin for TC API calls
  congregate/migration/teamcity/__init__.py
  congregate/migration/teamcity/api/__init__.py
  congregate/migration/teamcity/api/base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group
