Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Include link to API docs for upload_generic_package_file
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Reword function docs to be more concise
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Group all the migrate packages helpers together
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add whitespace
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Perform one-time check for Maven gRPC, skip all if not running
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update docs
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Return results
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add support to skip user ssh keys migrationMaster
  congregate.conf.template
  congregate.sh
  congregate/helpers/conf.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update BBS migration features matrix
  customer/bitbucket-migration-features-matrix.md
Due: docs update

Update environment generator and add force
  congregate/helpers/seed/generator.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Improve docker brute force
  dev/bin/docker_brute_force_for_tpls.py
  dev/bin/manually_move_images_for_tpls.sh
Due: none

Remove duplicate method and update formatting
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Updating DT usage docs
  docs/direct-transfer-api.md
Due: none

adding file-type guessing function
  congregate/helpers/utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

tweaking pkg-info extraction
  congregate/helpers/package_utils.py
  congregate/migration/meta/api_models/pypi_package_data.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

update request payload and endpoints
  congregate/migration/gitlab/api/pypi.py
  congregate/migration/gitlab/packages.py
  congregate/migration/meta/api_models/pypi_package_data.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

fixing syntax errors
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

adding pkg-info extraction utility and test
  congregate/helpers/package_utils.py
  congregate/migration/gitlab/packages.py
  congregate/migration/meta/api_models/pypi_package_data.py
  congregate/tests/data/pkg-info.example
  congregate/tests/helpers/test_package_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

fixing syntax error in PyPiPackageData
  congregate/migration/meta/api_models/pypi_package_data.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

update package_utils unit tests
  congregate/tests/helpers/test_package_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding try/except to pypi pkg-info extraction
  congregate/__init__.py
  congregate/helpers/package_utils.py
  congregate/tests/helpers/test_package_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding more metadata to pypi package migration
  congregate/helpers/package_utils.py
  congregate/migration/gitlab/packages.py
  congregate/migration/meta/api_models/multipart_content.py
  congregate/migration/meta/api_models/pypi_package_data.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

adding metadata to each pypi package
  congregate/helpers/package_utils.py
  congregate/migration/gitlab/packages.py
  congregate/migration/meta/api_models/pypi_package.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

adding pypi package migration function to packages.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

minor tweaks
  congregate/helpers/package_utils.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding GitLab PyPI registry API wrappers
  congregate/migration/gitlab/api/pypi.py
  congregate/migration/meta/api_models/pypi_package_data.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fixing pypi package upload request payload
  congregate/migration/gitlab/api/pypi.py
  congregate/migration/gitlab/packages.py
  congregate/migration/meta/api_models/pypi_package_data.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Always list BBS projects as private
  congregate/migration/bitbucket/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Allow dots in airgap import filenames
  congregate/ui/airgap.py
  congregate/ui/constants.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update file migration-pre-and-post-requisites.md
  runbooks/migration-pre-and-post-requisites.md
Due: docs update, pages

Update file congregate.conf.template to fix create-wave-csv
  congregate.conf.template
Due: none

Fix UTs
  congregate/tests/migration/bitbucket/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Improve stage_users
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
  congregate/cli/stage_users.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Improve logging
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add missing else
  congregate/cli/stage_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Doc improvements
  congregate/main.py
  runbooks/migrations-to-dot-com.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, docs update, pages

Update BBS new_name field usage
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

updated poetry dependency
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Revert log message
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release
