Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Apply 1 suggestion(s) to 1 file(s)
  docs/direct-transfer-usage.md
Due: none

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

updating img screenshot path in DT docs
  docs/direct-transfer-usage.md
Due: none

Update 10 files
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
  customer/customer-migration-change-management.md
  customer/famq.md
  customer/migration-methods.md
  customer/migration-readiness-checklist.md
  customer/pre-and-post-migration.md
  runbooks/discovery.md
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, pages

Revert src parent group ID changes
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Apply 1 suggestion(s) to 1 file(s)
  customer/famq.md
Due: docs update

Return send_data function response
  congregate/helpers/db_or_http.py
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Quick fix for GL member contributors
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Improvements to logs and format
  congregate/migration/gitlab/projects.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Skip explicitly adding subgroups in DT payload
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

adding log calling out subgroup skipped and included in tlg
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Group all the migrate packages helpers together
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Initial commit to add additional API calls
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add whitespace
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Include link to API docs for upload_generic_package_file
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix inconsistent casing in comments
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Return results
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Reword function docs to be more concise
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Perform one-time check for Maven gRPC, skip all if not running
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Clean up logic for generic package migration
  congregate/migration/gitlab/api/packages.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Implement generic packages migration
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Create a desired migrate_project_package function
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update docs
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix code mistakes and add logs
  congregate/migration/gitlab/api/packages.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add support to skip user ssh keys migrationMaster
  congregate.conf.template
  congregate.sh
  congregate/helpers/conf.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

conf: Add comment for github.com hostname in template
  congregate.conf.template
Due: none

conf: Error on non-api GitHub.com host name
  congregate/helpers/configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding extra check to raise ConfigurationException if both src and dest are None
  congregate/helpers/configuration_validator.py
  congregate/tests/helpers/test_configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating configuration validator for non-admin token migrations to/from gitlab.com
  congregate/helpers/configuration_validator.py
  congregate/tests/helpers/test_configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add image-migrator wrapper (skopeo based) scripts
  dev/bin/image-migrator/config.sh
  dev/bin/image-migrator/image-migrator.sh
  dev/bin/image-migrator/images.yml
  dev/bin/image-migrator/readme.md
Due: none

Improve failed to share log
  congregate/migration/gitlab/projects.py
  dev/bin/docker_brute_force_for_tpls.py
  dev/bin/manually_move_images_for_tpls.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update stage-wave template and docs
  congregate.conf.template
  congregate/tests/data/example_wave.csv
  congregate/ui/airgap.py
  docs/using-congregate.md
  templates/stage-wave-template.csv
  templates/waves.csv
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release
