Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build test image, build cdk image, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, test:Jenkins Integration Tests, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc, pages

Path conditions:
  build test image: any of: docker/test/*
  build cdk image: (any of: docker/dev/**/*) or (any of: docker/test/*)
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:pylint:syntax-errors: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:unit: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:end-to-end full: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:end-to-end single group: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-full-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-single-group-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:Jenkins Integration Tests: (any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py) or (any of: congregate/migration/jenkins/**/*)
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/centos/**/*
  centos-no-mongo rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  container-scan-build:no-mongo: any of: pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container_scanning_custom: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  mvc: any of: **/*.md, *.md, docker/release/*, .gitlab-ci.yml
  pages: any of: **/*.md, *.md, mkdocs.yml

Update file gitlab_user_mapping.py
  dev/bin/placeholder-user-scripts/gitlab_user_mapping.py
Due: none

switching to worker_shutdown and celeryd_init for flushing the redis cache
  congregate/helpers/celery_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Add condition to handle response status
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Using DT right after upgrades
  runbooks/direct-transfer-migrations.md
Due: mvc, pages

Apply suggestions to runbook, feature matrix and CLI help
  congregate/main.py
  customer/ado-migration-features-matrix.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

Validate project environments
  congregate/cli/stage_base.py
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update file cancel_reassignment.py
  dev/bin/placeholder-user-scripts/cancel_reassignment.py
Due: none

Remove type from Groups Vue
  frontend/src/views/Groups.vue
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning

Enable DT migrations using stage-wave
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update format
  customer/post-migration-jenkins-to-gitlab-ci-duo-workflow.md
Due: mvc, pages

Adding as_task flag to list API call
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Resolve "ADO - filter out uninitialised and disabled repositories on listing"
  congregate/migration/ado/base.py
  congregate/migration/ado/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update 2 files
  dev/bin/placeholder-user-scripts/gitlab_user_mapping.py
  dev/bin/placeholder-user-scripts/update-placeholder-mapping.py
Due: none

Follow up from !1176
  .gitlab-ci.yml
  congregate/helpers/seed/generate_token.py
  congregate/migration/gitlab/users.py
  congregate/ui/logs.py
  frontend/src/components/ListCard.vue
  frontend/src/scripts/poll.js
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc

Resolve "ADO - users consistency for MergeRequests and ProjectMembers dataclasses"
  congregate/migration/ado/export.py
  congregate/migration/meta/custom_importer/export_builder.py
  runbooks/migrations-from-ado.md
  runbooks/uploads/ado-users-prerequisites.png
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

DT logs troubleshooting
  runbooks/direct-transfer-migrations.md
Due: mvc, pages

Typo and formatting
  dev/bin/placeholder-user-scripts/README.md
Due: mvc, pages

Update file retrieve-placeholder-users-for-namespace.py
  dev/bin/placeholder-user-scripts/retrieve-placeholder-users-for-namespace.py
Due: none

Improve project FF and list error handling
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/project_feature_flags_user_lists.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Enhance documentation
  customer/post-migration-jenkins-to-gitlab-ci-duo-workflow.md
Due: mvc, pages

Fix Pylint issues
  congregate/cli/config.py
  congregate/helpers/conf.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update file update-placeholder-mapping.py
  dev/bin/placeholder-user-scripts/update-placeholder-mapping.py
Due: none

Improve logs and docstring
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

ADO - add possibility to list specific scope of org
  congregate/cli/list_source.py
  congregate/main.py
  congregate/migration/ado/groups.py
  congregate/migration/ado/projects.py
  customer/ado-migration-features-matrix.md
  runbooks/migrations-from-ado.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

Add additional conf validator and deobfuscate only value is not None
  congregate/helpers/configuration_validator.py
  congregate/migration/codecommit/api/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Reference new DT migration docs in pages and update
  mkdocs.yml
  runbooks/direct-transfer-migrations.md
Due: mvc, pages

doc and feature updates
  dev/bin/placeholder-user-scripts/gitlab_user_mapping.py
  dev/bin/placeholder-user-scripts/retrieve-placeholder-users-for-namespace.py
  dev/bin/placeholder-user-scripts/update-placeholder-mapping.py
Due: none

Skip building boto client for empty config files
  congregate/migration/codecommit/api/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Explicitly configuring left and right sides of diff editor
  frontend/src/App.vue
  frontend/src/components/DiffEditor.vue
  frontend/src/components/DryRun.vue
  frontend/src/components/MigrateCard.vue
  frontend/src/components/StageTable.vue
  frontend/src/stores/system.js
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

Moving flower_url config to congregate.conf
  congregate/helpers/conf.py
  congregate/ui/settings.py
  frontend/src/App.vue
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Pushing modified DT request back to API to use in migration run
  congregate/migration/gitlab/bulk_imports.py
  congregate/ui/direct_transfer.py
  frontend/src/components/MigrateCard.vue
  frontend/src/stores/system.js
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Fix test cases
  congregate/helpers/conf.py
  congregate/tests/migration/codecommit/test_base.py
  congregate/tests/migration/codecommit/test_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Adding confirmation screen when committing migration
  frontend/src/components/DryRun.vue
  frontend/src/components/MigrateCard.vue
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

Removing unused setting.
  congregate.conf.template
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/tests/cli/data/test_full_ext_src_skeleton_bitbucket_server.conf
  congregate/tests/cli/data/test_full_ext_src_skeleton_github_server.conf
  congregate/tests/cli/data/test_not_ext_src_no_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_default.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_hashed_sso.conf
  congregate/tests/cli/data/test_not_ext_src_src_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/test_config.py
  docker/bitbucket/README.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

Adding JSON validation check with DT payload. Minor python tweaks
  congregate/ui/direct_transfer.py
  frontend/src/components/DryRun.vue
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

remove configs for tests
  congregate/tests/migration/github/test_migration_setup.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_owner_migration_setup.py
  docs/workflow.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

remove config
  congregate/tests/cli/test_config.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

updated files
  congregate/helpers/conf.py
  congregate/main.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release
