Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests, runbook update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:GitHub Server end to end: any of: congregate/migration/github/**/*
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  runbook update: any of: runbooks/*
  mvc: any of: ./**/*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Update congregate:latest mentions
  docker/bitbucket/migration-bb-to-gitlab.yaml
  docs/using-congregate.md
Due: none

Update Dockerfile folder permissions
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
Due: mvc

Small changes
  congregate/helpers/migrate_utils.py
  congregate/helpers/misc_utils.py
  congregate/tests/helpers/test_misc_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, update gitlab-ps-utils

Update is_username_group_name to not always throw warning log
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Changes based on review
  congregate/main.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/projects.py
  runbooks/migration-pre-and-post-requisites.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, runbook update, pages

Update congregate/helpers/conf.py
  congregate/helpers/conf.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update docker/release/centos.Dockerfile
  docker/release/centos.Dockerfile
Due: mvc

Update congregate/helpers/base_config.py, congregate/helpers/conf.py
  congregate/helpers/base_config.py
  congregate/helpers/conf.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Fix container scanning rules
  .gitlab-ci.yml
Due: mvc

Fix order in centos and debian Docker files
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
Due: mvc

Update customer/gitlab-migration-features-matrix.md
  customer/gitlab-migration-features-matrix.md
Due: none

Updates tech docs link
  README.md
Due: mvc

Update docker/release/debian.Dockerfile, docker/release/centos.Dockerfile
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
Due: mvc

adding zsh and pathing so poetry works
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
Due: mvc

Update docker/release/debian.Dockerfile
  docker/release/debian.Dockerfile
Due: mvc

update links for matrix pages
  README.md
Due: mvc

Add partial to list_github_data and optimize other methods
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Use .get() instead of direct dict key/value calls
  congregate/cli/stage_base.py
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
  congregate/helpers/list_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, update gitlab-ps-utils

Add exception to mdbc insert_data and avoid listing gitlab.com top-level group members
  congregate/helpers/mdbc.py
  congregate/migration/gitlab/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Unarchive/archive project to trigger mirror
  congregate/migration/gitlab/projects.py
  runbooks/migration-pre-and-post-requisites.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, runbook update, pages

Collapse sections of pre and post requisites runbook
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: runbook update, pages

Fix clean_data method
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add more Kibana queries to .com migrations
  runbooks/migrations-to-dot-com.md
Due: runbook update, pages

Remove total_time to avoid reseting it after every non 200 response
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update based on review
  congregate/cli/list_source.py
  congregate/cli/stage_base.py
  congregate/helpers/mdbc.py
  congregate/helpers/migrate_utils.py
  congregate/helpers/misc_utils.py
  congregate/main.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/bitbucket/users.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
  congregate/migration/jenkins/base.py
  congregate/migration/teamcity/base.py
  congregate/tests/helpers/test_misc_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests, update gitlab-ps-utils

Update based on review
  docs/full_setup.md
  docs/using-congregate.md
Due: none

Verify staged projects remote mirror and add UTs
  congregate/main.py
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_projects.py
  congregate/tests/mockapi/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update based on review
  congregate/main.py
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: mvc

Exclude bump version from E2E_NIGHTLY
  .gitlab-ci.yml
Due: mvc

Add VM info to runbook
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Use .get instead of [] for dicts
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Break verify_staged_projects_remote_mirror into 3 methods and fix UTs
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

update machine provision steps
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Add boolean check for missing mirror and update log
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Fix doc page references; Update logs
  congregate/docs/source/index.md
  congregate/migration/gitlab/variables.py
  docs/bitbucket-migration-features-matrix.md
  docs/github-migration-features-matrix.md
  docs/gitlab-migration-features-matrix.md
  docs/readme.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, pages

Output useful data/reporting after stage-wave run
  congregate/cli/stage_wave.py
  congregate/tests/cli/test_stage_wave.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Updates to methods and e2e tests using set_staged_users_public_email
  congregate/cli/do_all.py
  congregate/main.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group
