Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests, runbook update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:GitHub Server end to end: any of: congregate/migration/github/**/*
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  runbook update: any of: runbooks/*
  mvc: any of: ./**/*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Expand handle_member_retention to remove group members
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/projects.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Copying LICENSE file into images and adding license alias
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
Due: mvc

switching to autoscaling runner as the default
  .gitlab-ci.yml
Due: mvc

commenting gitlab-org-docker out
  .gitlab-ci.yml
Due: mvc

Run "poetry update foo" to resolve depencies but NOT update them
  congregate/migration/gitlab/api/groups.py
  poetry.lock
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Modifying pipeline workflow for schedules
  .gitlab-ci.yml
Due: mvc

Excluding more jobs from schedules
  .gitlab-ci.yml
Due: mvc

Fix pylint findings
  .gitlab-ci.yml
  congregate/main.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Adding more schedule exclusion rules
  .gitlab-ci.yml
Due: mvc

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit

Removing SAST job
  .gitlab-ci.yml
Due: mvc

Resolve "QFE: pylint badge"
  ci/pylint.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit

Add create_remote_push_mirror endpoint; Update formatting
  congregate/migration/gitlab/api/namespaces.py
  congregate/migration/gitlab/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add custom attribute to get_dst_path_with_namespace
  congregate/helpers/migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add push-mirror-staged-projects command and projects.py function
  congregate/main.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add contributing, cleanup readme with usage
  .gitignore
  README.md
  congregate/docs/source/index.md
  congregate/docs/source/static_docs
  congregate/docs/source/static_docs/bitbucket-development-setup.md
  congregate/docs/source/static_docs/bitbucket-migration-features-matrix.md
  congregate/docs/source/static_docs/github-migration-features-matrix.md
  congregate/docs/source/static_docs/gitlab-migration-features-matrix.md
  congregate/docs/source/static_docs/migration-features.md
  congregate/docs/source/static_docs/setup.md
  congregate/tests/cli/test_stage_wave_csv_generator.py
  docs/code-quality.md
  docs/contributing.md
  docs/full_setup.md
  docs/github-development-setup.md
  docs/migration-metrics.md
  docs/readme.md
  docs/roadmap.md
  docs/setup-dev-env.md
  docs/troubleshooting.md
  docs/using-congregate.md
  docs/workflow.md
  docs/writing-tests.md
  img/overview.png
  img/process-flow.png
  logo.psd
  templates/generate_test.csv
  templates/waves.csv
Due: test:pylint, test:pylint:syntax-errors, test:unit, mvc, pages

Add option to create disabled and update logs
  congregate/main.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Resolve "QFE: Fix coverage report"
  .gitlab-ci.yml
Due: mvc

Add forked_from_project field to staged projects
  congregate/cli/stage_base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: mvc

Adding note about no support SLAs
  README.md
  docs/contributing.md
Due: mvc

Add more push mirror commands
  congregate/main.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add UTs
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add create-staged-projects-fork-relation command
  congregate/main.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Adding vault var template
  .gitlab-ci.yml
  ci/vault.yml
Due: mvc

Correcting some variable paths
  .gitlab-ci.yml
  ci/vault.yml
  congregate/tests/migration/github/test_GHE_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, mvc

Updates and more UTs
  congregate/cli/stage_base.py
  congregate/helpers/migrate_utils.py
  congregate/main.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_projects.py
  congregate/tests/mockapi/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add more options to push-mirror-staged-projects
  congregate/helpers/seed/generator.py
  congregate/main.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/projects.py
  congregate/migration/migrate.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Set permissions for ps-user
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
Due: mvc

Fix steps in full_setup.md From docker
  docs/full_setup.md
Due: none

mocking staged_projects
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Update parent namespace in code and docs for Congregate project [skip-ci]
  README.md
  congregate.conf.template
  congregate/docs/source/index.md
  congregate/migration/gitlab/registries.py
  customer/famq.md
  dev/bin/env
  dev/bin/manually_move_images.sh
  docker/bitbucket/README.md
  docker/bitbucket/migration-bb-to-gitlab.yaml
  docker/jenkins/README.md
  docs/full_setup.md
  docs/roadmap.md
  docs/setup-dev-env.md
  docs/using-congregate.md
  docs/writing-tests.md
  runbooks/README.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, runbook update, mvc, pages

update image
  README.md
  img/overview.png
Due: mvc

Update to add collapsable sections
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: runbook update, pages

Fix migrate_utils for source parent group scenario
  congregate/helpers/migrate_utils.py
  congregate/helpers/string_utils.py
  congregate/tests/helpers/test_migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, update gitlab-ps-utils

Add create_commit_with_files_and_actions for project_repository and update variables
  congregate/migration/gitlab/api/project_repository.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update push_mirror_staged_projects logic
  congregate/main.py
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update docs/using-congregate.md
  docs/using-congregate.md
Due: none
