Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Add set/unset branch permissions command for BBS repos/projects
  congregate/main.py
  congregate/migration/bitbucket/api/base.py
  congregate/migration/bitbucket/api/projects.py
  congregate/migration/bitbucket/api/repos.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

adds risk management language to readme
  README.md
Due: mvc

Removing condition for bump version
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Changing to commit_branch for bump version
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Add to gitlab.com limitations
  README.md
Due: mvc

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Apply 1 suggestion(s) to 1 file(s)
  README.md
Due: mvc

Remove redundant dependency_scanning job and use built-in ones
  .gitlab-ci.yml
  congregate/helpers/seed/generate_token.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, mvc

Create rolling release stage
  .gitlab-ci.yml
  congregate/helpers/migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, mvc

Add tqdm to BaseClass and ProjectsClient
  congregate/helpers/base_class.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Housekeeping of mirroring commands
  congregate/main.py
  congregate/migration/gitlab/projects.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove unused command update-projects-visibility
  congregate/main.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add command delete-staged-projects-push-mirrors
  .gitignore
  congregate/main.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add 204 delete response check
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add UTs
  congregate/migration/mirror.py
  congregate/tests/migration/gitlab/test_projects.py
  congregate/tests/mockapi/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add validate_project_path
  congregate/helpers/migrate_utils.py
  congregate/tests/helpers/test_migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Use f-string where applicable
  congregate/cli/stage_base.py
  congregate/migration/gitlab/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Rename validate to sanitize
  congregate/cli/stage_base.py
  congregate/helpers/migrate_utils.py
  congregate/tests/helpers/test_migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Rename variables based on review and fix typo
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "Update token requirements for migrations from BitBucket Server"
  runbooks/migrations-from-bb-server.md
Due: docs update, pages

Add examples
  congregate/helpers/migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Raise exception instead of print for rotate_logs
  congregate/helpers/utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "Update `using_congregate.md` Process Flow diagram"
  docs/using-congregate.md
  img/process-flow.png
Due: none

Add --skip-group-members and --skip-project-members
  congregate/cli/list_source.py
  congregate/main.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "Add summary log to diff report"
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update docs/using-congregate.md
  docs/using-congregate.md
Due: none

adds misconceptions to famq
  customer/famq.md
Due: docs update

Add inactive user state
  congregate/helpers/base_class.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove performance boost mention for '--partial'
  docs/using-congregate.md
Due: none

Optimize rotate_logs
  congregate/helpers/utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove None from .get where applicable
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update clusters in migration features matrix
  customer/gitlab-migration-features-matrix.md
Due: docs update

Troubleshoot failing e2e tests on project import timeout
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Deleted docker/maven/poetry.lock, docker/maven/pom.xml, docker/maven/pyproject.toml
  docker/maven/poetry.lock
  docker/maven/pom.xml
  docker/maven/pyproject.toml
Due: none

Added Maven Image with Python and Grpc
  docker/maven/cmd_pb2.py
  docker/maven/cmd_pb2_grpc.py
  docker/maven/command_server.py
  docker/maven/docker/Dockerfile
  docker/maven/poetry.lock
  docker/maven/pom.xml
  docker/maven/protos/cmd.proto
  docker/maven/pyproject.toml
Due: none

Added No Mongo Docker FIle
  .gitlab-ci.yml
  docker/release/no-mongo.Dockerfile
Due: test:end-to-end full, test:end-to-end single group, mvc

added packages.py to congregate/migration/gitlab/api
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Clarify license check message during configure
  congregate/cli/config.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add KeyError exceptions where applicable when staging
  congregate/cli/stage_base.py
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
  congregate/cli/stage_wave.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release
