Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Move check_list_subset_input_file_path to migrate_utils
  congregate/helpers/base_class.py
  congregate/helpers/migrate_utils.py
  congregate/migration/bitbucket/bbs_base_class.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Revert http_url_to_repo back to .git
  congregate/migration/bitbucket/repos.py
  congregate/tests/migration/bitbucket/test_repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Check for failed_relations key before popping
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Import status check
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Separate BBS project mongo connection into a project related function
  congregate/migration/bitbucket/bbs_base_class.py
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Improve log readability
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Move common methods to BitBucket base class
  congregate/main.py
  congregate/migration/bitbucket/api/users.py
  congregate/migration/bitbucket/base.py
  congregate/migration/bitbucket/groups.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/bitbucket/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Disable id_admin until needed and fix UTs
  congregate/migration/bitbucket/base.py
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/migration/bitbucket/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Inherit BitBucketServer instead of BaseClass
  congregate/migration/bitbucket/groups.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/bitbucket/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Format users, repos and projects in bb_groups
  congregate/migration/bitbucket/base.py
  congregate/migration/bitbucket/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix pylint error
  congregate/migration/bitbucket/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Import complete when repo is empty
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove unused imports
  congregate/helpers/base_class.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add new command wrappers
  congregate/main.py
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Map BBS inactive users to GL deactivated
  congregate/migration/bitbucket/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix UT for bb_groups
  congregate/migration/bitbucket/groups.py
  congregate/tests/migration/bitbucket/test_groups.py
  congregate/tests/mockapi/bitbucket/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Save repo and project groups metadata
  congregate/cli/list_source.py
  congregate/migration/bitbucket/base.py
  congregate/migration/bitbucket/groups.py
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Introduce repo and project 'groups' as BBS metadata
  congregate/cli/stage_base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add BBS API wrapper for PUT requests and new repo/project API wrappers
  congregate/migration/bitbucket/api/base.py
  congregate/migration/bitbucket/api/projects.py
  congregate/migration/bitbucket/api/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Move BBS constants to constants.py
  congregate/migration/bitbucket/constants.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add set/unset command for BBS member permissions
  congregate/cli/list_source.py
  congregate/main.py
  congregate/migration/bitbucket/base.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix UT and add more description and logging where applicable
  congregate/cli/list_source.py
  congregate/main.py
  congregate/migration/bitbucket/constants.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/gitlab/external_import.py
  congregate/tests/migration/bitbucket/test_groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix UTs related to new command
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/migration/bitbucket/test_repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update logs
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Ignore 'created_by' userdiff key
  congregate/migration/gitlab/diff/userdiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Overwrite base.py skip-project-members and skip-group-members
  congregate/cli/list_source.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Update customer/famq.md - add personal project info
  customer/famq.md
Due: docs update

Improve migrating deploy keys
  congregate/migration/gitlab/keys.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update variable names and argument description
  congregate/main.py
  congregate/migration/gitlab/keys.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

attempt Jenkins docker fix
  .gitlab-ci.yml
  docker/jenkins/Dockerfile
  docker/jenkins/plugins.txt
  docker/jenkins/setup_and_seed.py
Due: build jenkins seed image, test:end-to-end full, test:end-to-end single group, mvc

Fix deploy key logic
  congregate/migration/gitlab/keys.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Optimize adding BBS user_groups to listed users
  congregate/migration/bitbucket/base.py
  congregate/migration/gitlab/keys.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove emptyRepo from GraphQL API call
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add project statistics when there are no import stats
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Lower pipeline job timeouts
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Optimize GL group and project listing
  congregate/cli/list_source.py
  congregate/helpers/base_class.py
  congregate/migration/github/api/repos.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
  congregate/tests/mockapi/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix doc formatting
  runbooks/migration-pre-and-post-requisites.md
Due: docs update, pages

Remove duplicate logic
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add constants.py for gitlab module
  congregate/helpers/base_class.py
  congregate/migration/gitlab/constants.py
  congregate/migration/gitlab/diff/groupdiff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/diff/userdiff.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release
