Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Add staging license to destination instance
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Resolve "Verify Namespace (Top Group) is Private prior to migrations"
  congregate/cli/stage_wave.py
  congregate/helpers/conf.py
  congregate/helpers/configuration_validator.py
  congregate/helpers/migrate_utils.py
  congregate/tests/helpers/test_configuration_validator.py
  congregate/tests/mockapi/gitlab/groups.py
  congregate/ui/auth.py
  mkdocs.yml
  runbooks/setting-up-airgap-migrations.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, pages

Updating UI staging POST calls and UI event handling
  congregate/helpers/ui_utils.py
  congregate/ui/stage.py
  congregate/ui/wsgi.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Footer.vue
  frontend/src/event-bus.js
  frontend/src/main.js
  frontend/src/views/Groups.vue
  frontend/src/views/Projects.vue
  frontend/src/views/Users.vue
  poetry.lock
  pyproject.toml
  ui-checksum
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Apply 5 suggestion(s) to 1 file(s)
  runbooks/setting-up-airgap-migrations.md
Due: docs update, pages

Adding supervisord to manage processes for airgapped migrations
  docker/release/centos/supervisord.conf
  docker/release/docker-compose.yml
  docker/release/no-mongo.Dockerfile
  runbooks/setting-up-airgap-migrations.md
Due: docs update, mvc, pages

Updating airgap migration runbooks
  docker/release/docker-compose.yml
  runbooks/airgapped-migration-usage.md
  runbooks/setting-up-airgap-migrations.md
Due: docs update, mvc, pages

Adding pipeline schedules to single_project_features
  congregate/migration/gitlab/variables.py
  congregate/migration/meta/api_models/pipeline_schedule.py
  congregate/migration/meta/api_models/pipeline_schedule_variables.py
  congregate/migration/meta/api_models/single_project_features.py
  runbooks/setting-up-airgap-migrations.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, pages

adding pipeline schedule to e2e data seed class
  congregate/helpers/seed/generator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Updating version check script
  dev/bin/version_check.sh
Due: none

reverting version bump
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Use dataclass for user formatting
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/users.py
  congregate/migration/meta/api_models/users.py
  congregate/tests/migration/gitlab/test_users.py
  congregate/tests/mockapi/gitlab/users.py
  runbooks/migration-pre-and-post-requisites.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, pages

Updating gitlab-ps-utils dep to 0.9.0
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

adding poetry files to changes rules for e2e tests
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

adding more command examples in air gap setup
  runbooks/setting-up-airgap-migrations.md
Due: docs update, pages

Updating air gap migration docs
  runbooks/airgapped-migration-usage.md
  runbooks/setting-up-airgap-migrations.md
Due: docs update, pages

Highlight in README that Congregate is an API wrapper
  README.md
Due: mvc

Update file alternate-migration-methods.md
  docs/alternate-migration-methods.md
Due: none

Update 2 files
  docs/migration-methods.md
Due: none

Add links and update formatting
  customer/migration-methods.md
  docs/migration-methods.md
Due: docs update

Update mkdocs and index
  docs/index.md
  mkdocs.yml
Due: none

Add to_dict for ProjectLevelApproverPayload
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/variables.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Tested and working version
  congregate/migration/bitbucket/keys.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update class name and source type
  congregate/migration/bitbucket/keys.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Remove json load
  congregate/migration/bitbucket/keys.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

saving progression for adding bb ssh key migration
  congregate/migration/bitbucket/api/users.py
  congregate/migration/bitbucket/keys.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Use existing api replacement
  congregate/migration/bitbucket/api/base.py
  congregate/migration/bitbucket/api/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix syntax error
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Separate GL and BB user creation
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update migrate function for bb
  congregate/migration/bitbucket/keys.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/bitbucket/api/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update URL
  congregate/migration/bitbucket/api/base.py
  congregate/migration/bitbucket/api/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update customer doc to supported ssh keys
  customer/bitbucket-migration-features-matrix.md
Due: docs update

Update file pre-and-post-migration.md
  customer/img/gitlab-addwebhook.png
  customer/img/gitlab-clone.png
  customer/img/gitlab-webhooks.png
  customer/img/jenkins-add.png
  customer/img/jenkins-addsource.png
  customer/img/jenkins-allowedbranches.png
  customer/img/jenkins-bluequestionmark.png
  customer/img/jenkins-branchsources.png
  customer/img/jenkins-buildtriggers.png
  customer/img/jenkins-configure.png
  customer/img/jenkins-filterbrancherror.png
  customer/img/jenkins-ownerexample.png
  customer/img/jenkins-propertystrategy.png
  customer/img/jenkins-redx.png
  customer/img/jenkins-secrettoken.png
  customer/img/jenkins-sourcecodemanagement.png
  customer/jenkins.md
  customer/pre-and-post-migration.md
Due: docs update

Update file docker_connection_test.py
  dev/bin/docker_connection_test.py
Due: none

Align stage-wave for GL->GL
  congregate/cli/stage_wave.py
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/migrate.py
  ui-checksum
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Better log messaging
  congregate/migration/bitbucket/keys.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix UTs
  congregate/cli/stage_wave.py
  congregate/tests/cli/test_stage_wave.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Move export_import_timeout to APP section of config
  congregate.conf.template
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/migration/github/users.py
  congregate/migration/gitlab/importexport.py
  congregate/tests/cli/data/test_not_ext_src_no_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_default.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_hashed_sso.conf
  congregate/tests/cli/data/test_not_ext_src_src_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/test_config.py
  congregate/tests/migration/github/test_migration_setup.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
  runbooks/setting-up-airgap-migrations.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, pages
