Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

starting to work on airgap utils to generate artifact
  congregate/helpers/airgap_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding GzipFile to handle project export
  congregate/helpers/airgap_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

switching dryrun elif to if
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding mtime to airgap artifact
  congregate/helpers/airgap_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding unique index to project_features col
  congregate/helpers/mdbc.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Automatically deleting project features after creating artifact
  congregate/helpers/airgap_utils.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "Archive all the logs, staged data, and results files."
  dev/bin/env
  dev/bin/m_wave_archive.sh
  dev/bin/m_wave_setup.sh
  dev/bin/wave_archive.sh
Due: none

Updating UI static asset folde path
  congregate/ui/__init__.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding decorator function to handle mongo connection
  congregate/helpers/airgap_utils.py
  congregate/helpers/mdbc.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating UI checksum and checksum validator
  congregate/helpers/ui_utils.py
  ui-checksum
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Working on initial Flask API refactor
  congregate/helpers/ui_utils.py
  congregate/migration/gitlab/users.py
  congregate/ui/__init__.py
  congregate/ui/controllers.py
  congregate/ui/stage.py
  congregate/ui/test.py
  congregate/ui/views.py
  congregate/ui/wsgi.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Use f-string in search-for-staged-users
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Starting to switch route modules to use blueprints
  congregate/ui/models.py
  congregate/ui/wsgi.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Renaming CI_BUILD_TOKEN to CI_JOB_TOKEN
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Update GL on feature tokens
  customer/gitlab-migration-features-matrix.md
Due: docs update

Update file gitlab-migration-features-matrix.md
  customer/gitlab-migration-features-matrix.md
Due: docs update

Adjust lines and order
  customer/gitlab-migration-features-matrix.md
Due: docs update

Log warning when adding username suffix
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding project token auth decorator
  congregate/helpers/utils.py
  congregate/migration/gitlab/migrate.py
  congregate/ui/airgap.py
  congregate/ui/auth.py
  congregate/ui/data_models/airgap_export_payload.py
  congregate/ui/logs.py
  congregate/ui/stage.py
  congregate/ui/wsgi.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update GL matrix on Managed Licenses
  customer/gitlab-migration-features-matrix.md
Due: docs update

Remove users per_page limit of 50
  congregate/migration/gitlab/api/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Use f-string and more variables where applicable
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add config to lookup users by username
  congregate/helpers/conf.py
  congregate/main.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Break loop on find and reuse key variable
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add per_page limit of 10 per username/email search
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Always collect src:dest primary and public email mapping
  congregate/migration/gitlab/users.py
  dev/bin/env
  ui-checksum
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding Celery to Flask API
  congregate/helpers/celery_utils.py
  congregate/helpers/conf.py
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/variables.py
  congregate/ui/airgap.py
  congregate/ui/auth.py
  congregate/ui/logs.py
  congregate/ui/wsgi.py
  docker/test/docker-compose.yml
  poetry.lock
  pyproject.toml
Due: build, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Check for Response class instead of None
  congregate/migration/gitlab/hooks.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Align user mapping emails
  congregate/main.py
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

moving src_host and src_token to new BaseGitLabClient class
  congregate/migration/gitlab/base_gitlab_client.py
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/variables.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Changing how src_host and src_token are stored in base_gitlab_client
  congregate/migration/gitlab/base_gitlab_client.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

fixing syntax errors in importexport.py
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating token generator and e2e setup files
  congregate/helpers/seed/generate_token.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

changing source parent group id
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

dropping accuracy check for groups to 96%
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Return empty dict instead of None for group find
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_importexport.py
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Set include_ancestor_groups to False
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/constants.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Set all diff percentages to 99%
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Minor code cleanup
  congregate/migration/meta/api_models/pipeline_schedule_variables.py
  congregate/migration/meta/api_models/project_level_approvers.py
  congregate/ui/__init__.py
  congregate/ui/controllers.py
  congregate/ui/data_models/airgap_export_payload.py
  congregate/ui/test.py
  congregate/ui/wsgi.py
  docker/release/docker-compose.yml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, mvc

Dropping e2e check to 98%
  congregate/helpers/celery_utils.py
  congregate/helpers/db_or_http.py
  congregate/helpers/mdbc.py
  congregate/helpers/seed/generator.py
  congregate/helpers/utils.py
  congregate/migration/gitlab/migrate.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/ui/stage.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release
