Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Removing line about using deprecated congregate configure command
  docs/full_setup.md
Due: none

Fix UTs
  congregate/tests/migration/gitlab/test_registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add check for public if no email and default empty string
  congregate/migration/gitlab/api/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating gitlab-ps-utils dep to 0.10.2
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Hiding migrating projects line when only migrating projects
  frontend/src/components/DryRun.vue
Due: debian rolling release, centos rolling release

Passing skip_projects parameter to API from UI
  congregate/ui/direct_transfer.py
  frontend/src/components/DryRun.vue
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Switching to a single initial task to then traverse through the group/subgroup tree
  congregate/migration/gitlab/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding option to list with DT and src_group_path both configured
  congregate/migration/gitlab/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add new UTs
  congregate/migration/gitlab/registries.py
  congregate/tests/migration/gitlab/test_registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Using OAuth token to generate tokens for E2E tests
  .gitlab-ci.yml
  congregate/cli/config.py
  congregate/helpers/seed/generate_token.py
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/constants.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, mvc

Add import from S3 example
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Fix registry repo_loc
  congregate/helpers/configuration_validator.py
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add rollback argument to main command
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/gitlab/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix unit tests
  congregate/tests/cli/data/test_full_ext_src_skeleton_bitbucket_server.conf
  congregate/tests/cli/data/test_full_ext_src_skeleton_github_server.conf
  congregate/tests/cli/data/test_not_ext_src_no_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_default.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_hashed_sso.conf
  congregate/tests/cli/data/test_not_ext_src_src_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/test_config.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add archive_logic variable under APP
  congregate.conf.template
Due: none

Assume project is archived if api fails
  congregate/migration/gitlab/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add check on the project import id before archive
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Archive Source Projects during migration
  .gitignore
  congregate.conf.template
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/projects.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Get dynamically archive_state
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Exclude other NPM package versions while migrating a new NPM package version
  congregate/helpers/package_utils.py
  congregate/migration/gitlab/api/npm.py
  congregate/migration/gitlab/packages.py
  congregate/migration/meta/api_models/npm_package_data.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Are registries enabled
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Reduntant UT
  congregate/tests/migration/gitlab/test_registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix upper case path
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Improve gl2gl dry-run and archive logic
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Revert registry update
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/registries.py
  congregate/tests/migration/gitlab/test_registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updates DT docs with supervisorctl troubleshooting
  docs/direct-transfer-api.md
Due: none

Fix imported project displays as unsuccessful even though project imported
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/project_feature_flags_user_lists.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Removing sudo requirement from no-mongo centos container and supervisord config
  docker/release/centos/supervisord.conf
  docker/release/docker-compose.yml
  docker/release/no-mongo.Dockerfile
Due: mvc

Enable advanced SAST
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Update file direct-transfer-api.md
  docs/direct-transfer-api.md
Due: none

Adding persistent volume for mongo container
  docker/dev/cdk/docker-compose.yml
  docker/release/docker-compose.yml
  docker/test/docker-compose.yml
Due: build, test:pylint, test:pylint:syntax-errors, test:unit, mvc

Converting docker-compose port mappings to strings
  docker/dev/cdk/docker-compose.yml
  docker/ldap/docker-compose.yml
  docker/release/docker-compose.yml
  docker/test/docker-compose.yml
Due: build, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, mvc

Updating CDK dockerfile path and python3 executable for the LDAP test
  .gitlab-ci.yml
  docker/dev/cdk/Dockerfile
  docker/ldap/docker-compose.yml
Due: check ldap compose yaml, test:end-to-end full, test:end-to-end single group, mvc

Updating CDK and LDAP CI job rules
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

dropping group accuracy check to 92.5%
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add packages_enabled to staged_projects
  congregate/cli/stage_base.py
  congregate/migration/meta/api_models/project_details.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Improve GL features matrix
  congregate/migration/meta/api_models/pypi_package_data.py
  customer/gitlab-migration-features-matrix.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, docs update
