Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests, runbook update, mvc, pages

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - /bin/sh build_test_image.sh

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

test:pylint:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ./pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ./pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - poetry run pytest -m 'unit_test' --cov-report html --cov-config=.coveragerc --cov=congregate congregate/tests/
  timeout: 5 minutes
  artifacts:
  ...

test:end-to-end full:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:GitHub Server end to end:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  - curl -k $GH_TEST_INSTANCE_URL -v

mvc:
  stage: test
  script:
  - echo "Placeholder job to trigger a min. pipeline for non-code related changes"

Fix GitHub user listing Name formatting
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
  congregate/migration/migrate.py
  congregate/tests/migration/github/test_users.py
  docker/bitbucket/README.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, mvc

Re-enable adding repo members
  congregate/migration/github/repos.py
  congregate/tests/migration/github/test_orgs.py
  congregate/tests/migration/github/test_repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:GitHub Server end to end

Import entire misc_utils and migrate_utils to migrate.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Move find_user_by_email_comparison_without_id to migrate_utils
  congregate/correct_null_users.py
  congregate/helpers/migrate_utils.py
  congregate/helpers/reporting.py
  congregate/migration/github/repos.py
  congregate/tests/helpers/test_migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Move get_staged_groups to migrate_utils and adjust UTs
  congregate/migration/gitlab/groups.py
  congregate/tests/migration/gitlab/test_groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Move get_staged_projects to migrate_utils and adjust UTs
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Move get_staged_users to migrate_utils and adjust UTs
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Compose/Containers for E2E LDAP"
  .gitignore
  .gitlab-ci.yml
  docker/ldap/README.md
  docker/ldap/clean_gitlab_data.sh
  docker/ldap/data/gitlab.rb
  docker/ldap/data/root_password.txt
  docker/ldap/docker-compose.yml
  docker/ldap/example_tree.ldiff
Due: mvc

Get app_path directly from misc_utils and get_congregate_path
  congregate/helpers/migrate_utils.py
  congregate/migration/github/repos.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Resolve "Rename export-import config fields"
  congregate.conf.template
  congregate/aws.py
  congregate/cli/config.py
  congregate/docs/source/conf.py
  congregate/helpers/conf.py
  congregate/helpers/misc_utils.py
  congregate/migration/github/users.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/importexport.py
  congregate/tests/cli/data/test_full_ext_src_skeleton_bitbucket_server.conf
  congregate/tests/cli/data/test_full_ext_src_skeleton_github_server.conf
  congregate/tests/cli/data/test_not_ext_src_no_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_default.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_hashed_sso.conf
  congregate/tests/cli/data/test_not_ext_src_src_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/test_config.py
  congregate/tests/helpers/test_mdbc.py
  congregate/tests/migration/github/test_GHE_migration_setup.py
  congregate/tests/migration/github/test_migration_setup.py
  congregate/tests/migration/github/test_users.py
  congregate/tests/migration/gitlab/test_importexport.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
  docker/bitbucket/README.md
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, runbook update, mvc, pages

Resolve "Write listed data from GitLab Server into mongo table"
  .gitlab-ci.yml
  congregate/cli/config.py
  congregate/cli/list_source.py
  congregate/helpers/conf.py
  congregate/helpers/mdbc.py
  congregate/helpers/misc_utils.py
  congregate/helpers/processes.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
  congregate/tests/cli/data/test_full_ext_src_skeleton_bitbucket_server.conf
  congregate/tests/cli/data/test_full_ext_src_skeleton_github_server.conf
  congregate/tests/cli/data/test_not_ext_src_no_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_default.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_hashed_sso.conf
  congregate/tests/cli/data/test_not_ext_src_src_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/test_config.py
  congregate/tests/cli/test_stage_groups.py
  congregate/tests/cli/test_stage_projects.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/migration/github/test_orgs.py
  congregate/tests/migration/github/test_repos.py
  congregate/tests/migration/github/test_users.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_projects.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
  congregate/tests/migration/gitlab/test_users.py
  congregate/tests/migration/jenkins/test_base.py
  congregate/tests/mockapi/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Minor repo cleanup. Moving CI scripts to new CI directory
  .gitlab-ci.yml
  ci/build-tar.sh
  ci/build_test_image.sh
  ci/pylint-errors.sh
  ci/pylint.sh
  ci/runbookscript.py
  ci/spin_up_test_vm.sh
  congregate/docs/source/static_docs/writing-tests.md
  snakeskin.txt
Due: test:pylint, test:pylint:syntax-errors, test:unit, mvc, pages

Resolve "Add mirror trigger job for GitLab-ps-utils transition"
  .gitlab-ci.yml
Due: none

Update mock import in tests
  congregate/tests/cli/test_config.py
  congregate/tests/cli/test_config_old.py.bak
  congregate/tests/cli/test_ldap_group_sync.py
  congregate/tests/cli/test_stage_groups.py
  congregate/tests/cli/test_stage_projects.py
  congregate/tests/cli/test_stage_wave.py
  congregate/tests/helpers/test_api.py
  congregate/tests/helpers/test_configuration_validator.py
  congregate/tests/helpers/test_mdbc.py
  congregate/tests/helpers/test_migrate_utils.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/helpers/test_reporting.py
  congregate/tests/migration/bitbucket/test_groups.py
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/migration/bitbucket/test_repos.py
  congregate/tests/migration/bitbucket/test_users.py
  congregate/tests/migration/github/meta/test_github_browser.py
  congregate/tests/migration/github/test_GHE_migration_setup.py
  congregate/tests/migration/github/test_base.py
  congregate/tests/migration/github/test_migration_setup.py
  congregate/tests/migration/github/test_orgs.py
  congregate/tests/migration/github/test_repos.py
  congregate/tests/migration/github/test_users.py
  congregate/tests/migration/gitlab/test_clusters.py
  congregate/tests/migration/gitlab/test_compare.py
  congregate/tests/migration/gitlab/test_diff.py
  congregate/tests/migration/gitlab/test_environments.py
  congregate/tests/migration/gitlab/test_groups.py
  congregate/tests/migration/gitlab/test_importexport.py
  congregate/tests/migration/gitlab/test_merge_request_approvals.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_projects.py
  congregate/tests/migration/gitlab/test_registries.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
  congregate/tests/migration/gitlab/test_users.py
  congregate/tests/migration/jenkins/api/test_base.py
  congregate/tests/migration/jenkins/test_base.py
  congregate/tests/migration/meta/test_etl.py
  congregate/tests/migration/teamcity/test_base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

moving migrate utils fro misc_utils to mgirate_utils
  congregate/helpers/migrate_utils.py
  congregate/helpers/misc_utils.py
  congregate/main.py
  congregate/migration/github/repos.py
  congregate/migration/gitlab/projects.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

applying changes clause to within if clause for downstrem job
  .gitlab-ci.yml
Due: none

moving migrate utils import to later in main
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Removing unused cli utilities
  README.md
  congregate/main.py
  congregate/migration/gitlab/groups.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Moving ui utils to ui_utils.py
  congregate/helpers/misc_utils.py
  congregate/helpers/ui_utils.py
  congregate/main.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/helpers/test_ui_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Updating changes syntax
  .gitlab-ci.yml
Due: none

Resolve "YML String Find+Replace"
  .gitignore
  congregate/helpers/conf.py
  congregate/helpers/misc_utils.py
  congregate/migration/gitlab/api/project_repository.py
  congregate/migration/gitlab/projects.py
  congregate/migration/migrate.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/migration/gitlab/test_projects.py
  congregate/tests/migration/test_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Rename migrate_archived_repo to archive_migrated_repo
  congregate/migration/github/repos.py
  congregate/tests/migration/github/test_repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:GitHub Server end to end

Add only-post-migration-info option to github migrations
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Set 4 as default no. of parallel processes and add log
  congregate/helpers/processes.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update variable declaration and class initiation where possible
  congregate/migration/github/api/repos.py
  congregate/migration/github/orgs.py
  congregate/migration/jenkins/base.py
  congregate/migration/migrate.py
  congregate/migration/teamcity/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests

adding another user map util
  README.md
  congregate/helpers/conf.py
  congregate/helpers/user_util.py
  congregate/main.py
  congregate/tests/helpers/test_user_util.py
  congregate/tests/helpers/user_util/data/fake_user_map.csv
  congregate/tests/helpers/user_util/data/fake_user_map_extra.csv
  congregate/tests/helpers/user_util/data/staged_users.json
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Doc and error check updates
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Fix test_base UTs
  congregate/tests/migration/jenkins/test_base.py
  congregate/tests/migration/teamcity/test_base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Fix github generate diff json formatting
  congregate/migration/gitlab/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Fix overwritten resp variables for hooks
  congregate/migration/gitlab/hooks.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Make config field out of processes
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/helpers/processes.py
  congregate/tests/cli/data/test_full_ext_src_skeleton_bitbucket_server.conf
  congregate/tests/cli/data/test_full_ext_src_skeleton_github_server.conf
  congregate/tests/cli/data/test_not_ext_src_no_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_default.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_hashed_sso.conf
  congregate/tests/cli/data/test_not_ext_src_src_parent_group_path_mirror_name_filesystem_skeleton.conf
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

modifications to file structures
  congregate/helpers/conf.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

making branch creation dependent on name creation
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Add ability to remap paths for importers"
  congregate/cli/stage_wave.py
  congregate/migration/migrate.py
  congregate/tests/cli/test_stage_wave.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Move string-specific utilities to new string_utils file"
  congregate/cli/config.py
  congregate/cli/list_source.py
  congregate/cli/stage_wave.py
  congregate/helpers/conf.py
  congregate/helpers/misc_utils.py
  congregate/helpers/string_utils.py
  congregate/helpers/user_util.py
  congregate/main.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/jenkins/base.py
  congregate/migration/migrate.py
  congregate/migration/teamcity/base.py
  congregate/tests/helpers/test_configuration_validator.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/helpers/test_string_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests

Resolve "Make a better error message on congregate in use error, possibly add a verification check as well."
  congregate.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit

Resolve "Create stage_wave CSV from listed projects."
  README.md
  congregate/cli/stage_wave_csv_generator.py
  congregate/helpers/conf.py
  congregate/main.py
  congregate/tests/cli/test_stage_wave_csv_generator.py
  generate_test.csv
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Resolve "Duplicate destination parent group path in stage_wave"
  README.md
  congregate.conf.template
  congregate/cli/stage_wave.py
  congregate/helpers/migrate_utils.py
  congregate/helpers/processes.py
  congregate/main.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/github/repos.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/migrate.py
  congregate/tests/cli/test_stage_wave.py
  dev/bin/env
  github-migration-features-matrix.md
  runbooks/migration-pre-and-post-requisites.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, runbook update, mvc, pages

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh, package.json, pylint*.sh, .pylintrc
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh, package.json, pylint*.sh, .pylintrc
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh, package.json, pylint*.sh, .pylintrc
  test:end-to-end full: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:GitHub Server end to end: any of: congregate/migration/github/**/*
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  runbook update: any of: runbooks/*
  mvc: any of: **/*.md, README.md, docker/release/*
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
