Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests, runbook update, mvc, pages

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - /bin/sh build_test_image.sh

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

test:pylint:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ./pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ./pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - poetry run pytest -m 'unit_test' --cov-report html --cov-config=.coveragerc --cov=congregate congregate/tests/
  timeout: 5 minutes
  artifacts:
  ...

test:end-to-end full:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:GitHub Server end to end:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  - curl -k $GH_TEST_INSTANCE_URL -v

mvc:
  stage: test
  script:
  - echo "Placeholder job to trigger a min. pipeline for non-code related changes"

Resolve "Split apart config class into base config class and congregate config class"
  congregate/cli/ldap_group_sync.py
  congregate/helpers/api.py
  congregate/helpers/audit_logger.py
  congregate/helpers/base_class.py
  congregate/helpers/base_config.py
  congregate/helpers/conf.py
  congregate/helpers/logger.py
  congregate/migration/gitlab/api/base_api.py
  congregate/migration/gitlab/api/external_import.py
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/api/instance.py
  congregate/migration/gitlab/api/issues.py
  congregate/migration/gitlab/api/merge_requests.py
  congregate/migration/gitlab/api/namespaces.py
  congregate/migration/gitlab/api/project_repository.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/api/snippets.py
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/migrate.py
  congregate/migration/mirror.py
  congregate/tests/cli/test_ldap_group_sync.py
  congregate/tests/helpers/test_api.py
  congregate/tests/helpers/test_configuration_validator.py
  congregate/tests/helpers/test_migrate_utils.py
  congregate/tests/migration/gitlab/test_compare.py
  congregate/tests/migration/gitlab/test_groups.py
  congregate/tests/migration/gitlab/test_importexport.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Resolve "Add summary counts between src and dest in diff report"
  congregate/helpers/api.py
  congregate/helpers/base_class.py
  congregate/helpers/logger.py
  congregate/helpers/mdbc.py
  congregate/helpers/seed/generator.py
  congregate/migration/github/api/base.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/diff/projectdiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

porting over Caleb's changes
  congregate/helpers/decorators.py
  congregate/migration/github/api/base.py
  docker/github/docker-compose.yaml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Update pyproject.toml
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit

Minor wording update to Support requests
  runbooks/migrations-to-dot-com.md
Due: runbook update, mvc, pages

Add filter-projects-by-stage command
  README.md
  congregate/helpers/json_utils.py
  congregate/main.py
  congregate/migration/gitlab/projects.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Importing base config class to GitLabApiWrapper
  congregate/migration/gitlab/api/base_api.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Switching to a class attribute for SSL verification
  congregate/migration/gitlab/api/base_api.py
  congregate/migration/gitlab/badges.py
  congregate/migration/gitlab/base_client.py
  congregate/migration/gitlab/branches.py
  congregate/migration/gitlab/clusters.py
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/hooks.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/pushrules.py
  congregate/migration/gitlab/registries.py
  congregate/migration/gitlab/users.py
  congregate/migration/gitlab/variables.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Revert "Switching to a class attribute for SSL verification"
  congregate/migration/gitlab/api/base_api.py
  congregate/migration/gitlab/badges.py
  congregate/migration/gitlab/base_client.py
  congregate/migration/gitlab/branches.py
  congregate/migration/gitlab/clusters.py
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/hooks.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/pushrules.py
  congregate/migration/gitlab/registries.py
  congregate/migration/gitlab/users.py
  congregate/migration/gitlab/variables.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Correcting log paths for UI to spin up
  congregate.sh
  congregate/helpers/decorators.py
  congregate/helpers/ui_utils.py
  congregate/ui/__init__.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Attempting to pass SSL verify and config without causing config CLI issues
  congregate/helpers/api.py
  congregate/migration/gitlab/api/base_api.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update spots noticed in an already merged MR
  congregate/helpers/api.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Extend migrate_project_deploy_keys for is_dot_com cases to use the DB record key matching and enabling
  congregate/helpers/mdbc.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Allow \w i.e. all word characters in validate_name
  congregate/helpers/misc_utils.py
  congregate/tests/helpers/test_misc_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add keys collection to _setup_db
  congregate/helpers/mdbc.py
  congregate/migration/gitlab/keys.py
  congregate/tests/helpers/test_mdbc.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Updating downstream gitlab-ps-utils job
  .gitlab-ci.yml
Due: none

removing unused congregate import
  congregate/helpers/audit_logger.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add warning log to indicate migration complete
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Remove project and group members from source as part of remove-inactive-members
  congregate/main.py
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
  congregate/tests/mockapi/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Use inactive for all states that do not consume a license
  README.md
  congregate.conf.template
  congregate/cli/config.py
  congregate/docs/source/static_docs/workflow.md
  congregate/helpers/base_class.py
  congregate/helpers/conf.py
  congregate/migration/migrate.py
  congregate/tests/cli/data/test_full_ext_src_skeleton_bitbucket_server.conf
  congregate/tests/cli/data/test_full_ext_src_skeleton_github_server.conf
  congregate/tests/cli/data/test_not_ext_src_no_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_default.conf
  congregate/tests/cli/data/test_not_ext_src_parent_group_path_no_mirror_name_aws_hashed_sso.conf
  congregate/tests/cli/data/test_not_ext_src_src_parent_group_path_mirror_name_filesystem_skeleton.conf
  congregate/tests/cli/test_config.py
  congregate/tests/migration/github/test_GHE_migration_setup.py
  congregate/tests/migration/github/test_migration_setup.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
  docker/bitbucket/README.md
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
  using-congregate.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, runbook update, mvc, pages

Fix instance hooks when migating to a sub-group on .com
  congregate/migration/gitlab/hooks.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add more robust checks based on code review
  congregate/migration/gitlab/users.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Fix generate-diff GitlabApi instantiation
  congregate/migration/github/diff/repodiff.py
  congregate/migration/gitlab/diff/projectdiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Da not remove keys as part of clean-database
  congregate/helpers/mdbc.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add UTs for misc_utils/do_yml_sub
  congregate/tests/helpers/test_misc_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Updating for reg cleaning, 5 day lead, group import/export link
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, mvc, pages

Apply 1 suggestion(s) to 1 file(s)
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, mvc, pages

Add project CI pipeline trimming steps
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: runbook update, mvc, pages

Add subgroups-only argument to generate-diff
  README.md
  congregate/main.py
  congregate/migration/gitlab/diff/groupdiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Remove deprected SAST_DEFAULT_ANALYZERS
  .gitlab-ci.yml
Due: none

Add --local to count-unarchived-projects
  README.md
  congregate/main.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Add SAST_EXCLUDED_ANALYZERS to SAST job
  .gitlab-ci.yml
Due: none

Resolve "Docker pulling odd image lists"
  congregate/migration/gitlab/registries.py
  congregate/update-readme.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

endpoint updates
  congregate/migration/github/diff/repodiff.py
  congregate/migration/gitlab/diff/projectdiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Remove BaseClass from processes.py and decorators.py for ps-utils
  congregate/helpers/decorators.py
  congregate/helpers/processes.py
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
  docker/test/py38.Dockerfile
Due: build, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Resolve "Update user identity for google_oauth"
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Resolve "SAML identity write fails when there are no identities"
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Logging, return orig "new_user"
  congregate/migration/gitlab/users.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add nestable param to allow multiprocessed child processes
  congregate/helpers/processes.py
  congregate/migration/github/gists.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh, package.json, pylint*.sh, .pylintrc
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh, package.json, pylint*.sh, .pylintrc
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh, package.json, pylint*.sh, .pylintrc
  test:end-to-end full: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:GitHub Server end to end: any of: congregate/migration/github/**/*
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  runbook update: any of: runbooks/*
  mvc: any of: **/*.md, README.md, docker/release/*
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
