Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests, runbook update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:GitHub Server end to end: any of: congregate/migration/github/**/*
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  runbook update: any of: runbooks/*
  mvc: any of: ./**/*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

quote_plus email search
  congregate/migration/gitlab/api/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add ADMIN as valid BBS source user permission
  congregate/helpers/configuration_validator.py
  congregate/tests/helpers/test_configuration_validator.py
  congregate/tests/mockapi/bitbucket/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add docstring to each BBS API wrapper
  congregate/migration/bitbucket/api/groups.py
  congregate/migration/bitbucket/api/projects.py
  congregate/migration/bitbucket/api/repos.py
  congregate/migration/bitbucket/api/users.py
  congregate/migration/bitbucket/groups.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/bitbucket/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Fix multiprocessing not respecting configured # of processes
  congregate/helpers/processes.py
  congregate/migration/migrate.py
  congregate/tests/helpers/test_processes.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, update gitlab-ps-utils

Remove Config from processes.py and combine with MR 597 solution
  congregate/helpers/processes.py
  congregate/main.py
  congregate/tests/helpers/test_processes.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, update gitlab-ps-utils

Add Container scanning to pipeline
  .gitlab-ci.yml
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
  docker/test/py38.Dockerfile
Due: build, test:pylint, test:pylint:syntax-errors, test:unit, mvc

Update debian.Dockerfile to use slim image
  congregate/migration/gitlab/branches.py
  docker/release/debian.Dockerfile
  docker/test/py38.Dockerfile
Due: build, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Mention how to decommission VM for migrations to gitlab.com
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Fix project import None response
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Updating node, python, and centos packages
  congregate/helpers/mdbc.py
  congregate/update-readme.py
  docker/release/centos.Dockerfile
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Converting processes.py to a class
  congregate/helpers/base_class.py
  congregate/helpers/processes.py
  congregate/helpers/seed/git.py
  congregate/helpers/test.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/github/users.py
  congregate/migration/gitlab/diff/groupdiff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/diff/userdiff.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
  congregate/migration/jenkins/base.py
  congregate/migration/migrate.py
  congregate/migration/teamcity/base.py
  congregate/tests/helpers/test_processes.py
  congregate/tests/migration/github/test_single_group_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, test:Jenkins Integration Tests, update gitlab-ps-utils

Update gevent and gunicorn dependencies
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit

Resolve "Issues to run `create-stage-wave-csv` with BitBucket Projects"
  congregate/cli/stage_base.py
  congregate/migration/bitbucket/repos.py
  congregate/tests/migration/bitbucket/test_repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Create generic format_repos for repos and project repos
  congregate/migration/bitbucket/groups.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/mockapi/bitbucket/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Use utils method and remove unused methods
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/gitlab/groups.py
  congregate/tests/mockapi/github/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end

Set pipeline e2e-full and .test-job timeout
  .gitlab-ci.yml
Due: mvc

Fix UTs
  .gitlab-ci.yml
  congregate/tests/migration/bitbucket/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, mvc

Resolve "Add dump flag to migrate for registry tags"
  .gitlab-ci.yml
  congregate/helpers/seed/generate_token.py
  congregate/main.py
  congregate/migration/gitlab/registries.py
  congregate/migration/migrate.py
  congregate/tests/migration/gitlab/test_migration_setup.py
  congregate/tests/migration/gitlab/test_single_group_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

Remove print statements
  congregate/tests/migration/bitbucket/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit

Fix code quality
  .gitlab-ci.yml
  README.md
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, mvc

Update docker/release/debian.Dockerfile
  docker/release/debian.Dockerfile
Due: mvc

Update congregate/helpers/configuration_validator.py
  congregate/helpers/configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Add FA(M)Q doc; remove old SAST template; Update doc/runbook script
  .gitlab-ci.yml
  README.md
  SAST.gitlab-ci.yml
  ci/docscript.py
  ci/runbookscript.py
  famq.md
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, mvc, pages

adding build-essential to test image
  docker/test/py38.Dockerfile
Due: build, test:pylint, test:pylint:syntax-errors, test:unit

Explicitly adding paths to doc build
  .gitlab-ci.yml
  congregate/correct_null_users.py
  read-docs.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit, mvc

Adds migration readiness checklist
  runbooks/prep/migration-readiness checklist.md
Due: none

Adding more pipeline job rules to limit long executions for minor changes
  .gitlab-ci.yml
Due: mvc

Adding directory traversal function to docscript.py
  ci/docscript.py
Due: none

Resolve "Fix BB importer for import failures breaking multiprocessing"
  .gitlab-ci.yml
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
  congregate/tests/migration/test_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, mvc

repo reg work
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

Update prerequisites on gitlab.com admin account provisioning
  runbooks/migration-pre-and-post-requisites.md
Due: runbook update, pages

Update docscript and .gitlab-ci.yml to support customer folder and copy
  .gitlab-ci.yml
  ci/docscript.py
Due: mvc

Move relevant md files to customer and fix typos/formatting
  customer/bitbucket-migration-features-matrix.md
  customer/famq.md
  customer/github-migration-features-matrix.md
  customer/gitlab-migration-features-matrix.md
  customer/migration-readiness-checklist.md
  migration-features.md
  runbooks/README.md
  runbooks/prep/migration-readiness checklist.md
Due: runbook update, pages

Update matrix symlinks
  congregate/docs/source/static_docs/bitbucket-migration-features-matrix.md
  congregate/docs/source/static_docs/github-migration-features-matrix.md
  congregate/docs/source/static_docs/gitlab-migration-features-matrix.md
  runbooks/migration-pre-and-post-requisites.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, runbook update, pages

largest change ever
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group

adding brute versions that work with the output tpls
  dev/bin/docker_brute_force_for_tpls.py
  dev/bin/manually_move_images_for_tpls.sh
Due: none

Enforce sliding GL version migration requirements
  README.md
  congregate/docs/source/static_docs/workflow.md
  customer/famq.md
  runbooks/migration-pre-and-post-requisites.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, runbook update, mvc, pages

performing poetry update at the end
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
Due: mvc

Add customer facing docs
  customer/customer-migration-change-management.md
  customer/definition-of-done.md
  customer/famq.md
  customer/group-project-and-user-conflict-resolution.md
  customer/migration-wave-considerations.md
Due: none

Update template paths and add License Scanning
  .gitlab-ci.yml
Due: mvc
