Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Add missing --rollback
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Unarchive project later
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Draft of username mapping
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix UTs
  congregate/cli/stage_wave.py
  congregate/migration/gitlab/projects.py
  congregate/tests/cli/test_stage_groups.py
  congregate/tests/cli/test_stage_projects.py
  congregate/tests/cli/test_stage_wave.py
  congregate/tests/mockapi/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add issue links unit tests
  congregate/tests/migration/gitlab/test_issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Incorporate the project id mapping to migrate
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add base logic to migrate issue links
  congregate/migration/gitlab/api/issue_links.py
  congregate/migration/gitlab/issue_links.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add project and issue ids mapping
  congregate/migration/gitlab/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add issue links api wrapper
  congregate/migration/gitlab/api/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add main command and associated func
  congregate/main.py
  congregate/migration/gitlab/issue_links.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove useless try block
  congregate/migration/gitlab/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Added correct project id mapping
  congregate/migration/gitlab/issue_links.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add destination project id mapping to the flow
  congregate/migration/gitlab/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

remove issue id mapping
  congregate/migration/gitlab/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove project_id mapping function
  congregate/migration/gitlab/issue_links.py
  congregate/tests/migration/gitlab/test_issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Handle project id mapping whike importing projects
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove Linkes issues call from main flow
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add project mapping flow
  congregate/helpers/migrate_utils.py
  congregate/main.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Are registries enabled
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Reduntant UT
  congregate/tests/migration/gitlab/test_registries.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix test case
  congregate/migration/gitlab/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Converting docker-compose port mappings to strings
  docker/dev/cdk/docker-compose.yml
  docker/release/docker-compose.yml
  docker/test/docker-compose.yml
Due: build, test:pylint, test:pylint:syntax-errors, test:unit, mvc

Resolving conflicts
  docker/dev/cdk/docker-compose.yml
  docker/test/docker-compose.yml
Due: build, test:pylint, test:pylint:syntax-errors, test:unit

Remove jsbeautifier dependency
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Fix issues related to new command line
  congregate/main.py
  congregate/migration/gitlab/issue_links.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add status code checks
  congregate/migration/gitlab/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Revert merges
  .gitlab-ci.yml
  congregate/cli/stage_base.py
  congregate/cli/stage_wave.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/project_feature_flags_user_lists.py
  congregate/migration/gitlab/projects.py
  congregate/migration/meta/api_models/project_details.py
  congregate/tests/cli/test_stage_groups.py
  congregate/tests/cli/test_stage_projects.py
  congregate/tests/cli/test_stage_wave.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/mockapi/gitlab/projects.py
  docker/dev/cdk/Dockerfile
  docker/dev/cdk/docker-compose.yml
  docker/ldap/docker-compose.yml
  docker/release/centos/supervisord.conf
  docker/release/docker-compose.yml
  docker/release/no-mongo.Dockerfile
  docker/test/docker-compose.yml
  docs/direct-transfer-api.md
Due: build, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, mvc

Added a dry-run log for issue links migration
  congregate/migration/gitlab/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update jsbeautifier to the latest version
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Update poetry.lock for consistency with main
  poetry.lock
Due: test:pylint, test:pylint:syntax-errors, test:unit

Fix test cases
  congregate/tests/migration/gitlab/test_issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Break down issues link migration logic
  congregate/migration/gitlab/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding persistent volume for mongo container
  docker/dev/cdk/docker-compose.yml
  docker/test/docker-compose.yml
Due: build, test:pylint, test:pylint:syntax-errors, test:unit

Removing sudo requirement from no-mongo centos container and supervisord config
  docker/release/docker-compose.yml
Due: mvc

switch logs from info to warning
  congregate/migration/gitlab/issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Call host and token from the main issue migration function
  congregate/migration/gitlab/issue_links.py
  congregate/migration/gitlab/migrate.py
  congregate/tests/migration/gitlab/test_issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adjust test case
  congregate/migration/gitlab/migrate.py
  congregate/tests/migration/gitlab/test_issue_links.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix small copy path issue
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Revert "Revert merges"
  .gitlab-ci.yml
  congregate/cli/stage_base.py
  congregate/cli/stage_wave.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/project_feature_flags_user_lists.py
  congregate/migration/gitlab/projects.py
  congregate/migration/meta/api_models/project_details.py
  congregate/tests/cli/test_stage_groups.py
  congregate/tests/cli/test_stage_projects.py
  congregate/tests/cli/test_stage_wave.py
  congregate/tests/migration/gitlab/test_migration.py
  congregate/tests/mockapi/gitlab/projects.py
  docker/dev/cdk/Dockerfile
  docker/dev/cdk/docker-compose.yml
  docker/ldap/docker-compose.yml
  docker/release/centos/supervisord.conf
  docker/release/docker-compose.yml
  docker/release/no-mongo.Dockerfile
  docker/test/docker-compose.yml
  docs/direct-transfer-api.md
Due: build, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, mvc

Update BB docs
  customer/bitbucket-migration-features-matrix.md
  docs/index.md
  docs/roadmap.md
Due: docs update
