Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Make changes to stage_*.py trigger e2e jobs
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Fail to stage if project not found
  congregate/cli/stage_base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

added packages.py to congregate/migration/gitlab/api
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

update based on mr
  congregate/migration/gitlab/api/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding import try/except to maven_pb2_grpc.py
  congregate/migration/maven/__init__.py
  congregate/migration/maven/maven_pb2_grpc.py
  protos/compile.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add grpcio and grpcio-tools
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Creating maven protobuf file
  congregate/migration/maven/maven_pb2.py
  congregate/migration/maven/maven_pb2_grpc.py
  protos/README.md
  protos/compile.sh
  protos/maven.proto
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Removing symlink logic in compile.sh
  docker/maven/maven_pb2.py
  docker/maven/maven_pb2_grpc.py
  protos/compile.sh
Due: none

Fixing typo in compile.sh
  protos/compile.sh
Due: none

Apply 1 suggestion(s) to 1 file(s)
  protos/compile.sh
Due: none

Updating proto compile message
  protos/compile.sh
Due: none

Create protos/ folder and maven.proto file
  protos/maven.proto
Due: none

Updating maven dockerfile
  docker/maven/Dockerfile
  docker/maven/cmd_pb2.py
  docker/maven/cmd_pb2_grpc.py
  docker/maven/command_server.py
  docker/maven/maven_pb2.py
  docker/maven/maven_pb2_grpc.py
  docker/maven/protos/cmd.proto
  protos/compile.sh
Due: none

edited maven server.py
  docker/maven/maven_server.py
Due: none

Updated maven_server and maven dockerfile
  docker/maven/Dockerfile
  docker/maven/command_server.py
Due: none

Adding more specific RPC services to maven.proto
  congregate/migration/maven/maven_client.py
  congregate/migration/maven/maven_pb2.py
  congregate/migration/maven/maven_pb2_grpc.py
  docker/maven/maven_server.py
  protos/maven.proto
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add blocked user admin note
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add UTs for block_user
  congregate/migration/gitlab/users.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Document manually adding admin note
  congregate/migration/gitlab/users.py
  runbooks/migrations-to-self-managed.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, pages

Adding gitlab-specific maven settings
  congregate/migration/maven/maven_pb2.py
  docker/maven/Dockerfile
  docker/maven/README.md
  docker/maven/maven_server.py
  docker/maven/settings.xml
  protos/maven.proto
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fixing message type in maven client
  congregate/migration/maven/maven_client.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding additional examples
  congregate/migration/maven/maven_client.py
  docker/maven/README.md
  docker/maven/maven_server.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding projectName to maven.proto to separate repo downloads
  congregate/migration/maven/maven_client.py
  congregate/migration/maven/maven_pb2.py
  docker/maven/Dockerfile
  docker/maven/maven_server.py
  protos/maven.proto
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding src and dest configs in settings.xml
  docker/maven/README.md
  docker/maven/settings.xml
Due: none

Updating default maven settings.xml
  docker/maven/settings.xml
Due: none

Update Description template min API supported version
  customer/gitlab-migration-features-matrix.md
Due: docs update

Update congregate.conf.template wave_spreadsheet_column_mapping example
  congregate.conf.template
Due: none

Adding docker-compose file with separate mongo image
  docker/release/docker-compose.yml
Due: mvc

Adding maven docker-compose
  .gitlab-ci.yml
  congregate/helpers/conf.py
  congregate/migration/maven/maven_client.py
  docker/release/README.md
  docker/release/docker-compose-maven.yml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, mvc

Apply 1 suggestion(s) to 1 file(s)
  congregate/helpers/conf.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Apply 2 suggestion(s) to 1 file(s)
  docker/release/README.md
Due: mvc

Standardizing mongo version
  .gitlab-ci.yml
  docker/release/README.md
  docker/release/docker-compose-maven.yml
  docker/release/docker-compose.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Minor docker/release README update
  docker/release/README.md
Due: mvc

Adding access token vars to maven docker-compose file
  docker/release/README.md
  docker/release/docker-compose-maven.yml
Due: mvc

standardizing quotes in docker-compose-maven
  docker/release/docker-compose-maven.yml
Due: mvc

updated congregate/migration/gitlab/packages.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updated packages.py logging and results
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release
