Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build test image, build cdk image, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, test:Jenkins Integration Tests, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc, pages

build test image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - echo "SOURCE IS $CI_PIPELINE_SOURCE"
  ...

build cdk image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - echo "SOURCE IS $CI_PIPELINE_SOURCE"
  ...

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - cp docker/bitbucket/Dockerfile ./
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

check ldap compose yaml:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - cd docker/ldap
  - docker info
  - apk update
  - apk upgrade
  ...

test:pylint:
  stage: test
  before_script:
  - export PATH="/root/.local/bin:$PATH" && \
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - export PATH="/root/.local/bin:$PATH" && \
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - export PATH="/root/.local/bin:$PATH" && \
  - poetry install
  - ./congregate.sh init
  retry: 2
  coverage: /TOTAL.*? (100(?:\.0+)?\%\|[1-9]?\d(?:\.\d+)?\%)$/
  script:
  ...

test:end-to-end full:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ce:latest
    alias: gitlab-dest
    command:
    - sh
    - -c
    - (python3 -m http.server 443 --directory /var/log/gitlab/gitlab-rails/ &) && /assets/wrapper
  - name: mongo:4.4.16
    alias: mongo
  variables:
    DOCKER_DRIVER: overlay2
  ...

centos-no-mongo rolling release:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DISTRO: no-mongo
    RELEASE_IMAGE_NAME: $CI_REGISTRY_IMAGE:rolling-centos-no-mongo
  before_script:
  ...

Adding note about creating fork of project
  CONTRIBUTING.md
  docs/contributing.md
Due: mvc, pages

Update file MAKE A COPY - TEMPLATE of Pre_Post-Migration.md
  customer/MAKE A COPY - TEMPLATE of Pre_Post-Migration.md
Due: mvc, pages

Replacing beforeDestroy with beforeUmount
  frontend/src/App.vue
  frontend/src/components/DiffEditor.vue
  frontend/src/components/DryRun.vue
  frontend/src/components/ListCard.vue
  frontend/src/components/MigrateCard.vue
  frontend/src/components/Toaster.vue
  frontend/src/views/Home.vue
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

moving migration confirmation event out of nextTick
  frontend/src/components/DryRun.vue
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

Raising exception to force a failure in celery task
  congregate/migration/gitlab/bulk_imports.py
  congregate/ui/direct_transfer.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

cleaning up events in MigrateCard
  frontend/src/components/MigrateCard.vue
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

Updating helper tests to use httpx and respx instead of responses
  congregate/tests/helpers/test_configuration_validator.py
  congregate/tests/helpers/test_migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Updating ps-utils version
  .gitlab-ci.yml
  congregate/migration/diff/basediff.py
  congregate/migration/gitlab/api/__init__.py
  congregate/migration/gitlab/api/base_api.py
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/importexport.py
  congregate/tests/helpers/test_configuration_validator.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc

update test image again
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc

re-enabling container scanning template
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc

Adding section to writing-test.md covering writing tests using respx
  docs/writing-tests.md
Due: mvc, pages

Updating more references to request and responses to use httpx and respx
  congregate/helpers/db_or_http.py
  congregate/migration/meta/base_migrate.py
  congregate/tests/migration/gitlab/test_groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

updating all debian base images to use slim-bookworm
  docker/dev/cdk/Dockerfile
  docker/test/py310.Dockerfile
Due: build test image, build cdk image, test:pylint, test:pylint:syntax-errors, test:unit

Testing ps-utils session branch
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning

updating python and debian versions across containers
  docker/dev/cdk/Dockerfile
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
  docker/release/no-mongo.Dockerfile
  docker/test/py310.Dockerfile
Due: build test image, build cdk image, test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc

updating ps-utils in pyproject.toml to official release
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning

updating conditions across test jobs
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc

Updating unit tests and affected classes to use httpx instead of requests
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/branches.py
  congregate/migration/gitlab/contributor_retention.py
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/hooks.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/keys.py
  congregate/migration/gitlab/merge_request_approvals.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/packages.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/pushrules.py
  congregate/migration/gitlab/registries.py
  congregate/migration/gitlab/users.py
  congregate/migration/gitlab/variables.py
  congregate/migration/mirror.py
  congregate/tests/migration/gitlab/test_branches.py
  congregate/tests/migration/gitlab/test_importexport.py
  congregate/tests/migration/gitlab/test_project_feature_flags.py
  congregate/tests/migration/gitlab/test_projects.py
  congregate/tests/migration/gitlab/test_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

update test image name
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc

Re-enabling container scanning jobs
  .gitlab-ci.yml
  docker/dev/cdk/Dockerfile
  docker/dev/cdk/docker-compose.yml
Due: build cdk image, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc

adding export filename to import audit log
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

moving config validator directly to command
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

adding python 3.10 test image
  .gitlab-ci.yml
  docker/test/py310.Dockerfile
Due: build test image, build cdk image, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc

rearranging test image rules
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc

Removing python 3.8 test dockefile
  docker/test/py38.Dockerfile
Due: build test image, build cdk image, test:pylint, test:pylint:syntax-errors, test:unit

Allow DT for self-managed Owners
  congregate/helpers/configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Fix UTs
  congregate/helpers/configuration_validator.py
  congregate/tests/helpers/test_configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Cleanup generate_v4_request_url
  congregate/tests/helpers/test_configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Disable air-gapped MR approvals migration
  congregate/migration/gitlab/migrate.py
  runbooks/airgapped-migration-usage.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

Update mkdocs.yml
  dev/bin/placeholder-user-scripts/README.md
  mkdocs.yml
  poetry.lock
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc, pages

Resolve "Add support for ADO work item types"
  congregate/migration/ado/__init__.py
  congregate/migration/ado/base_ado_export_builder.py
  congregate/migration/ado/export.py
  congregate/migration/ado/work_items.py
  congregate/migration/meta/custom_importer/data_models/group_export.py
  congregate/migration/meta/custom_importer/data_models/tree/epics.py
  congregate/migration/meta/custom_importer/data_models/tree/event.py
  congregate/migration/meta/custom_importer/data_models/tree/issues.py
  customer/ado-migration-features-matrix.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

Update setuptools version 80.9.1
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
  docker/release/no-mongo.Dockerfile
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc

Improve post migration methods for ADO
  congregate/migration/ado/migrate.py
  congregate/migration/gitlab/api/merge_requests.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Remove print
  congregate/migration/ado/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Always get default branch
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Bumping ps-utils and adding configurable httpx timeout
  congregate/helpers/conf.py
  congregate/migration/gitlab/api/__init__.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning

Adding example in congregate.config.template
  congregate.conf.template
Due: none

Updating mkdocs dependencies
  congregate/migration/ado/__init__.py
  congregate/migration/ado/api/__init__.py
  congregate/migration/codecommit/__init__.py
  congregate/migration/codecommit/api/__init__.py
  congregate/migration/meta/custom_importer/__init__.py
  congregate/migration/meta/custom_importer/data_models/__init__.py
  congregate/migration/meta/custom_importer/data_models/tree/__init__.py
  congregate/tests/migration/ado/__init__.py
  congregate/tests/migration/meta/__init__.py
  congregate/tests/mockapi/ado/__init__.py
  congregate/tests/mockapi/codecommit/__init__.py
  congregate/tests/mockapi/jenkins/__init__.py
  congregate/tests/mockapi/teamcity/__init__.py
  congregate/ui/data_models/__init__.py
  docs/index.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc, pages

fixing syntax errors
  congregate/migration/codecommit/export.py
  congregate/migration/codecommit/migrate.py
  congregate/migration/meta/custom_importer/export_builder.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate.conf.template
Due: none

Path conditions:
  build test image: any of: docker/test/*
  build cdk image: (any of: docker/dev/**/*) or (any of: docker/test/*)
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:pylint:syntax-errors: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:unit: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:end-to-end full: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:end-to-end single group: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-full-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-single-group-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:Jenkins Integration Tests: (any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py) or (any of: congregate/migration/jenkins/**/*)
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/centos/**/*
  centos-no-mongo rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  container-scan-build:no-mongo: any of: pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container_scanning_custom: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  mvc: any of: **/*.md, *.md, docker/release/*, .gitlab-ci.yml
  pages: any of: **/*.md, *.md, mkdocs.yml
