Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Resolve "Highlight the deactivated state is not available on gitlab.com"
  customer/famq.md
  runbooks/migration-pre-and-post-requisites.md
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Fix UTs
  congregate/tests/migration/gitlab/test_groups.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

for now, removing the job that mirrors runbooks and customer docs from Congregate to the Migration-template DK
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Update gitlab-ps-utils
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Highlight .com limitations
  customer/famq.md
  customer/pre-and-post-migration.md
Due: docs update

Update file check_merge_request_sizes.py
  dev/bin/check_merge_request_sizes.py
Due: none

Update runbooks
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: docs update, pages

Update matrix features
  customer/gitlab-migration-features-matrix.md
Due: docs update

Removing revision from seed image AMI check to check for a latest release and not latest with a specific revision
  ci/spin_up_test_vm.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit

attempting to trigger all CI jobs
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

updating default full path for listing ADO projects
  congregate/migration/ado/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding nvmrc file to manage node version and updating python and node versions in the docker files
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
  docker/release/no-mongo.Dockerfile
  frontend/.nvmrc
Due: debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, mvc

updating ADO tests
  congregate/tests/migration/ado/test_base.py
  congregate/tests/migration/ado/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix Dockerfiles
  docker/dev/cdk/Dockerfile
  docker/release/slim.Dockerfile
  docker/test/py38.Dockerfile
Due: build, test:pylint, test:pylint:syntax-errors, test:unit, mvc

Fix test Dockerfile
  docker/test/py38.Dockerfile
Due: build, test:pylint, test:pylint:syntax-errors, test:unit

Revert py38
  docker/test/py38.Dockerfile
Due: build, test:pylint, test:pylint:syntax-errors, test:unit

Adding mock parent ID side effects to multiple stage_wave tests
  congregate/tests/cli/test_stage_wave.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

generate-diff python error fix for existing projects in results file
  congregate/helpers/package_utils.py
  congregate/migration/diff/basediff.py
  congregate/migration/gitlab/diff/projectdiff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove unused compare-groups and staged-user-list commands, code and UTs
  congregate/main.py
  congregate/migration/gitlab/compare.py
  congregate/tests/migration/gitlab/test_compare.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Resolve "Remove GitLab supported and deprecated features from e2e test generator (file-based)"
  congregate.conf.template
  congregate/helpers/seed/generator.py
  congregate/main.py
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/api/instance.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/clusters.py
  congregate/migration/gitlab/diff/groupdiff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/variables.py
  congregate/tests/migration/gitlab/test_clusters.py
  congregate/tests/mockapi/gitlab/clusters.py
  customer/gitlab-migration-features-matrix.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update

removing slim container jobs from the CI file
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Removing slim docker container
  docker/release/slim.Dockerfile
  docker/release/slim.dockerignore
Due: mvc

Resolve "List group Enterprise users when migrating from gitlab.com"
  .gitlab-ci.yml
  congregate/helpers/conf.py
  congregate/helpers/configuration_validator.py
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
  congregate/tests/helpers/test_configuration_validator.py
  docker/dev/cdk/Dockerfile
  runbooks/migration-pre-and-post-requisites.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, docs update, mvc, pages

Merge from master
  congregate/migration/gitlab/api/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/ado/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/ado/export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/ado/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

fixing merge conflict syntax issue
  congregate/migration/ado/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Resolve "Investigate vulnerability: Improper limitation of a pathname to a restricted directory ('Path Traversal')"
  congregate/ui/models.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Resolve "Add issue reporting from GL->GL for file based migrations"
  congregate/helpers/reporting.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Removing empty remove-mirroring command from main.py
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Apply 2 suggestion(s) to 2 file(s)
  congregate/migration/ado/export.py
  congregate/migration/ado/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

increasing e2e timeout to 90 minutes
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

Updating GL source instance type to c5a.xlarge
  ci/spin_up_test_vm.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit

Updating e2e test instance type again
  ci/spin_up_test_vm.sh
Due: test:pylint, test:pylint:syntax-errors, test:unit
