Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Add user field mapping to groups
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update email search and return
  congregate/helpers/migrate_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Popo member username
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add support for wheel based Pypi packages
  congregate/helpers/package_utils.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Add ADO Base API class
  congregate/helpers/conf.py
  congregate/migration/ado/api/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add projects API for ADO
  congregate/helpers/conf.py
  congregate/helpers/configuration_validator.py
  congregate/migration/ado/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add remaining base classes to ADO base API classes, change default API version to stable (7.0)
  congregate/helpers/conf.py
  congregate/migration/ado/api/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove projects.py from base API class for ADO MR
  congregate/migration/ado/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add logic to validate ado token
  congregate/helpers/configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Minor fix
  congregate/helpers/configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add test for validate source token ADO
  congregate/helpers/configuration_validator.py
  congregate/tests/helpers/test_configuration_validator.py
  congregate/tests/mockapi/ado/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add list projects from ADO
  congregate/cli/list_source.py
  congregate/migration/ado/api/projects.py
  congregate/migration/ado/api/repositories.py
  congregate/migration/ado/projects.py
  congregate/migration/ado/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Improve archive logic
  congregate/migration/gitlab/importexport.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

adding scan build for no-mongo
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, mvc

add to render group or change owner
  docker/release/centos.Dockerfile
  docker/release/debian.Dockerfile
  docker/release/no-mongo.Dockerfile
Due: debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, mvc

Update 2 files
  dev/bin/docker_connection_test.py
  docker/release/slim.Dockerfile
Due: mvc

Remove incomplete sections
  docs/using-congregate.md
Due: none

Comment out TODO's
  docs/using-congregate.md
Due: none

Add logs to debug odd case scenarios
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add logic to migrate protected environments
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/environments.py
  congregate/migration/meta/api_models/project_protected_environment.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Refine rules filtering
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add mapping logic
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add logic to update rules only
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add group ids mapping from source to dest
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Rewriting user ids using email
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Tired of fixing the column names every time I start a new migration from scratch
  congregate.conf.template
Due: none

Added check for directory permissions
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Addition of command
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Add projects / groups listing
  congregate/cli/list_source.py
  congregate/migration/ado/api/base.py
  congregate/migration/ado/api/projects.py
  congregate/migration/ado/api/repositories.py
  congregate/migration/ado/groups.py
  congregate/tests/migration/ado/test_base.py
  congregate/tests/mockapi/ado/groups.py
  congregate/tests/mockapi/ado/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Capturing python hook error
  congregate/migration/gitlab/hooks.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add skip ci where applicable
  ci/docscript.py
  congregate/migration/github/migrate.py
  congregate/migration/gitlab/projects.py
  congregate/migration/jenkins/base.py
  congregate/migration/teamcity/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release

Add mockAPI class response for group, project and repository; adjust field name for full_path (path_with_namespace)
  congregate/migration/ado/api/base.py
  congregate/tests/migration/ado/test_base.py
  congregate/tests/mockapi/ado/groups.py
  congregate/tests/mockapi/ado/projects.py
  congregate/tests/mockapi/ado/repositories.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Remove repos.py
  congregate/migration/ado/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Refactor handle_retrieving_project
  congregate/migration/ado/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Refactor repositories loop in handle_retrieving_project
  congregate/migration/ado/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

moved the direcotry mounted to /opt/congregate/data down a level
  docker/release/docker-compose.yml
Due: mvc

Update file migrate.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Don't need user xid rewrite
  congregate/migration/gitlab/project_feature_flags.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release
