Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py

Added check for directory permissions
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Apply 1 suggestion(s) to 1 file(s)
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Addition of command
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Add List user data from Azure DevOps
  congregate/cli/list_source.py
  congregate/helpers/conf.py
  congregate/migration/ado/api/base.py
  congregate/migration/ado/api/projects.py
  congregate/migration/ado/api/users.py
  congregate/migration/ado/base.py
  congregate/migration/ado/projects.py
  congregate/migration/ado/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Starting to switch from vue-good-tables to tabulator for staging UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/Projects.vue
Due: debian rolling release, centos rolling release

Making reusable staging table component
  frontend/src/components/StageTable.vue
  frontend/src/views/Projects.vue
Due: debian rolling release, centos rolling release

Add filter to Users List API (aad, msa), refactor generate_request_url to support various base_urls
  congregate/migration/ado/api/base.py
  congregate/migration/ado/api/users.py
  congregate/migration/ado/base.py
  congregate/migration/ado/projects.py
  congregate/migration/ado/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Change default api-version for ADO endpoints
  congregate/tests/helpers/test_configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add tests for ADO user listing
  congregate/migration/ado/users.py
  congregate/tests/migration/ado/test_base.py
  congregate/tests/mockapi/ado/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Switching to StageTable component for users and groups
  frontend/src/views/Groups.vue
  frontend/src/views/Users.vue
Due: debian rolling release, centos rolling release

Refactor list_all and generate_request_url funcitons; define default state for user in ADO format_user function
  congregate/migration/ado/api/base.py
  congregate/migration/ado/api/projects.py
  congregate/migration/ado/api/repositories.py
  congregate/migration/ado/base.py
  congregate/tests/migration/ado/test_base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Working on managing the staging table data retrieval from mongodb
  congregate/helpers/mdbc.py
  congregate/ui/models.py
  frontend/src/components/StageTable.vue
  frontend/src/stores/system.js
  frontend/src/views/Groups.vue
  frontend/src/views/Projects.vue
  frontend/src/views/Users.vue
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Ad pylint fix
  congregate/tests/migration/ado/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Updating Unit Test
  congregate/tests/migration/ado/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix broken unit test
  congregate/migration/ado/projects.py
  congregate/tests/migration/ado/test_projects.py
  congregate/tests/mockapi/ado/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Added ADO project migration
  congregate/migration/ado/migrate.py
  congregate/migration/gitlab/api/external_import.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Revert "Updating Unit Test"
  congregate/tests/migration/ado/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Added unite testing
  congregate/tests/migration/ado/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Renamed import_git_azure to import_git_repo to be more generic
  congregate/migration/ado/migrate.py
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add pylint disable/enable action
  congregate/tests/migration/ado/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding fuction for importing Azure Devops to GitLab by creating project with url
  congregate/migration/ado/migrate.py
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix Pylint syntax issues
  congregate/migration/gitlab/external_import.py
  congregate/tests/migration/ado/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fixing function name for generic git repo import
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Switching to correct event to auto-select rows
  frontend/src/components/StageTable.vue
Due: debian rolling release, centos rolling release

Working through adding model getters to display total selected count
  frontend/src/components/StageTable.vue
  frontend/src/stores/system.js
  frontend/src/views/Groups.vue
  frontend/src/views/Projects.vue
  frontend/src/views/Users.vue
Due: debian rolling release, centos rolling release

Changing staging actions to async to utilize a promise
  congregate/ui/models.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/StageTable.vue
  frontend/src/stores/system.js
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

List staged project contributors
  congregate/cli/list_source.py
  congregate/helpers/congregate_mdbc.py
  congregate/main.py
  congregate/migration/gitlab/api/users.py
  congregate/migration/gitlab/contributor_retention.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/users.py
  congregate/migration/meta/api_models/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove mongo and add state
  congregate/migration/gitlab/contributor_retention.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Exclude bot users
  congregate/migration/gitlab/contributor_retention.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Checking all jobs on app load
  frontend/src/App.vue
Due: debian rolling release, centos rolling release

Removing vue-good-tables as a depedency
  frontend/package-lock.json
  frontend/package.json
Due: debian rolling release, centos rolling release

Add name, remove state
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add multiprocessing
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding more detail about pending staged data
  frontend/src/components/StageTable.vue
  frontend/src/scripts/job-status.js
Due: debian rolling release, centos rolling release

Add try/catch
  congregate/main.py
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding check for explicitly staging project subsets
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating check for staging groups or subgroups with DT
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add users to projects and group (based on team membership in ADO) during listing to support staging
  congregate/cli/list_source.py
  congregate/migration/ado/api/projects.py
  congregate/migration/ado/api/repositories.py
  congregate/migration/ado/api/teams.py
  congregate/migration/ado/api/users.py
  congregate/migration/ado/base.py
  congregate/migration/ado/groups.py
  congregate/migration/ado/projects.py
  congregate/migration/ado/users.py
  congregate/tests/migration/ado/test_base.py
  congregate/tests/mockapi/ado/repositories.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release
