Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build test image, build cdk image, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, test:Jenkins Integration Tests, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc, pages

build test image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - echo "SOURCE IS $CI_PIPELINE_SOURCE"
  ...

build cdk image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - echo "SOURCE IS $CI_PIPELINE_SOURCE"
  ...

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - cp docker/bitbucket/Dockerfile ./
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

check ldap compose yaml:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - cd docker/ldap
  - docker info
  - apk update
  - apk upgrade
  ...

test:pylint:
  stage: test
  before_script:
  - export PATH="/root/.local/bin:$PATH" && \
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - export PATH="/root/.local/bin:$PATH" && \
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - export PATH="/root/.local/bin:$PATH" && \
  - poetry install
  - ./congregate.sh init
  retry: 2
  coverage: /TOTAL.*? (100(?:\.0+)?\%\|[1-9]?\d(?:\.\d+)?\%)$/
  script:
  ...

test:end-to-end full:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ce:latest
    alias: gitlab-dest
    command:
    - sh
    - -c
    - (python3 -m http.server 443 --directory /var/log/gitlab/gitlab-rails/ &) && /assets/wrapper
  - name: mongo:4.4.16
    alias: mongo
  variables:
    DOCKER_DRIVER: overlay2
  ...

centos-no-mongo rolling release:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DISTRO: no-mongo
    RELEASE_IMAGE_NAME: $CI_REGISTRY_IMAGE:rolling-centos-no-mongo
  before_script:
  ...

Validate project environments
  congregate/cli/stage_base.py
  congregate/migration/gitlab/environments.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Validate project hooks
  congregate/migration/gitlab/hooks.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Validate project feature flags
  congregate/migration/gitlab/project_feature_flags.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Fix UT
  congregate/tests/migration/gitlab/test_project_feature_flags.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Add post migration doc
  customer/post-migration-jenkins-to-gitlab-ci-duo-workflow.md
Due: mvc, pages

Enhance documentation
  customer/post-migration-jenkins-to-gitlab-ci-duo-workflow.md
Due: mvc, pages

Update format
  customer/post-migration-jenkins-to-gitlab-ci-duo-workflow.md
Due: mvc, pages

Update file retrieve-placeholder-users-for-namespace.py
  dev/bin/placeholder-user-scripts/retrieve-placeholder-users-for-namespace.py
Due: none

Update file gitlab_user_mapping.py
  dev/bin/placeholder-user-scripts/gitlab_user_mapping.py
Due: none

Update file cancel_reassignment.py
  dev/bin/placeholder-user-scripts/cancel_reassignment.py
Due: none

doc and feature updates
  dev/bin/placeholder-user-scripts/gitlab_user_mapping.py
  dev/bin/placeholder-user-scripts/retrieve-placeholder-users-for-namespace.py
  dev/bin/placeholder-user-scripts/update-placeholder-mapping.py
Due: none

Update file README.md
  dev/bin/placeholder-user-scripts/README.md
Due: mvc, pages

Update 2 files
  dev/bin/placeholder-user-scripts/gitlab_user_mapping.py
  dev/bin/placeholder-user-scripts/update-placeholder-mapping.py
Due: none

Update file update-placeholder-mapping.py
  dev/bin/placeholder-user-scripts/update-placeholder-mapping.py
Due: none

Adding redis cache flush to before_create_process signal
  congregate/helpers/celery_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

switching to worker_shutdown and celeryd_init for flushing the redis cache
  congregate/helpers/celery_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Resolve "ADO - users consistency for MergeRequests and ProjectMembers dataclasses"
  congregate/migration/ado/export.py
  congregate/migration/meta/custom_importer/export_builder.py
  runbooks/migrations-from-ado.md
  runbooks/uploads/ado-users-prerequisites.png
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

Adding as_task flag to list API call
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Initial changes to update UI to Vue 3
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/DryRun.vue
  frontend/src/components/Footer.vue
  frontend/src/components/ListCard.vue
  frontend/src/components/MigrateCard.vue
  frontend/src/components/StageTable.vue
  frontend/src/components/StatusTable.vue
  frontend/src/components/Toaster.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/scripts/job-status.js
  frontend/src/views/Home.vue
  frontend/vite.config.js
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning

Minor formatting to be Vue3 compliant
  frontend/src/components/SummaryTable.vue
  frontend/src/main.js
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

DT logs troubleshooting
  runbooks/direct-transfer-migrations.md
Due: mvc, pages

Improve project FF and list error handling
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/project_feature_flags_user_lists.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Typo and formatting
  dev/bin/placeholder-user-scripts/README.md
Due: mvc, pages

ADO - add possibility to list specific scope of org
  congregate/cli/list_source.py
  congregate/main.py
  congregate/migration/ado/groups.py
  congregate/migration/ado/projects.py
  customer/ado-migration-features-matrix.md
  runbooks/migrations-from-ado.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

Apply suggestions to runbook, feature matrix and CLI help
  congregate/main.py
  customer/ado-migration-features-matrix.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc, pages

Improve logs and docstring
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Add condition to handle response status
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Fix FF feature return
  congregate/migration/gitlab/environments.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/gitlab/project_feature_flags_user_lists.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Strip white spaces in list of ids for only_specific_projects
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Updating GitLab docker entrypoint
  .gitlab-ci.yml
  docker/ldap/docker-compose.yml
Due: check ldap compose yaml, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc

Resolve "ADO - filter out uninitialised and disabled repositories on listing"
  congregate/migration/ado/base.py
  congregate/migration/ado/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Updating stage table to get staged data once table has been built
  frontend/src/components/StageTable.vue
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

Adding a few comments to StageTable component and styling the cursor for the StageTable buttons
  frontend/src/components/StageTable.vue
Due: debian rolling release, centos rolling release, centos-no-mongo rolling release

Fully removing Vue2 and vue-compat references
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/Toaster.vue
  frontend/src/router/index.js
  frontend/vite.config.js
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning

Add support for transliteration the input string into ASCII characters for handling non-ASCII displayName values (for username & name generation in ADO)
  congregate/migration/ado/base.py
  congregate/tests/migration/ado/test_users.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning

Minor change
  poetry.lock
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup

Path conditions:
  build test image: any of: docker/test/*
  build cdk image: (any of: docker/dev/**/*) or (any of: docker/test/*)
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:pylint:syntax-errors: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:unit: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:end-to-end full: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:end-to-end single group: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-full-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-single-group-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:Jenkins Integration Tests: (any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py) or (any of: congregate/migration/jenkins/**/*)
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/centos/**/*
  centos-no-mongo rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  container-scan-build:no-mongo: any of: pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container_scanning_custom: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  mvc: any of: **/*.md, *.md, docker/release/*, .gitlab-ci.yml
  pages: any of: **/*.md, *.md, mkdocs.yml
