Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build test image, build cdk image, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, test:Jenkins Integration Tests, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc, pages

build test image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - echo "SOURCE IS $CI_PIPELINE_SOURCE"
  ...

build cdk image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - echo "SOURCE IS $CI_PIPELINE_SOURCE"
  ...

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - cp docker/bitbucket/Dockerfile ./
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

check ldap compose yaml:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_JOB_TOKEN
  stage: build
  script:
  - cd docker/ldap
  - docker info
  - apk update
  - apk upgrade
  ...

test:pylint:
  stage: test
  before_script:
  - export PATH="/root/.local/bin:$PATH" && \
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - export PATH="/root/.local/bin:$PATH" && \
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - export PATH="/root/.local/bin:$PATH" && \
  - poetry install
  - ./congregate.sh init
  retry: 2
  coverage: /TOTAL.*? (100(?:\.0+)?\%\|[1-9]?\d(?:\.\d+)?\%)$/
  script:
  ...

test:end-to-end full:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ce:latest
    alias: gitlab-dest
    command:
    - sh
    - -c
    - (python3 -m http.server 443 --directory /var/log/gitlab/gitlab-rails/ &) && /assets/wrapper
  - name: mongo:4.4.16
    alias: mongo
  variables:
    DOCKER_DRIVER: overlay2
  ...

centos-no-mongo rolling release:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DISTRO: no-mongo
    RELEASE_IMAGE_NAME: $CI_REGISTRY_IMAGE:rolling-centos-no-mongo
  before_script:
  ...

remove unused item
  congregate/helpers/package_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

This commit enhances package migration to handle large files and special characters:
  congregate/helpers/package_utils.py
  congregate/helpers/utils.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Resolve "Add log view to UI"
  .gitlab-ci.yml
  congregate/helpers/base_class.py
  congregate/helpers/celery_utils.py
  congregate/helpers/conf.py
  congregate/helpers/syslog_filter.py
  congregate/migration/gitlab/importexport.py
  congregate/ui/settings.py
  docker/grafana_dashboards/logs.json
  docker/grafana_provisioning/dashboards/dashboards.yml
  docker/grafana_provisioning/datasources/loki.yml
  docker/loki-config.yaml
  docker/release/README.md
  docker/release/centos.Dockerfile
  docker/release/centos/deps
  docker/release/centos/mongo_repo
  docker/release/debian.Dockerfile
  docker/release/docker-compose.yml
  docker/release/setup_congregate.sh
  docker/test/docker-compose.yml
  docker/vector.yaml
  frontend/src/App.vue
  poetry.lock
  pyproject.toml
Due: build test image, build cdk image, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, container-scan-build:centos, container-scan-build:debian, container-scan-build:no-mongo, container_scanning_custom, debian_container_scanning, mvc, pages

Improve variables migration
  congregate/migration/gitlab/variables.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Change of License to MIT
  LICENSE
  README.md
  docs/contributing.md
Due: mvc, pages

Add version compatibility to pre-post migration checklist
  customer/MAKE A COPY - TEMPLATE of Pre_Post-Migration.md
Due: mvc, pages

Improve formatting
  docs/using-congregate.md
Due: mvc, pages

Add documentation for CSV listing and staging
  docs/using-congregate.md
Due: mvc, pages

Resolve "ADO - extend Issue Board migration from ADO Boards"
  congregate/migration/ado/api/base.py
  congregate/migration/ado/api/work_items.py
  congregate/migration/ado/base.py
  congregate/migration/ado/export.py
  congregate/migration/ado/migrate.py
  congregate/migration/ado/projects.py
  congregate/migration/ado/work_items.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update file setting-up-direct-transfer-migrations.md
  runbooks/setting-up-direct-transfer-migrations.md
Due: mvc, pages

Resolved Changes Suggested
  congregate/migration/ado/groups.py
  congregate/migration/ado/projects.py
  congregate/migration/ado/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

added mongo_connection director in the new listing task
  congregate/migration/ado/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update file setup_congregate.sh
  docker/release/setup_congregate.sh
Due: mvc

Add timeout_strategy to GH and BBS imports
  congregate/helpers/conf.py
  congregate/migration/bitbucket/migrate.py
  congregate/migration/bitbucket_cloud/migrate.py
  congregate/migration/codecommit/migrate.py
  congregate/migration/github/migrate.py
  congregate/migration/gitlab/external_import.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update BB docs and matrix
  customer/bitbucket-cloud-migration-doc.md
  customer/bitbucket-migration-features-matrix.md
Due: mvc, pages

Fix setup_congregate.sh
  docker/release/setup_congregate.sh
Due: mvc

Lower accuracy to 0.88
  congregate/tests/migration/gitlab/test_migration.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Extend PR migration to map azure group members to gitlab assignees and reviewers
  congregate/migration/ado/api/pull_requests.py
  congregate/migration/ado/base.py
  congregate/migration/ado/export.py
  congregate/tests/migration/ado/test_base.py
  congregate/tests/migration/ado/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, mvc

added changes for staging bb cloud groups and projects by id
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
  congregate/migration/bitbucket_cloud/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/cli/stage_groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Apply 1 suggestion(s) to 1 file(s)
  congregate/migration/bitbucket_cloud/base.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update 2 files
  congregate/tests/migration/gitlab/test_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update 2 files
  .gitlab-ci.yml
  congregate/tests/migration/gitlab/test_migration_setup.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release, mvc

Apply 1 suggestion(s) to 1 file(s)
  congregate/cli/stage_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Updating title
  customer/gitlab-github-bitbucket-terminology-guide.md
Due: mvc, pages

Updated ProjectsClient to CodeCommitProjectsClient due to collision
  congregate/main.py
  congregate/migration/codecommit/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update file migrate.py
  congregate/migration/codecommit/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update file test_projects.py
  congregate/tests/migration/codecommit/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update file list_source.py
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Update file main.py
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Fix 2 UTs
  congregate/migration/gitlab/migrate.py
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:failed-e2e-full-cleanup, test:failed-e2e-single-group-cleanup, debian rolling release, centos rolling release, centos-no-mongo rolling release

Revert duplicate loop
  congregate/migration/ado/export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, centos-no-mongo rolling release

Path conditions:
  build test image: any of: docker/test/*
  build cdk image: (any of: docker/dev/**/*) or (any of: docker/test/*)
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:pylint:syntax-errors: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:unit: (any of: docker/test/*) or (any of: ci/vault.yml, congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, frontend/package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh)
  test:end-to-end full: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:end-to-end single group: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-full-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:failed-e2e-single-group-cleanup: any of: .gitlab-ci.yml, ci/vault.yml, congregate/helpers/**/*, congregate/migration/diff/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py, congregate/tests/migration/gitlab/test_*_setup.py, congregate/cli/stage_*.py, pyproject.toml, poetry.lock
  test:Jenkins Integration Tests: (any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py) or (any of: congregate/migration/jenkins/**/*)
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/centos/**/*
  centos-no-mongo rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  container-scan-build:no-mongo: any of: pyproject.toml, frontend/package.json, docker/release/no-mongo.Dockerfile
  container_scanning_custom: any of: pyproject.toml, frontend/package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, frontend/package.json, docker/release/debian.Dockerfile
  mvc: any of: **/*.md, *.md, docker/release/*, .gitlab-ci.yml
  pages: any of: **/*.md, *.md, mkdocs.yml
