Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cp ./docker/test/py38.Dockerfile ./Dockerfile
  ...

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cp docker/bitbucket/Dockerfile ./
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

check ldap compose yaml:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/ldap
  - docker info
  - apk update
  ...

test:pylint:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - poetry run pytest -m 'unit_test' --cov-report html --cov-report term-missing --cov-config=.coveragerc --cov=congregate congregate/tests/
  ...

test:end-to-end full:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:Jenkins Integration Tests:
  services:
  - name: $JENKINS_SEED_IMAGE_NAME
    alias: jenkins-test
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  ...

mvc:
  stage: test
  script:
  - echo "Placeholder job to trigger a min. pipeline for non-code related changes"

Remove destination_name
  congregate/tests/migration/gitlab/test_bulk_imports_client_build_payload.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Removing Debug
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Removing unused files
  congregate/migration/gitlab/api/helm.py
  congregate/migration/gitlab/packages.py
  congregate/migration/meta/api_models/helm_package.py
  congregate/migration/meta/api_models/helm_package_data.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Removing unused vars from tests
  congregate/tests/cli/test_config.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding new properties
  congregate/tests/cli/test_config.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Refactored down to one method. I found only way to get data migrated successfully was to stream the download.
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/migration/gitlab/api/helm.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Adding handlers for helm package migration
  congregate/migration/gitlab/api/helm.py
  congregate/migration/gitlab/packages.py
  congregate/migration/meta/api_models/helm_package.py
  congregate/migration/meta/api_models/helm_package_data.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Refactoring to use the get_current_user API. Removed all the config changes.
  congregate/cli/config.py
  congregate/helpers/conf.py
  congregate/migration/gitlab/packages.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Simplify parent_group_exists and add UTs
  congregate/migration/gitlab/bulk_imports.py
  congregate/tests/migration/gitlab/test_bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Multiple improvements
  congregate/migration/gitlab/bulk_imports.py
  congregate/migration/meta/api_models/bulk_import.py
  congregate/migration/meta/api_models/bulk_import_configuration.py
  congregate/migration/meta/data_models/dry_run.py
  congregate/tests/migration/gitlab/test_bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Remove returns and extra logic
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Improved parent_group_exists logic
  congregate/migration/gitlab/bulk_imports.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Improve pull-mirror-staged-projects
  congregate/main.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Double json.dumps
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add data_copy
  congregate/migration/gitlab/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix UTs
  congregate/tests/migration/gitlab/test_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Starting to build out project export data classes
  congregate/migration/meta/custom_importer/data_models/approval_rules.py
  congregate/migration/meta/custom_importer/data_models/auto_devops.py
  congregate/migration/meta/custom_importer/data_models/boards.py
  congregate/migration/meta/custom_importer/data_models/ci_cd_settings.py
  congregate/migration/meta/custom_importer/data_models/ci_pipelines.py
  congregate/migration/meta/custom_importer/data_models/commit_notes.py
  congregate/migration/meta/custom_importer/data_models/container_expiration_policy.py
  congregate/migration/meta/custom_importer/data_models/error_tracking_setting.py
  congregate/migration/meta/custom_importer/data_models/issues.py
  congregate/migration/meta/custom_importer/data_models/labels.py
  congregate/migration/meta/custom_importer/data_models/merge_requests.py
  congregate/migration/meta/custom_importer/data_models/project_export.py
  congregate/migration/meta/custom_importer/data_models/project_feature.py
  congregate/migration/meta/custom_importer/data_models/project_features.py
  congregate/migration/meta/custom_importer/data_models/project_members.py
  congregate/migration/meta/custom_importer/data_models/protected_branches.py
  congregate/migration/meta/custom_importer/data_models/protected_tags.py
  congregate/migration/meta/custom_importer/data_models/push_rule.py
  congregate/migration/meta/custom_importer/data_models/releases.py
  congregate/migration/meta/custom_importer/data_models/security_setting.py
  congregate/migration/meta/custom_importer/data_models/service_desk_setting.py
  congregate/migration/meta/custom_importer/data_models/user_contributions.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding initial export utility functions. Moving around dataclasses
  congregate/migration/meta/custom_importer/data_models/project.py
  congregate/migration/meta/custom_importer/data_models/tree/approval_rules.py
  congregate/migration/meta/custom_importer/data_models/tree/auto_devops.py
  congregate/migration/meta/custom_importer/data_models/tree/boards.py
  congregate/migration/meta/custom_importer/data_models/tree/ci_cd_settings.py
  congregate/migration/meta/custom_importer/data_models/tree/ci_pipelines.py
  congregate/migration/meta/custom_importer/data_models/tree/commit_notes.py
  congregate/migration/meta/custom_importer/data_models/tree/container_expiration_policy.py
  congregate/migration/meta/custom_importer/data_models/tree/error_tracking_setting.py
  congregate/migration/meta/custom_importer/data_models/tree/issues.py
  congregate/migration/meta/custom_importer/data_models/tree/labels.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_requests.py
  congregate/migration/meta/custom_importer/data_models/tree/project_feature.py
  congregate/migration/meta/custom_importer/data_models/tree/project_features.py
  congregate/migration/meta/custom_importer/data_models/tree/project_members.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_branches.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_tags.py
  congregate/migration/meta/custom_importer/data_models/tree/push_rule.py
  congregate/migration/meta/custom_importer/data_models/tree/releases.py
  congregate/migration/meta/custom_importer/data_models/tree/security_setting.py
  congregate/migration/meta/custom_importer/data_models/tree/service_desk_setting.py
  congregate/migration/meta/custom_importer/data_models/tree/user_contributions.py
  congregate/migration/meta/custom_importer/export_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update response code
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Other missing improvements
  congregate/migration/gitlab/contributor_retention.py
  congregate/migration/gitlab/users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update ingest_json_file_into_mongo
  congregate/helpers/mdbc.py
  congregate/tests/helpers/test_mdbc.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add docopt for overwrite
  congregate/main.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Setting all export properties to optional for now
  congregate/migration/meta/custom_importer/build_models.py
  congregate/migration/meta/custom_importer/data_models/project.py
  congregate/migration/meta/custom_importer/data_models/project_export.py
  congregate/migration/meta/custom_importer/data_models/tree/approval_rules.py
  congregate/migration/meta/custom_importer/data_models/tree/boards.py
  congregate/migration/meta/custom_importer/data_models/tree/ci_cd_settings.py
  congregate/migration/meta/custom_importer/data_models/tree/ci_pipelines.py
  congregate/migration/meta/custom_importer/data_models/tree/commit_notes.py
  congregate/migration/meta/custom_importer/data_models/tree/container_expiration_policy.py
  congregate/migration/meta/custom_importer/data_models/tree/issues.py
  congregate/migration/meta/custom_importer/data_models/tree/labels.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_requests.py
  congregate/migration/meta/custom_importer/data_models/tree/project_features.py
  congregate/migration/meta/custom_importer/data_models/tree/project_members.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_branches.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_tags.py
  congregate/migration/meta/custom_importer/data_models/tree/push_rule.py
  congregate/migration/meta/custom_importer/data_models/tree/releases.py
  congregate/migration/meta/custom_importer/data_models/tree/security_setting.py
  congregate/migration/meta/custom_importer/export_builder.py
  congregate/migration/meta/custom_importer/export_utils.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Permanently delete groups and projects
  congregate/main.py
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/groups.py
  congregate/migration/gitlab/projects.py
  congregate/migration/meta/base_migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update logs
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Updating optional and default fields across the custom importer dataclasses
  congregate/migration/meta/custom_importer/data_models/project.py
  congregate/migration/meta/custom_importer/data_models/project_export.py
  congregate/migration/meta/custom_importer/data_models/tree/approval_rules.py
  congregate/migration/meta/custom_importer/data_models/tree/boards.py
  congregate/migration/meta/custom_importer/data_models/tree/ci_pipelines.py
  congregate/migration/meta/custom_importer/data_models/tree/commit_notes.py
  congregate/migration/meta/custom_importer/data_models/tree/issues.py
  congregate/migration/meta/custom_importer/data_models/tree/labels.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_requests.py
  congregate/migration/meta/custom_importer/data_models/tree/note.py
  congregate/migration/meta/custom_importer/data_models/tree/note_author.py
  congregate/migration/meta/custom_importer/data_models/tree/project_feature.py
  congregate/migration/meta/custom_importer/data_models/tree/project_members.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_branches.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_tags.py
  congregate/migration/meta/custom_importer/data_models/tree/push_rule.py
  congregate/migration/meta/custom_importer/data_models/tree/releases.py
  congregate/migration/meta/custom_importer/data_models/tree/security_setting.py
  congregate/migration/meta/custom_importer/data_models/tree/system_note_metadata.py
  congregate/migration/meta/custom_importer/export_builder.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Updating list defaults for custom_importer. Updating pyproject.toml to include gitpython
  congregate/migration/meta/custom_importer/data_models/project_export.py
  congregate/migration/meta/custom_importer/data_models/tree/boards.py
  congregate/migration/meta/custom_importer/data_models/tree/ci_pipelines.py
  congregate/migration/meta/custom_importer/data_models/tree/commit_notes.py
  congregate/migration/meta/custom_importer/data_models/tree/issues.py
  congregate/migration/meta/custom_importer/data_models/tree/labels.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_requests.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_branches.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_tags.py
  congregate/migration/meta/custom_importer/data_models/tree/releases.py
  congregate/migration/meta/custom_importer/export_builder.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Fixing typo
  congregate/migration/meta/custom_importer/data_models/project_export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

starting to build out PR exporting functionality for ADO
  congregate/migration/ado/api/pull_requests.py
  congregate/migration/ado/api/teams.py
  congregate/migration/ado/export.py
  congregate/migration/meta/custom_importer/export_builder.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding more dataclasses for building out MRs through the custom importer
  congregate/migration/ado/export.py
  congregate/migration/meta/custom_importer/data_models/tree/author.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_request_commit.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_request_diff.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_requests.py
  congregate/migration/meta/custom_importer/data_models/tree/note.py
  congregate/migration/meta/custom_importer/data_models/tree/note_author.py
  congregate/migration/meta/custom_importer/export_builder.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Adding MR diff data to ADO PR migration
  congregate/migration/ado/api/pull_requests.py
  congregate/migration/ado/export.py
  congregate/migration/ado/migrate.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_request_commit.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_request_diff.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_request_diff_file.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_requests.py
  congregate/migration/meta/custom_importer/export_builder.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Rough cut on placeholder mapping scripts
  dev/bin/placeholder-user-scripts/find-on-destination-by-source-primary-email.py
  dev/bin/placeholder-user-scripts/get-list-of-group-members-on-destination-and-dump-to-csv.py
  dev/bin/placeholder-user-scripts/retrieve-placeholder-users-for-namespace.py
  dev/bin/placeholder-user-scripts/set-destination-public-email-based-on-source-primary-email-search.py
  dev/bin/placeholder-user-scripts/update-placeholder-mapping.py
Due: none

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Adding basic PR notes to MR data
  congregate/migration/ado/export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Minor code cleanup removing print statements
  congregate/migration/ado/export.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_requests.py
  congregate/migration/meta/custom_importer/export_builder.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

adding cloned repo folder removal function
  congregate/migration/meta/custom_importer/export_builder.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

removing build_models file
  congregate/migration/meta/custom_importer/build_models.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Resolve "Migrate or Report on a Groups Membership that contains Groups"
  congregate/migration/gitlab/api/groups.py
  congregate/migration/gitlab/migrate.py
  congregate/migration/meta/base_migrate.py
  congregate/tests/migration/gitlab/test_groups.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add note on DT and CLI connection
  docs/direct-transfer-usage.md
Due: none

Resolve "Stage Data pagination in UI not working"
  congregate/ui/models.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py
