Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, build jenkins seed image, check ldap compose yaml, test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, test:Jenkins Integration Tests, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, docs update, mvc, pages, update gitlab-ps-utils

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cp ./docker/test/py38.Dockerfile ./Dockerfile
  ...

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cp docker/bitbucket/Dockerfile ./
  ...

build jenkins seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/jenkins
  ...

check ldap compose yaml:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - cd docker/ldap
  - docker info
  - apk update
  ...

test:pylint:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint.sh
  artifacts:
    paths:
    - pylint.txt

test:pylint:syntax-errors:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - ci/pylint-errors.sh
  artifacts:
    paths:
    - pylint.txt
    when: on_failure

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  script:
  - poetry run pytest -m 'unit_test' --cov-report html --cov-report term-missing --cov-config=.coveragerc --cov=congregate congregate/tests/
  ...

test:end-to-end full:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:nightly
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:Jenkins Integration Tests:
  services:
  - name: $JENKINS_SEED_IMAGE_NAME
    alias: jenkins-test
  stage: test
  before_script:
  - pip install poetry
  - poetry config experimental.new-installer false
  - poetry install
  - ./congregate.sh init
  retry: 2
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  ...

mvc:
  stage: test
  script:
  - echo "Placeholder job to trigger a min. pipeline for non-code related changes"

Remove len check from staging
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
  congregate/cli/stage_users.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add support ticket assignee
  .gitlab/issue_templates/congregate-support.md
  congregate/helpers/mdbc.py
  congregate/migration/gitlab/api/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

initial file move
  customer/MAKE A COPY - TEMPLATE of Pre_Post-Migration.md
Due: docs update

Un-embed logo
  customer/MAKE A COPY - TEMPLATE of Pre_Post-Migration.md
  customer/img/gitlab-logo-100.png
  customer/img/gitlab-logo-200.png
Due: docs update

links work?
  customer/MAKE A COPY - TEMPLATE of Pre_Post-Migration.md
Due: docs update

testing toc
  customer/MAKE A COPY - TEMPLATE of Pre_Post-Migration.md
Due: docs update

missed 1
  customer/MAKE A COPY - TEMPLATE of Pre_Post-Migration.md
Due: docs update

check headers
  customer/MAKE A COPY - TEMPLATE of Pre_Post-Migration.md
Due: docs update

Custom importer interface
  .gitlab-ci.yml
  congregate/migration/meta/custom_importer/README.md
  congregate/migration/meta/custom_importer/data_models/project.py
  congregate/migration/meta/custom_importer/data_models/project_export.py
  congregate/migration/meta/custom_importer/data_models/tree/approval_rules.py
  congregate/migration/meta/custom_importer/data_models/tree/author.py
  congregate/migration/meta/custom_importer/data_models/tree/auto_devops.py
  congregate/migration/meta/custom_importer/data_models/tree/boards.py
  congregate/migration/meta/custom_importer/data_models/tree/ci_cd_settings.py
  congregate/migration/meta/custom_importer/data_models/tree/ci_pipelines.py
  congregate/migration/meta/custom_importer/data_models/tree/commit_notes.py
  congregate/migration/meta/custom_importer/data_models/tree/container_expiration_policy.py
  congregate/migration/meta/custom_importer/data_models/tree/error_tracking_setting.py
  congregate/migration/meta/custom_importer/data_models/tree/issues.py
  congregate/migration/meta/custom_importer/data_models/tree/labels.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_request_commit.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_request_diff.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_request_diff_file.py
  congregate/migration/meta/custom_importer/data_models/tree/merge_requests.py
  congregate/migration/meta/custom_importer/data_models/tree/note.py
  congregate/migration/meta/custom_importer/data_models/tree/project_features.py
  congregate/migration/meta/custom_importer/data_models/tree/project_members.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_branches.py
  congregate/migration/meta/custom_importer/data_models/tree/protected_tags.py
  congregate/migration/meta/custom_importer/data_models/tree/push_rule.py
  congregate/migration/meta/custom_importer/data_models/tree/releases.py
  congregate/migration/meta/custom_importer/data_models/tree/security_setting.py
  congregate/migration/meta/custom_importer/data_models/tree/service_desk_setting.py
  congregate/migration/meta/custom_importer/data_models/tree/system_note_metadata.py
  congregate/migration/meta/custom_importer/data_models/tree/user_contributions.py
  congregate/migration/meta/custom_importer/export_builder.py
  poetry.lock
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning, mvc

Add flag to skip archived projects from list
  congregate/cli/list_source.py
  congregate/main.py
  congregate/migration/bitbucket/base.py
  congregate/migration/bitbucket/projects.py
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix typo
  congregate/migration/bitbucket/repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix test cases
  congregate/tests/migration/bitbucket/test_projects.py
  congregate/tests/migration/bitbucket/test_repos.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add optional default value for skip archived flag
  congregate/migration/bitbucket/base.py
  congregate/migration/bitbucket/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Add minor change
  congregate/migration/ado/export.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Starting to wire ADO export into ADO migration stage
  congregate/migration/ado/base.py
  congregate/migration/ado/export.py
  congregate/migration/ado/migrate.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/meta/custom_importer/export_builder.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Archive DT imported projects
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add more config items to DT runbook
  runbooks/setting-up-direct-transfer-migrations.md
Due: docs update, pages

Fix src token validation when no access
  congregate/helpers/configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add filter in diff for projects with mismatch
  congregate/migration/diff/basediff.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Resolve "Groups sometimes don't stage when staging by project ID."
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Fix UT
  congregate/tests/helpers/test_configuration_validator.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Retain contributors only for file-based
  congregate/main.py
  congregate/migration/gitlab/migrate.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

publicEmail -> public_email
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update docs and docstring
  congregate/cli/list_source.py
  runbooks/setting-up-direct-transfer-migrations.md
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, docs update, pages

Ccontributor public_email
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Create separate method
  congregate/migration/gitlab/contributor_retention.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Update docstring
  congregate/cli/list_source.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Bump version
  pyproject.toml
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release, container-scan-build:centos, container-scan-build:debian, container_scanning, debian_container_scanning

Add default location
  congregate/helpers/conf.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Move lower to utility
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/importexport.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Fix response code check
  congregate/migration/gitlab/projects.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Add customer migration docs
  customer/bitbucket-cloud-migration-doc.md
  customer/gitlab_dot_com_backup.md
  customer/img/bbc-atlassian-user.png
  customer/img/bbc-pr-gitlab-mr.png
  customer/img/import-projects-from-bitbucket-cloud.png
Due: docs update

Add iterations to matrix
  customer/gitlab-migration-features-matrix.md
Due: docs update

Update migration_vms_and_networking.md
  customer/migration_vms_and_networking.md
Due: docs update

Adding more membership detail to custom importer
  congregate/migration/ado/export.py
  congregate/migration/meta/custom_importer/data_models/tree/project_member_user.py
  congregate/migration/meta/custom_importer/data_models/tree/project_members.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, debian rolling release, centos rolling release

Update file gitlab-migration-features-matrix.md
  customer/gitlab-migration-features-matrix.md
Due: docs update

Add more troubleshooting to setting-up-direct-transfer
  runbooks/setting-up-direct-transfer-migrations.md
Due: docs update, pages

Update 2 files
  customer/famq.md
  docs/troubleshooting_s3_import.md
Due: docs update

Update file migrations-to-dot-com.md
  runbooks/migrations-to-dot-com.md
Due: docs update, pages

Cleanup and logs
  congregate/helpers/migrate_utils.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/merge_request_approvals.py
Due: test:pylint, test:pylint:syntax-errors, test:unit, test:end-to-end full, test:end-to-end single group, debian rolling release, centos rolling release

Path conditions:
  build: any of: docker/test/*
  build bitbucket seed image: any of: docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  build jenkins seed image: any of: docker/jenkins/Dockerfile, docker/jenkins/entrypoint.sh, docker/jenkins/jenkins.py, docker/jenkins/setup_and_seed.py
  check ldap compose yaml: any of: docker/ldap/**/*
  test:pylint: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:pylint:syntax-errors: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, ci/spin_up_test_vm.sh, package.json, ci/pylint*.sh, .pylintrc, delete_azure_vm.ps1, restore_azure_vm.sh
  test:end-to-end full: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:end-to-end single group: any of: .gitlab-ci.yml, congregate/helpers/**/*, congregate/migration/gitlab/**/*, congregate/migration/migrate.py
  test:Jenkins Integration Tests: any of: congregate/migration/jenkins/**/*
  debian rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/debian.Dockerfile
  centos rolling release: any of: congregate/**/*.py, frontend/**/*, congregate.sh, pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:centos: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile
  container-scan-build:debian: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  container_scanning: any of: pyproject.toml, package.json, docker/release/centos.Dockerfile, docker/release/debian.Dockerfile
  debian_container_scanning: any of: pyproject.toml, package.json, docker/release/debian.Dockerfile
  docs update: any of: runbooks/*, customer/*
  mvc: any of: ./**/*.md, ./*.md, README.md, docker/release/*, .gitlab-ci.yml
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
  update gitlab-ps-utils: any of: congregate/helpers/api.py, congregate/helpers/audit_logger.py, congregate/helpers/jsondiff.py, congregate/helpers/logger.py, congregate/helpers/misc_utils.py, congregate/helpers/process.py, congregate/helpers/processes.py, congregate/helpers/file_utils.py, congregate/helpers/dict_utils.py, congregate/helpers/list_utils.py, congregate/helpers/string_utils.py, congregate/helpers/json_utils.py, congregate/helpers/xml_utils.py, congregate/helpers/decorators.py, congregate/tests/helpers/test_dict_utils.py, congregate/tests/helpers/test_misc_utils.py, congregate/tests/helpers/test_string_utils.py, congregate/tests/helpers/test_list_utils.py, congregate/tests/helpers/test_json_utils.py, congregate/tests/helpers/test_file_utils.py
