Repository LINWEN607/congregate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build bitbucket seed image, test:unit, test:end-to-end full, test:end-to-end single group, test:GitHub Server end to end, runbook update, pages

build:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  - /bin/sh build_test_image.sh

build bitbucket seed image:
  image: docker:${DOCKER_VERSION}
  services:
  - docker:${DOCKER_VERSION}-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  tags:
  - gitlab-org-docker
  before_script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p $CI_BUILD_TOKEN
  stage: build
  script:
  ...

test:unit:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  script:
  - poetry run pytest -m 'not e2e and not e2e_setup and not e2e_setup_2' --cov-report html --cov-config=.coveragerc --cov=congregate congregate/tests/
  artifacts:
    paths:
    - htmlcov/*

test:end-to-end full:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:end-to-end single group:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  services:
  - name: gitlab/gitlab-ee:13.1.4-ee.0
    alias: gitlab_destination
    command:
    - sh
    - -c
  ...

test:GitHub Server end to end:
  stage: test
  before_script:
  - pip install poetry
  - poetry install
  - ./congregate.sh init
  image: ${TEST_IMAGE_NAME}
  tags:
  - congregate-auto-scale-runner
  script:
  - curl -k $GH_TEST_INSTANCE_URL -v

runbook update:
  stage: test
  script:
  - echo "This is a placeholder job ran only when runbooks are changed"
  - echo "Storing any changed runbook to artifacts that will expire in 1 week."
  artifacts:
    paths:
    - runbooks/*
    expire_in: 1 week

pages:
  stage: deploy
  script:
  - mkdir -p data
  - poetry install
  - poetry run sphinx-apidoc -f -o congregate/docs/source/ ./
  - cd congregate/docs
  - make html
  - mv build/html ../../public
  artifacts:
    paths:
    - public

Update runbooks/README.md
  runbooks/README.md
Due: runbook update, pages

Mention dev/bin/env alias for kill command
  runbooks/README.md
Due: runbook update, pages

Update runbooks
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: runbook update, pages

Extend list command
  congregate/cli/list_source.py
  congregate/main.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add skip-ci argument
  README.md
  congregate/cli/list_source.py
  congregate/main.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

List projects, groups, users from single or multiple GH instances
  congregate/cli/list_source.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Added two flags, one for single or multiple GH instance, one is for stage projects/groups from one of the GH instances if it is multiple
  congregate/main.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Added scm_source flag with hostname if there are multiple GH instances, we stage the projects/groups/users with the selected hostname in scm_source flag
  congregate/cli/stage_base.py
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fixed UTs errors
  congregate/migration/migrate.py
  congregate/tests/migration/github/test_orgs.py
  congregate/tests/migration/github/test_repos.py
  congregate/tests/migration/github/test_users.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update runbooks
  runbooks/migrations-from-bb-server.md
  runbooks/migrations-to-dot-com.md
  runbooks/migrations-to-self-managed.md
Due: runbook update, pages

Clean up main.py param checks
  congregate/main.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Added scm_source flag for specific hostname if multiple GH instance
  congregate/main.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Renamed src-instances and scm-source
  congregate/main.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Added warning log if we couldn't find corrrect GH instance with hostname
  congregate/cli/stage_base.py
  congregate/cli/stage_groups.py
  congregate/cli/stage_projects.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Used scm_source flag to get GH hostname and token for project importing
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fixed conflicts
  congregate/cli/list_source.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Update Congregate Readme - link Import direction
  README.md
Due: none

Improvements discovered during customer migration
  congregate/main.py
  congregate/migration/gitlab/clusters.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/hooks.py
  congregate/migration/gitlab/importexport.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Rename project_json to projects
  README.md
  congregate/cli/do_all.py
  congregate/cli/list_source.py
  congregate/cli/stage_base.py
  congregate/cli/stage_wave.py
  congregate/helpers/misc_utils.py
  congregate/main.py
  congregate/migration/bitbucket/repos.py
  congregate/migration/github/orgs.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/projects.py
  congregate/migration/gitlab/variables.py
  congregate/migration/migrate.py
  congregate/ui/models.py
  frontend/src/views/Projects.vue
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add 400 to project deletion check
  congregate/migration/gitlab/importexport.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Optimize importexport.py status check and logs
  congregate/migration/gitlab/importexport.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fixed the conflicts
  congregate/cli/list_source.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Removed print statements
  congregate/migration/gitlab/external_import.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Added src_source flag for stage wave
  congregate/cli/stage_wave.py
  congregate/main.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fixed DRY-RUN statement if DRY-RUN=False
  congregate/cli/stage_wave.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Quick fix to add teamcity_config_xml
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Added the warning if the project in the wave doesn't exit in source instance
  congregate/cli/stage_wave.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Build mongo json file args
  congregate/cli/stage_wave.py
  congregate/helpers/mdbc.py
  congregate/helpers/misc_utils.py
  congregate/main.py
  congregate/migration/github/meta/github_browser.py
  congregate/migration/github/users.py
  congregate/tests/cli/test_stage_wave.py
  congregate/tests/helpers/test_mdbc.py
  congregate/tests/helpers/test_misc_utils.py
  congregate/tests/migration/github/meta/test_github_browser.py
  congregate/tests/migration/github/test_users.py
  pyproject.toml
Due: test:unit, test:end-to-end full, test:end-to-end single group

Added multiple sources template
  congregate.conf.template
Due: none

Fixed project namespace during migration
  congregate/cli/stage_wave.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Fixed the UTs errors
  congregate/tests/cli/test_stage_wave.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Renamed project_json.json to projects.json
  congregate/cli/stage_base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Apply 1 suggestion(s) to 1 file(s)
  congregate/cli/list_source.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Apply 1 suggestion(s) to 1 file(s)
  congregate.conf.template
Due: none

Apply 1 suggestion(s) to 1 file(s)
  congregate/cli/stage_base.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add diff dictionary sorting
  congregate/helpers/jsondiff.py
  congregate/helpers/misc_utils.py
  congregate/helpers/processes.py
  congregate/main.py
  congregate/migration/github/api/gists.py
  congregate/migration/github/api/repos.py
  congregate/migration/github/diff/__init__.py
  congregate/migration/github/diff/repodiff.py
  congregate/migration/github/gists.py
  congregate/migration/github/orgs.py
  congregate/migration/github/repos.py
  congregate/migration/gitlab/api/projects.py
  congregate/migration/gitlab/diff/basediff.py
  congregate/migration/gitlab/diff/projectdiff.py
  congregate/migration/gitlab/external_import.py
  congregate/migration/migrate.py
Due: test:unit, test:end-to-end full, test:end-to-end single group

Add documentation for using Congregate
  README.md
  congregate.conf.template
  congregate/docs/source/static_docs/workflow.md
  using-congregate.md
  waves.csv
Due: test:unit, test:end-to-end full, test:end-to-end single group, pages

Path conditions:
  build: any of: .gitlab-ci.yml, docker/test/*
  build bitbucket seed image: any of: .gitlab-ci.yml, docker/bitbucket/Dockerfile, docker/bitbucket/entrypoint.py, docker/bitbucket/seed_data.sh
  test:unit: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end full: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:end-to-end single group: any of: congregate/**/*, docker/test/*, congregate.sh, pyproject.toml, poetry.lock, spin_up_test_vm.sh
  test:GitHub Server end to end: any of: .gitlab-ci.yml
  runbook update: any of: runbooks/*
  pages: any of: runbooks/*, congregate/docs/**/*, ./**/*.md
